.error-message {
  font-family: monaco, serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 14px;
  color: red;
}

.console-message {
  font-family: monaco, serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 14px;
}
.infinite-container {
  height: 200px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
