:host {
  width: 100%;
}

.all-errors-notification {
  color: blue;
}

.goto-operator-icon {
  color: blueviolet; /* change color */
  font-size: 15px; /* change size */
  border-width: 2px;
  border-style: solid;
  border-color: blueviolet;
}

.error-message {
  font-family: monaco, serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 14px;
  color: red;
  white-space: pre-line;
  margin-left: 30px;
}

.error-category {
  font-weight: bold;
}
