.create-dataset-version-button {
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: white;
  border: none;
  padding: 12px 40px; /* Increase padding for a wider button */
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 50px auto 0 auto; /* Auto margins for horizontal centering */
  width: 200px; /* Adjust width as needed */
  font-size: 18px; /* Make text slightly bigger */
  font-weight: bold; /* Optional: Make text bold */
}

.version-storage {
  padding-left: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.version-storage nz-select {
  width: 100%; /* Make the select element take the full width of its parent */
}

.right-panel-title {
  padding-left: 20px;
  text-align: center;
  margin-top: 10px;
}

nz-layout {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sider-resize-line {
  height: 100%;
  width: 5px;
  border-right: 1px solid #e8e8e8;
}

.sider-resize-handle {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-top: 400px;
}

.file-renderer {
  width: 95%;
  height: 80%;
  margin: auto;
}

.dataset-version-creator {
  height: 100%;
}

.grayed-out {
  filter: grayscale(1) opacity(0.7);
  background-color: #f0f0f0; /* Adjust the color as needed */
}

.disabled-click {
  pointer-events: none;
}

.select-and-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spaced-button {
  flex-shrink: 0;
  width: 30px;
  height: 24px;
}

nz-select {
  flex-grow: 1;
}

.file-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-size,
.version-size {
  font-size: 12px;
  color: #8c8c8c;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.version-size {
  margin-top: 8px;
}

.icon-database,
.icon-file {
  font-size: 14px;
}

.version-size-badge {
  margin-top: 10px;
}

.nz-tag {
  font-size: 12px;
}

.workflow-panel {
  align-items: center;
  gap: 10px;
}

.like-button {
  margin-left: 15px;
  width: 70px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liked {
  color: red;
}

.empty-version-indicator {
  margin-top: 15%;
}

.upload-progress-container {
  margin-left: 20px;
}
