<nav class="texera-navigation-body navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand texera-navigation-title" href="#">
    Texera <span class="version-number">0.5.0</span>
  </a>
  <div class="collapse navbar-collapse texera-navigation-utilities">
    <i class="navbar-brand utility-button fa fa-search-minus" (click)="onClickZoomOut()" title="zoom out"></i>
    <i class="navbar-brand utility-button fa fa-search-plus" (click)="onClickZoomIn()" title="zoom in"></i>
    <i (click)="onClickRestoreZoomOffsetDefault()" class="navbar-brand utility-button fa fa-arrows-alt"
       title="reset zoom"></i>
    <i (click)="onClickDeleteAllOperators()"
       [ngClass]="{'utility-button-disabled': !hasOperators(), 'utility-button': hasOperators()}"
       class="navbar-brand fa fa-trash" title="delete all"></i>

    <div class="d-inline-block" ngbDropdown>
      <button [disabled]="!executionResultID" class="drop-down-button" ngbDropdownToggle>
        <i [ngClass]="{'utility-button-disabled' : !executionResultID,
          'utility-button': executionResultID}"
           class="navbar-brand fa fa-cloud-download drop-down-icon" id="downloadExcelOptions"
           title="download execution result"></i>
      </button>
      <div aria-labelledby="downloadExcelOptions" class="drop-down-menu" ngbDropdownMenu>
        <button (click)="onClickDownloadExecutionResult('json')" class="drop-down-item"
                ngbDropdownItem>Json File (*.json)
        </button>
        <button (click)="onClickDownloadExecutionResult('csv')" class="drop-down-item"
                ngbDropdownItem> CSV File (*.csv)
        </button>
        <button (click)="onClickDownloadExecutionResult('xlsx')" class="drop-down-item"
                ngbDropdownItem>XLSX File (*.xlsx)
        </button>
      </div>
    </div>


  </div>
  <div class="collapse navbar-collapse texera-navigation-execute">
    <div class="button" tourAnchor="texera-workspace-navigation-run">
      <button class="btn btn-secondary texera-workspace-tour-run" (click)="undoRedo.undoAction()">
          <span>
            <i id="texera-undo-icon" class="fa fa-arrow-left" aria-hidden="true"></i>
          </span>
      </button>
      <button class="btn btn-secondary texera-workspace-tour-run" (click)="undoRedo.redoAction()">
          <span>
            <i aria-hidden="true" class="fa fa-arrow-right" id="texera-redo-icon"></i>
          </span>
      </button>

      <div class="button">
        <button (click)="tourService.toggle()" class="btn btn-secondary texera-workspace-tour-run"
                tourAnchor="start.tour">
              <span>
                <i id="texera-tour-icon" class="fa fa-question-circle-o" aria-hidden="true"></i>
              </span>
        </button>
        <button (click)="this.handleKill()"
                *ngIf="executionState != ExecutionState.Uninitialized && executionState != ExecutionState.Completed"
                [ngStyle]="{'background-color': '#cc3300'}"
                class="texera-navigation-run-button texera-navigation-run-text"
                mat-raised-button>
            <span>
                {{ 'kill' }}
            </span>
        </button>
        <button (click)="this.onClickHandler()" [disabled]="!isWorkflowValid"
                [ngStyle]="{'background-color': '#5081f3','opacity' : isWorkflowValid ? '' : '0.7'}"
                class="texera-navigation-run-button texera-navigation-run-text"
                mat-raised-button>
              <span>
                <i *ngIf="!showSpinner" id="texera-run-icon" class="fa fa-play" aria-hidden="true"></i>
                <i *ngIf="showSpinner" id="texera-pause-icon" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              </span>
          <span>
                  {{ buttonText }}
              </span>
        </button>
        <button [routerLink]="'/dashboard'" mat-raised-button> Dashboard</button>
        <button (click)=saveWorkflowService.handleOnclickSaveWorkFlow() mat-raised-button> Save Workflow</button>
      </div>
    </div>
  </div>
</nav>

