@import '../workspace.component.scss';
.texera-navigation-body {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.texera-navigation-run-button .texera-workspace-tour-run {
  margin-right: 3%;
  .mat-raised-button {
    height: 30px;
  }
  .texera-navigation-run-text {
    font-size: 1rem;
  }
  .fa {
    font-size: 1rem;
    padding-right: 6px;
  }
}
