@import '../workspace.component.scss';
.texera-navigation-body {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  display: inherit;
  .btn.btn-secondary {
    margin-right: 5px;
  }
  .mat-paused {
    background-color: rgb(230, 72, 72);
    color: #fff;
  }
  .mat-resume {
    background-color: rgb(91, 214, 91);
    color: #fff;
  }
}
.texera-navigation-run-button {
  margin-right: 3%;
  .mat-raised-button {
    height: 30px;
  }
  .texera-navigation-run-text {
    font-size: 1rem;
    &:hover {
      color:rgb(185, 152, 89);
    }
  }
  .fa {
    font-size: 1rem;
    padding-right: 6px;
  }
}





