@import '../workspace.component.scss';

.texera-workspace-navigation-body {
    border: 2px solid;
}


.texera-workspace-navigation-run {
  border-radius: 3px;
}

.texera-workspace-navigation-run:hover {
  background-color: #81C784;
}

#texera-loading-spinner {
  color: #85e085;
}
