*.iml
/.idea
/.idea_modules
/.project
/.settings
target/
out/


# Ignoring IntelliJ related files
.idea


# Ignoring Eclipse files
.classpath
.project
.settings

# Ignoring index folder and data folder
index
join_test_dir_1
join_test_dir_2


# Ignoring Mac OSX specific files
.DS_Store
