/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.texera-user-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  vertical-align: top;
  font-size: smaller;
  font-family: roboto, arial, serif;
  color: white;
  line-height: 34px;
  text-align: center;
}

.texera-user-avatar:hover {
  box-shadow: #ccc 0 0 10px;
}

.owner-badge {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #a52a2a;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 10px;
  color: white;
  transform: translate(50%, -50%);
  line-height: 10px;
}
