<nz-layout class="environment-layout">
  <nz-spin
    [nzSpinning]="isLoading"
    nzSize="large"
    nzTip="Loading...">
    <ul
      nz-menu
      nzMode="horizontal">
      <li
        nz-menu-item
        (click)="selectedMenu='datasets'"
        [nzSelected]="selectedMenu === 'datasets'">
        <span
          nz-icon
          nzType="database"></span>
        Datasets
      </li>
    </ul>

    <!-- datasets display -->
    <div
      *ngIf="selectedMenu === 'datasets'"
      class="datasets-container">
      <button
        class="link-dataset-btn"
        nz-button
        nzType="primary"
        (click)="onClickOpenDatasetAddModal()">
        Add Dataset
      </button>
      <!-- Content for Datasets -->
      <nz-collapse>
        <nz-collapse-panel
          *ngFor="let datasetFileTree of datasetFileTrees"
          [nzHeader]="datasetFileTree[1]"
          [nzExtra]="extraTemplate">
          <ng-template #extraTemplate>
            <i
              nz-icon
              nzType="ellipsis"
              nzTheme="outline"
              (click)="onClickOpenEnvironmentDatasetDetails(datasetFileTree[0])"></i>
          </ng-template>
          <div>
            <texera-user-dataset-version-filetree
              [fileTreeNodes]="datasetFileTree[2]"
              [isTreeNodeDeletable]="false"
              (selectedTreeNode)="displayDatasetFileContent($event, datasetFileTree[0])">
            </texera-user-dataset-version-filetree>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <!-- Link Datasets Modal -->
      <nz-modal
        [(nzVisible)]="showDatasetLinkModal"
        nzTitle="Add a new Dataset to current Environment"
        [nzMaskClosable]="true"
        (nzOnCancel)="handleCancelLinkDataset()"
        [nzFooter]="null">
        <ng-container *nzModalContent>
          <div class="link-new-dataset-area">
            <input
              [(ngModel)]="inputDatasetName"
              (input)="onUserInputDatasetName($event)"
              type="text"
              nz-input
              name="datasetName"
              placeholder="Enter Dataset Name"
              [nzAutocomplete]="auto" />
            <nz-autocomplete #auto>
              <nz-auto-option
                *ngFor="let dataset of filteredLinkingDatasets"
                [nzLabel]="dataset.name">
                <div class="auto-option-content">
                  <div class="dataset-id-container">{{dataset.did?.toString()}}</div>
                  <span class="dataset-name">{{ dataset.name }}</span>
                  <button
                    nz-button
                    nzType="primary"
                    class="dataset-option-link-btn"
                    (click)="onClickAddDataset(dataset)">
                    Add
                  </button>
                </div>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </ng-container>
      </nz-modal>

      <nz-modal
        [(nzVisible)]="showDatasetDetails"
        nzTitle="Dataset Details"
        (nzOnCancel)="handleCancelDatasetDetails()"
        [nzFooter]="modalFooter"
        [nzMaskClosable]="true">
        <ng-container *nzModalContent>
          <table class="custom-table">
            <tbody>
              <tr>
                <td class="table-label">Dataset ID</td>
                <td class="table-value">{{showingDatasetDid}}</td>
              </tr>
              <tr>
                <td class="table-label">Name</td>
                <td class="table-value">{{showingDatasetName}}</td>
              </tr>
              <tr>
                <td class="table-label">Description</td>
                <td class="table-value">{{showingDatasetDescription}}</td>
              </tr>
              <tr>
                <td class="table-label">Version Name</td>
                <td class="table-value">
                  <nz-select
                    [(ngModel)]="selectedShowingDatasetVersion"
                    (ngModelChange)="handleVersionChange($event)">
                    <nz-option
                      *ngFor="let version of showingDatasetVersions"
                      [nzValue]="version"
                      [nzLabel]="version.name"></nz-option>
                  </nz-select>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #modalFooter>
          <button
            nz-button
            nzType="default"
            (click)="handleCancelDatasetDetails()">
            Cancel
          </button>
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="onConfirmRemoveDatasetFromEnvironment()">
            Remove
          </button>
        </ng-template>
      </nz-modal>

      <nz-modal
        [(nzVisible)]="showDatasetFile"
        (nzOnCancel)="handleCancelDatasetFileDisplay()"
        [nzTitle]="selectedDatasetFilename"
        [nzFooter]="null"
        [nzMaskClosable]="true">
        <ng-container *nzModalContent>
          <texera-user-dataset-file-renderer
            [did]="selectedDatasetFileDid"
            [dvid]="selectedDatasetFileDvid"
            [filePath]="selectedDatasetFilename"
            [isMaximized]="true">
          </texera-user-dataset-file-renderer>
        </ng-container>
      </nz-modal>
    </div>
  </nz-spin>
  <!-- Add more content sections for other menu items if needed -->
</nz-layout>
