<div id="search-box">
  <input
    placeholder="search operator"
    nz-input
    [(ngModel)]="searchInputValue"
    (input)="onInput($event)"
    [nzAutocomplete]="autocomplete" />
  <nz-autocomplete
    #autocomplete
    [nzBackfill]="false"
    (selectionChange)="onSelectionChange($event)">
    <nz-auto-option
      *ngFor="let option of autocompleteOptions"
      [nzValue]="option"
      [nzLabel]="option.additionalMetadata.userFriendlyName"
      [nzDisabled]="! canModify">
      <texera-operator-label [operator]="option"></texera-operator-label>
    </nz-auto-option>
  </nz-autocomplete>
</div>
<nz-collapse
  [nzBordered]="false"
  nzAccordion>
  <nz-collapse-panel
    *ngFor="let groupName of groupNamesOrdered"
    [nzHeader]="groupName"
    class="operator-submenu-title">
    <ul
      class="operator-submenu"
      nz-menu
      [nzInlineIndent]="0"
      nzSelectable="false">
      <li
        *ngFor="let operatorSchema of operatorGroupMap.get(groupName)"
        class="texera-operator-label"
        nz-menu-item>
        <texera-operator-label [operator]="operatorSchema"></texera-operator-label>
      </li>
    </ul>
  </nz-collapse-panel>
</nz-collapse>
