#search-box {
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #e0e0e0;
}

.operator-submenu-title {
  background-color: #fff;
}

.operator-submenu {
  border: none;
}

.texera-operator-label {
  padding-left: 10px;
  padding-right: 0;
}
