.file-tree-container {
  max-height: 250px; /* Adjust the max-height as needed */
  overflow-y: auto; /* Enables vertical scrolling when content exceeds max-height */
  overflow-x: auto; /* Prevents horizontal scrolling */
}
nz-tree {
  overflow: hidden;
  margin: 0 -24px;
  padding: 0 24px;
}

.custom-node {
  cursor: pointer;
  line-height: 24px;
  margin-left: 10px;
  display: inline-block;
}

.file-name,
.folder-name {
  margin-left: 10px;
}
