<ul>
  <li
    nz-menu-item
    nz-tooltip="Home Page"
    nzMatchRouter="true"
    nzTooltipPlacement="right"
    routerLink="/dashboard/home">
    <span
      nz-icon
      nzType="home"></span>
    <span> Home </span>
  </li>
  <li
    nz-menu-item
    nz-tooltip="Search public workflows"
    nzMatchRouter="true"
    nzTooltipPlacement="right"
    routerLink="/dashboard/hub/workflow/result">
    <span
      nz-icon
      nzType="project"></span>
    <span>Workflows</span>
  </li>
  <li
    nz-menu-item
    nz-tooltip="About"
    nzMatchRouter="true"
    nzTooltipPlacement="right"
    routerLink="/dashboard/about">
    <span
      nz-icon
      nzType="info-circle"></span>
    <span>About</span>
  </li>
</ul>
