<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="source"><i fa class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Sources
    <div id="source" class="dropdown-content">
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="9" data-nb-inputs="1" data-nb-outputs="1">Source: Scan</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="24" data-nb-inputs="1" data-nb-outputs="1">Source: File</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="27" data-nb-inputs="1" data-nb-outputs="1">Source: Asterix</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="10" data-nb-inputs="1" data-nb-outputs="1">Source: Keyword</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="11" data-nb-inputs="1" data-nb-outputs="1">Source: Dictionary</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="12" data-nb-inputs="1" data-nb-outputs="1">Source: Regex</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="13" data-nb-inputs="1" data-nb-outputs="1">Source: FuzzyToken</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="16" data-nb-inputs="1" data-nb-outputs="1">Source: Word Count</div>
		    <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="29" data-nb-inputs="1" data-nb-outputs="1">Source: TwitterFeed</div>
    </div>
	</div>

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="search"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Search
    <div id="search" class="dropdown-content">
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="1" data-nb-inputs="1" data-nb-outputs="1">Keyword Search</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="2" data-nb-inputs="1" data-nb-outputs="1">Dictionary Search</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="0" data-nb-inputs="1" data-nb-outputs="1">Regex Match</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="3" data-nb-inputs="1" data-nb-outputs="1">Fuzzy Token Match</div>
    </div>
	</div>

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="analyze"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Analyze
    <div id="analyze" class="dropdown-content">
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="4" data-nb-inputs="1" data-nb-outputs="1">Entity recognition</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="5" data-nb-inputs="1" data-nb-outputs="1">Sentiment Analysis</div>
      <div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="26" data-nb-inputs="1" data-nb-outputs="1">Nltk Sentiment Analysis</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="23" data-nb-inputs="1" data-nb-outputs="1">Emoji Sentiment Analysis</div>
    </div>
	</div>


	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="split"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Split
		<div id="split" class="dropdown-content">
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="6" data-nb-inputs="1" data-nb-outputs="1">Regex Split</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="22" data-nb-inputs="1" data-nb-outputs="1">Nlp Sentence Split</div>
		</div>
	</div>

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="join"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Join
		<div id="join" class="dropdown-content">
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="14" data-nb-inputs="2" data-nb-outputs="1">Join: Character Distance</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="15" data-nb-inputs="2" data-nb-outputs="1">Join: Similarity</div>
		</div>
	</div>

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="other"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Other
		<div id="other" class="dropdown-content">
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="8" data-nb-inputs="1" data-nb-outputs="1">Projection</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="7" data-nb-inputs="1" data-nb-outputs="1">Sampling</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="17" data-nb-inputs="1" data-nb-outputs="1">Word Count</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="21" data-nb-inputs="1" data-nb-outputs="1">Comparison</div>
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="28" data-nb-inputs="1" data-nb-outputs="1">Convert Twitter</div>
		</div>
	</div>

	<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="write_db"><i class="fa fa-arrow-circle-down group-icon" aria-hidden="true"></i> Write Database
		<div id="write_db" class="dropdown-content">
			<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="25" data-nb-inputs="2" data-nb-outputs="1">Write Mysql</div>
		</div>
	</div>

	<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="19" data-nb-inputs="1" data-nb-outputs="1">View Results</div>


</div>
<div id="operator-detail-div">
	<b id="operator-detail-name"></b>
	<div id="operator-detail-content"> Hello world some detail should be here </div>
</div>
