<div>
  <nz-card>
    <h2 class="project-title">Project : {{name}}</h2>
    <div
      class="description-container"
      *ngIf="description && description.trim()">
      <markdown [data]="description"></markdown>
    </div>
    <nz-card-meta nzDescription="Created: {{creationTime | date: 'yyyy-MM-dd HH:mm'}}"></nz-card-meta>

    <div
      *ngIf="color !== null"
      id="left-div"
      [ngClass]="{'color-tag' : true, 'light-color' : colorIsBright, 'dark-color' : !colorIsBright}"
      [ngStyle]="{'color' : colorIsBright ? 'black' : 'white', 'background-color' : '#' + color}">
      color
    </div>
    <div
      *ngIf="color !== null"
      nz-tooltip="Remove project color"
      nzTooltipPlacement="bottom"
      (click)="removeProjectColor()"
      id="right-div"
      [ngClass]="{'color-tag' : true, 'light-color' : colorIsBright, 'dark-color' : !colorIsBright}"
      [ngStyle]="{'color' : colorIsBright ? 'black' : 'white', 'background-color' : '#' + color}">
      x
    </div>

    <button
      nz-button
      [(colorPicker)]="inputColor"
      [(cpToggle)]="colorPickerIsSelected"
      [cpOKButton]="false"
      [cpOKButtonText]="'Save'"
      [cpOKButtonClass]="'btn btn-primary btn-xs'"
      [cpSaveClickOutside]="false"
      [cpPresetColors]="['#ff85c0', '#ff8c50', '#bae637', '#36cfc9', '#9254de', '#808080']"
      [cpExtraTemplate]="colorMenuTemplate"
      (colorPickerSelect)="updateProjectColor(inputColor)">
      <i
        nz-icon
        nzType="format-painter"
        nzTheme="outline"
        nz-tooltip="Set project color"
        nzTooltipPlacement="bottom"></i>
    </button>
    <ng-template #colorMenuTemplate>
      <div style="display: flex; padding: 0px 16px 16px; justify-content: space-between">
        <button
          [disabled]="color === null"
          (click)="removeProjectColor()"
          class="btn btn-outline-danger btn-xs">
          Delete
        </button>
        <button
          (click)="updateProjectColor(inputColor)"
          class="btn btn-primary btn-xs">
          Save
        </button>
      </div>
    </ng-template>
  </nz-card>

  <texera-saved-workflow-section
    [pid]="pid"
    [updateProjectStatus]="updateProjectStatus"></texera-saved-workflow-section>
</div>

<div>
  <nz-card>
    <h2>Files</h2>
    <button
      (click)="onClickOpenAddFile()"
      nz-button
      nz-tooltip="Add file(s) to project"
      nzTooltipPlacement="bottom"
      type="button">
      <i
        nz-icon
        nzTheme="outline"
        nzType="plus-square"></i>
    </button>
    <button
      (click)="onClickOpenRemoveFile()"
      nz-button
      nz-tooltip="Remove workflow(s) from project"
      nzTooltipPlacement="bottom"
      type="button">
      <i
        nz-icon
        nzTheme="outline"
        nzType="minus-square"></i>
    </button>
  </nz-card>

  <nz-card>
    <nz-list>
      <nz-list-item *ngFor="let file of getUserProjectFilesArray(); let i=index">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <div class="file-name">
              <h4
                *ngIf="isEditingFileName.indexOf(i) === -1; else editFileName"
                class="file-title">
                {{file.ownerName + "/" + file.file.name}}
              </h4>
              <ng-template #editFileName>
                <input
                  #editFileName
                  (focusout)="confirmEditFileName(file, editFileName.value, i)"
                  (keyup.enter)="confirmEditFileName(file, editFileName.value, i)"
                  placeholder="{{file.file.name}}"
                  value="{{file.file.name}}" />
              </ng-template>
              <button
                (click)="isEditingFileName.push(i)"
                nz-button
                nz-tooltip="Edit File Name"
                nzSize="small"
                nzTooltipPlacement="bottom"
                nzType="text">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="edit"></i>
              </button>
              <i
                *ngIf="file.isOwner"
                ngbTooltip="You are the OWNER"
                nz-icon
                nzTheme="outline"
                nzType="user"></i>
              <i
                *ngIf="!file.isOwner"
                ngbTooltip="{{file.accessLevel}} access shared by {{file.ownerName}}"
                nz-icon
                nzTheme="outline"
                nzType="team"></i>
            </div>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description> {{addFileSizeUnit(file.file.size)}} </nz-list-item-meta-description>
        </nz-list-item-meta>

        <!-- this is temporary, TODO : refactor this once file service PR gets approved -->
        <div
          *ngIf="projectDataIsLoaded"
          class="file-project-label-container">
          <div
            *ngFor="let projectID of file.projectIDs"
            class="file-project-label">
            <div
              *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color !== null && projectID !== pid"
              nz-tooltip="Go to project page"
              nzTooltipPlacement="bottom"
              id="left-div"
              [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
              [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
              (click)="jumpToProject(userProjectsMap.get(projectID)!)">
              {{userProjectsMap.get(projectID)!.name}}
            </div>
            <div
              *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color !== null && projectID !== pid"
              nz-tooltip="Remove from project"
              nzTooltipPlacement="bottom"
              id="right-div"
              [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
              [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
              (click)="removeFileFromProject(projectID, file.file.fid)">
              x
            </div>
          </div>
        </div>

        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button
              (click)="onClickOpenFileShareAccess(file)"
              [disabled]="file.accessLevel !== 'Write'"
              nz-button
              nz-tooltip="Share the file {{file.file.name}} to others"
              nzTooltipPlacement="bottom"
              type="button">
              <i
                nz-icon
                nzTheme="outline"
                nzType="share-alt"></i>
            </button>
          </nz-list-item-action>
          <nz-list-item-action>
            <button
              (click)="downloadUserFile(file)"
              nz-button
              nz-tooltip="Download the file {{file.file.name}}"
              nzTooltipPlacement="bottom">
              <i
                nz-icon
                nzTheme="outline"
                nzType="download"></i>
            </button>
          </nz-list-item-action>
          <nz-list-item-action>
            <button
              (click)="deleteUserFileEntry(file)"
              [disabled]="file.accessLevel !== 'Write'"
              nz-button
              nz-tooltip="Delete the file {{file.file.name}}"
              nzTooltipPlacement="bottom"
              type="button">
              <i
                nz-icon
                nzTheme="outline"
                nzType="delete"></i>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
  </nz-card>
</div>
