@import "src/app/workspace/component/workspace.component";

.texera-workspace-operator-panel-body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .texera-workspace-operator-panel-search-box {
    padding: 10px;
    height: max-content;
    z-index: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    .texera-workspace-operator-panel-search-box-input {
      width: 100%;
    }
  }
  .texera-workspace-operator-panel-menu {
    flex-grow: 1;
    overflow-y: auto;
    .texera-workspace-operator-panel-subgroup {
      background-color: #fff;
      user-select: none;
      .texera-workspace-operator-panel-subgroup-menu {
        border: none;
        .texera-operator-label {
          padding: unset;
          overflow: visible;
          &:active {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.texera-workspace-operator-panel-search-box-dropdown-menu {
  padding: 0;
  .dropdown-menu-items {
    background-color: #fff;
  }
}
