<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<nz-card class="section-title">
  <h2 class="page-title">General Settings</h2>
</nz-card>

<nz-card nzTitle="Branding">
  <div class="upload-row">
    <span>Logo:</span>
    <button
      nz-button
      (click)="logoInput.click()">
      Choose a Logo
    </button>
    <input
      #logoInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileChange('logo', $event)" />
    <img
      *ngIf="logoData"
      [src]="logoData"
      alt="Logo Preview"
      class="preview-img" />
  </div>
  <div class="help-text">The logo will appear in the expanded sidebar. Recommended: use a square image.</div>

  <div class="upload-row">
    <span>Mini Logo:</span>
    <button
      nz-button
      (click)="miniLogoInput.click()">
      Choose a Mini Logo
    </button>
    <input
      #miniLogoInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileChange('mini_logo', $event)" />
    <img
      *ngIf="miniLogoData"
      [src]="miniLogoData"
      alt="Mini Logo Preview"
      class="preview-img" />
  </div>
  <div class="help-text">
    The mini logo will appear in the collapsed sidebar as a small icon. Recommended: use a square image.
  </div>

  <div class="upload-row">
    <span>Favicon:</span>
    <button
      nz-button
      (click)="faviconInput.click()">
      Choose a Favicon
    </button>
    <input
      #faviconInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileChange('favicon', $event)" />
    <img
      *ngIf="faviconData"
      [src]="faviconData"
      alt="Favicon Preview"
      class="preview-img" />
  </div>
  <div class="help-text">
    This image will be used as your browser tab icon. Recommended: use a square image (16×16 or 32×32 pixels).
  </div>

  <div class="button-row">
    <button
      nz-button
      nzType="primary"
      (click)="saveLogos()">
      Save
    </button>
    <button
      nz-button
      nzType="default"
      (click)="resetBranding()">
      Reset
    </button>
  </div>
</nz-card>

<nz-card nzTitle="Sidebar Tabs">
  <div class="tabs-group">
    <details>
      <summary class="tab-row">
        <i
          nz-icon
          nzType="caret-right"
          nzTheme="outline"
          class="arrow"></i>
        <span>Hub</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.hub_enabled"
          (ngModelChange)="saveTabs('hub_enabled')">
        </nz-switch>
      </summary>

      <div class="submenu-item">
        <span>Home</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.home_enabled"
          [nzDisabled]="!sidebarTabs.hub_enabled"
          (ngModelChange)="saveTabs('home_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Workflows</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.workflow_enabled"
          [nzDisabled]="!sidebarTabs.hub_enabled"
          (ngModelChange)="saveTabs('workflow_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Datasets</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.dataset_enabled"
          [nzDisabled]="!sidebarTabs.hub_enabled"
          (ngModelChange)="saveTabs('dataset_enabled')">
        </nz-switch>
      </div>
    </details>

    <details>
      <summary class="tab-row">
        <i
          nz-icon
          nzType="caret-right"
          nzTheme="outline"
          class="arrow"></i>
        <span>Your Work</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('your_work_enabled')">
        </nz-switch>
      </summary>

      <div class="submenu-item">
        <span>Projects</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.projects_enabled"
          [nzDisabled]="!sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('projects_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Workflows</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.workflows_enabled"
          [nzDisabled]="!sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('workflows_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Datasets</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.datasets_enabled"
          [nzDisabled]="!sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('datasets_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Quota</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.quota_enabled"
          [nzDisabled]="!sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('quota_enabled')">
        </nz-switch>
      </div>

      <div class="submenu-item">
        <span>Forum</span>
        <nz-switch
          class="tab-switch"
          [(ngModel)]="sidebarTabs.forum_enabled"
          [nzDisabled]="!sidebarTabs.your_work_enabled"
          (ngModelChange)="saveTabs('forum_enabled')">
        </nz-switch>
      </div>
    </details>

    <div class="tab-row">
      <span>About</span>
      <nz-switch
        class="tab-switch"
        [(ngModel)]="sidebarTabs.about_enabled"
        (ngModelChange)="saveTabs('about_enabled')">
      </nz-switch>
    </div>

    <div class="button-row">
      <button
        nz-button
        nzType="default"
        (click)="resetTabs()">
        Reset
      </button>
    </div>
  </div>
</nz-card>

<nz-card nzTitle="Dataset">
  <div class="settings-row">
    <span>File Size:</span>
    <nz-input-number
      [(ngModel)]="maxFileSizeMB"
      [nzMin]="1"
      [nzStep]="10">
    </nz-input-number>
  </div>
  <div class="help-text-number">Maximum size allowed for individual file uploads (MB).</div>

  <div class="settings-row">
    <span>Concurrent Parts:</span>
    <nz-input-number
      [(ngModel)]="maxConcurrentChunks"
      [nzMin]="1"
      [nzStep]="1">
    </nz-input-number>
  </div>
  <div class="help-text-number">
    Number of file chunks that can be uploaded simultaneously. Higher values use more memory.
  </div>

  <div class="settings-row">
    <span>Part Size:</span>
    <nz-input-number
      [(ngModel)]="chunkSizeMB"
      [nzMin]="1"
      [nzStep]="10">
    </nz-input-number>
  </div>
  <div class="help-text-number">Size of each chunk during multipart upload in MB. Larger chunks use more memory.</div>

  <div class="button-row">
    <button
      nz-button
      nzType="primary"
      (click)="saveDatasetSettings()">
      Save
    </button>
    <button
      nz-button
      nzType="default"
      (click)="resetDatasetSettings()">
      Reset
    </button>
  </div>
</nz-card>
