/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.section-title {
  background-color: lightcoral;
}

.section-title .page-title {
  color: white;
}

.upload-row {
  display: grid;
  grid-template-columns: 80px 220px 32px;
  column-gap: 6px;
  margin-bottom: 4px;
}

.preview-img {
  margin-left: 8px;
  height: 32px;
}

.help-text {
  margin-left: 88px;
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.button-row {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}

.tabs-group {
  width: 200px;
}

.tab-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 8px;
}

.tab-switch {
  margin-left: auto;
}

details[open] .arrow {
  transform: rotate(90deg);
}

.tab-row:not(:has(.arrow)) {
  margin-left: 22px;
}

.submenu-item {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 8px;
}

.settings-row {
  display: grid;
  grid-template-columns: 130px 320px;
  column-gap: 6px;
  margin-bottom: 4px;
}

.help-text-number {
  margin-left: 140px;
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}
