[mat-dialog-title] {
  background: #333333;
  color: #fff;
  text-align: center;
}

::ng-deep.mat-dialog-container {
  background: #333333;
  padding: 0;
  overflow: hidden;
  width: 1000px;
  height: 650px;
}
.code-editor {
  width: 100%;
  height: 100%;
}
