#code-editor-container {
  position: fixed;
  left: 25vw;
  top: random(100) + px;
  z-index: 3;
  resize: both;
  overflow: hidden;
  width: 45vw;
  height: 45vh;
  min-width: 320px;
  min-height: 240px;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

#title {
  background: #333333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  line-height: 30px;
}

#close-button {
  line-height: 0;
  color: white;
  float: right;
}

#code-editor {
  width: 100%;
  height: 100%;
}

::ng-deep .yRemoteSelectionHead {
  position: absolute;
  border-left: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 100%;
  box-sizing: border-box;
}

::ng-deep .yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
