[mat-dialog-title] {
  background: #333333;
  color: #fff;
  text-align: center;
}

::ng-deep.mat-dialog-container {
  background: #333333;
  padding: 0;
  overflow: hidden;
  width: 1000px;
  height: 650px;
}

.code-editor {
  width: 100%;
  height: 100%;
}

.close-button {
  height: 30px !important;
  width: 30px !important;
  background-color: lightslategrey;
  float: right;
  top: 5px;
  right: 10px;
}

.close-icon {
  margin-bottom: 11px;
  color: white;
  transition: 1s ease-in-out;
}

::ng-deep .yRemoteSelectionHead {
  position: absolute;
  border-left: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 100%;
  box-sizing: border-box;
}

::ng-deep .yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
