@import "~c3/c3.min.css";
@import "material-custom-theme.scss";

// make the UI takes full screen
html,
body,
.viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.popover {
  max-width: 670px;
  max-height: 700px;
}

.ant-image-preview-img {
  width: 50%;
  height: 60%;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.21);
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.ant-table-pagination {
  justify-content: center;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
