<nz-button-group
  class="filter-button-group"
  ngbDropdown>
  <a
    [nzDropdownMenu]="mtimeSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'border-style': 'double'}"
    class="modification-time-button">
    <button
      id="mtimeSort"
      ngbDropdownToggle
      nz-button
      title="Modification Time">
      <i
        nz-icon
        nzType="form"
        nzTheme="outline"
        nz-tooltip="Modification Time"></i>
    </button>
  </a>

  <nz-dropdown-menu #mtimeSearchOptions="nzDropdownMenu">
    <nz-range-picker
      nzInline
      [(ngModel)]="selectedMtime"
      (ngModelChange)="buildMasterFilterList()"
      ngDefaultControl></nz-range-picker>
  </nz-dropdown-menu>

  <a
    [nzDropdownMenu]="ctimeSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'border-style': 'double'}"
    class="search-creation-time-button">
    <button
      id="ctimeSort"
      ngbDropdownToggle
      nz-button
      title="Creation Time">
      <i
        nz-icon
        nzType="calendar"
        nzTheme="outline"
        nz-tooltip="Creation Time"></i>
    </button>
  </a>
  <nz-dropdown-menu #ctimeSearchOptions="nzDropdownMenu">
    <nz-range-picker
      nzInline
      [(ngModel)]="selectedCtime"
      (ngModelChange)="buildMasterFilterList()"
      ngDefaultControl></nz-range-picker>
  </nz-dropdown-menu>

  <a
    [nzDropdownMenu]="ownerSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
    class="search-owners-button">
    <button
      id="sortOwner"
      ngbDropdownToggle
      nz-button
      title="Owner">
      <i
        nz-icon
        nzTheme="outline"
        nzType="user"
        nz-tooltip="Owner"></i>
    </button>
  </a>
  <nz-dropdown-menu #ownerSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      *ngFor="let owner of owners">
      <li nz-menu-item>
        <label
          nz-checkbox
          ngDefaultControl
          [(ngModel)]="owner.checked"
          (ngModelChange)="updateSelectedOwners()"
          >{{owner.userName}}</label
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <a
    [nzDropdownMenu]="IDSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
    class="search-wids-button">
    <button
      id="sortID"
      ngbDropdownToggle
      nz-button
      title="Workflow ID">
      <i
        nz-icon
        nzTheme="outline"
        nzType="ordered-list"
        nz-tooltip="Workflow ID"></i>
    </button>
  </a>
  <nz-dropdown-menu #IDSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      *ngFor="let wid of wids">
      <li nz-menu-item>
        <label
          nz-checkbox
          ngDefaultControl
          [(ngModel)]="wid.checked"
          (ngModelChange)="updateSelectedIDs()"
          >{{wid.id}}</label
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <a
    [nzDropdownMenu]="operatorSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'border-style': 'double'}"
    class="search-operators-button">
    <button
      id="sortOperator"
      ngbDropdownToggle
      nz-button
      title="Operators">
      <i
        nz-icon
        nzType="appstore"
        nzTheme="outline"
        nz-tooltip="Operators"></i>
    </button>
  </a>
  <nz-dropdown-menu #operatorSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      *ngFor="let group of operatorGroups">
      <li
        nz-submenu
        nzTitle="{{group}}">
        <ul *ngFor="let operator of operators.get(group)">
          <li nz-menu-item>
            <label
              nz-checkbox
              ngDefaultControl
              [(ngModel)]="operator.checked"
              (ngModelChange)="updateSelectedOperators()"
              >{{operator.userFriendlyName}}</label
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-dropdown-menu>

  <a
    *ngIf="pid === null"
    [nzDropdownMenu]="projectSearchOptions"
    nz-dropdown
    nzTrigger="click"
    [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
    class="search-projects-button">
    <button
      id="sortProject"
      ngbDropdownToggle
      nz-button
      title="Projects">
      <i
        nz-icon
        nzType="file"
        nzTheme="outline"
        nz-tooltip="Projects"></i>
    </button>
  </a>
  <nz-dropdown-menu #projectSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      *ngFor="let project of userProjectsDropdown">
      <li nz-menu-item>
        <label
          nz-checkbox
          ngDefaultControl
          [(ngModel)]="project.checked"
          (ngModelChange)="updateSelectedProjects()"
          >{{project.name}}</label
        >
      </li>
    </ul>
  </nz-dropdown-menu>
</nz-button-group>
