@import "../workspace.component.scss";
.texera-workspace-workflow-editor-body {
  overflow: hidden;
}

.texera-workspace-workflow-jointjs {
  background-color: #f6f6f6;
}

// .texera-mini-map {
//   position: absolute;
//   bottom: 0;
//   left: 0;

//   overflow: hidden;
//   z-index: 1000;

//   backdrop-filter: blur(2px);
//   opacity: 0.7;
//   box-shadow: -2px 2px 2px rgba(0,0,0,0.2);
// }

::ng-deep .texera-workspace-workflow-editor-body .custom-highlighted-link.connection {
  stroke: #e59700 !important ;
}

/**
  * Component styles normally apply only to the HTML in the component's own template.
  * Using ::ng-deep would force a style down through
  * the child component tree into all the child component views
  *
  * The styles defined here under ::ng-deep is used to override
  * the default style of the operators defined by the JointJS.
  * !important forces the browser to make the style defined here
  * higher prioritized.
  **/
::ng-deep .texera-workspace-workflow-editor-body .marker-arrowhead {
  fill: #919191 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .connection-wrap {
  stroke: #919191 !important;
  stroke-width: 0 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove {
  width: 24px !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove path {
  fill: #d8656a !important;
  transform: translate(-12px, -12px) !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove circle {
  fill-opacity: 0 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools {
  display: contents !important;
}

::ng-deep .texera-workspace-workflow-editor-body .available-magnet {
  fill: #6f9d52 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .available-cell rect.body {
  stroke: #70c883 !important;
}
