@import '../workspace.component.scss';
.texera-workspace-workflow-editor-body {
  border: 2px solid;
  overflow: hidden;
}

::ng-deep .texera-workspace-workflow-editor-body .marker-arrowhead {
  fill: #919191 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .connection {
  stroke: #919191 !important;
  stroke-width: 2 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .connection-wrap {
  stroke: #919191 !important;
  stroke-width: 0 !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove {
  width: 24px !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove path {
  fill: #D8656A !important;
  transform: translate(-12px, -12px)  !important;
}

::ng-deep .texera-workspace-workflow-editor-body .link-tools .tool-remove circle{
  fill-opacity: 0 !important;
}
