<div style = "text-align: center;">
  <button class = "zoom_button" style = "background-image: url('http://ku.90sjimg.com/element_origin_min_pic/00/94/03/3456f2b5e09ea41.jpg');" (click)="Shrink()"></button>
  <button class = "zoom_button" style = "background-image: url('http://img2.3png.com/60af61638484924441ccfb265ea789af6dae.png');" (click)="Zoom()"></button>
</div>
<div class="texera-workspace-workflow-editor-body texera-workflow-component-body" [attr.id]="WORKFLOW_EDITOR_JOINTJS_WRAPPER_ID">
  <div class="texera-workspace-workflow-jointjs" [attr.id]="WORKFLOW_EDITOR_JOINTJS_ID">
  </div>
</div>
