<div
  class="about-page-container"
  nz-row
  nzJustify="space-around"
  nzAlign="middle">
  <div
    nz-col
    nzFlex="auto"
    class="content">
    <h1 class="about-title">About Texera Hub</h1>

    <p>
      The Texera Hub is an online platform for community users with various backgrounds to learn and practice data
      science, AI, and machine learning.
    </p>
    <p>It also allows users to share their datasets and analyze workflows.</p>

    <h2 class="content-title">Key Features</h2>
    <ul class="text-content">
      <li>Supporting no-code/low-code data science and AI/ML using GUI-based workflows</li>
      <li>Real-time collaboration with shared editing and shared execution of the same workflow by multiple users</li>
      <li>Allow user-defined functions (UDFs) in languages such as Python, R, Java, and Scala</li>
      <li>Debugging</li>
      <li>Parallel computing</li>
      <li>Commenting</li>
      <li>Version control</li>
      <li>Access control of datasets and workflows</li>
    </ul>
    <img
      class="workflow-gui-screenshot"
      src="../../../../../assets/workflow_gui.png"
      alt="workflow gui screenshot" />
    <h2 class="learn-more-title">Learn More</h2>
    <div class="learn-more-section">
      <p>
        To learn more, please visit <a href="http://texera.io">texera.io</a>. The
        <a href="https://github.com/Texera/texera">source code</a> of the platform is available on GitHub. If you have
        comments and questions, please send email to
        <img
          src="../../../../../assets/texera_email_screenshot.png"
          alt="texera email screenshot" />
        .
      </p>
    </div>
    <texera-local-login
      *ngIf="localLogin"
      class="login-container"
      nz-col
      nzFlex="300px"></texera-local-login>
  </div>
</div>
