.about-page-container {
  overflow-y: auto;
  height: 100%;
  padding: 0 133px;
}

.content {
  margin-top: 40px;
  max-width: 1600px;
  width: 100%;
  text-align: left;
}

.content > h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.content > h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.content > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 10px;
}

#logo {
  height: 70px;
  padding: 0;
  margin-right: 14px;
}

.workflow-gui-screenshot {
  width: 100%;
  height: auto;
}

.login-container {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 100%;
  background: white;
}

.text-content {
  width: 70%;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

.learn-more-section {
  margin-top: 10px;
  text-align: left;

  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;

    a {
      color: #007acc;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
