<div>
  <nz-table
    *ngIf="versionsList"
    [nzData]="versionsList"
    [nzShowPagination]="false">
    <thead>
      <tr>
        <th *ngFor="let column of versionTableHeaders">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of versionsList; let i=index; let l=count;">
        <tr *ngIf="(!row.importance && row.expand) || row.importance">
          <td
            [nzShowExpand]="row.importance"
            [(nzExpand)]="row.expand"
            (nzExpandChange)="collapse(i, $event)"></td>
          <td>
            <button
              nz-button
              nzType="link"
              (click)="getVersion(row.vId)"
              class="version-entry-link">
              {{ (l-i) }}
            </button>
          </td>
          <td>
            <button
              class="version-entry-link"
              nz-button
              nzType="link"
              (click)="getVersion(row.vId)">
              {{row.creationTime | date:'MM/dd/yyyy HH:mm:ss zzz'}}
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
