<div>
  <nz-table
    *ngIf="currentVersionsList"
    [nzData]="currentVersionsList"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="pageSizeOptions"
    [nzPageSize]="pageSize"
    [nzPageIndex]="currentPageIndex"
    [nzTotal]="numOfVersion"
    [nzFrontPagination]="false"
    (nzPageSizeChange)="onPageSizeChange($event)"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th *ngFor="let column of versionTableHeaders">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of currentVersionsList; let i=index;">
        <tr *ngIf="(!row.importance && row.expand) || row.importance">
          <td [nzShowExpand]="row.importance" [(nzExpand)]="row.expand" (nzExpandChange)="collapse(i, $event)"></td>
          <td>
            <button nz-button nzType="link" (click)="getVersion(row.vId)" class="version-entry-link">
              {{ numOfVersion - (i + (currentPageIndex - 1) * pageSize) }}
            </button>
          </td>
          <td>
            <button class="version-entry-link" nz-button nzType="link" (click)="getVersion(row.vId)">
              {{row.creationTime | date:'MM/dd/yyyy HH:mm:ss zzz'}}
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
