<div class="navbar-header">
	<a class="navbar-brand" href="#">TextDB</a>
</div>

<div class="collapse navbar-collapse">
	<div class="nav navbar-nav navbar-left btn-toolbar">
		<button type="button" class="btn btn-default navbar-btn active">Editor</button>
	</div>

	<div class="nav navbar-nav navbar-right btn-toolbar">
		<button type="button" class="btn btn-default navbar-btn delete-button" (click) = "deleteOperator()">-</button>
    <button type="button" (click)="onClick($event)" class="btn btn-default navbar-btn">Run</button>
	</div>
</div>
