<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div>
  <button
    nz-button
    id="minimap-button"
    (click)="hidden = !hidden">
    <span
      nz-icon
      nzType="{{ hidden ? 'global' : 'minus' }}"></span>
  </button>
  <button
    nz-button
    id="minimap-center-button"
    (click)="triggerCenter()"
    title="Center View">
    <span
      nz-icon
      nzType="environment"></span>
  </button>
  <button
    id="minimap-zoom-out-button"
    (click)="onClickZoomOut()"
    nz-button
    title="zoom out">
    <i
      nz-icon
      nzType="zoom-out"></i>
  </button>
  <button
    id="minimap-zoom-in-button"
    (click)="onClickZoomIn()"
    nz-button
    title="zoom in">
    <i
      nz-icon
      nzType="zoom-in"></i>
  </button>
  <div
    [hidden]="hidden"
    id="mini-map-container">
    <div id="mini-map"></div>
    <div
      id="mini-map-navigator"
      #navigatorDrag="cdkDrag"
      cdkDrag
      (cdkDragMoved)="onDrag($event)"
      (cdkDragStarted)="dragging=true"
      (cdkDragEnded)="dragging=false"></div>
  </div>
</div>
