@import "../dashboard.component.scss";

.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-btn-icon-only {
  margin-left: 5px;
  margin-right: 5px;
}

/**
  * Create a 3*1 grid area
  * The first row contains add and sort button. 
  * The second row contains the search bar.
  * The third row contains the saved workflow/files list.
  * 
  * This layout is shared between workflows and files section.
  *
  *              ******************
  *              *                *
  *              ******************
  *              *                *
  *              ******************
  *              *                *
  *              *                *
  *              *                *
  *              ******************
  **/
$section-header-height: 120px;
$section-search-bar-height: 60px;

.section-container {
  display: grid;
  grid-template-rows:
    $section-header-height
    $section-search-bar-height
    calc((100% - #{$section-header-height} - #{$section-search-bar-height}));
}

/**
  * grid of the first row which contains title and utility buttons
  **/
.section-title {
  grid-row-start: 1;
  grid-row-end: 2;

  .page-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .utility-button-group {
    float: left;
  }
}

/**
  * grid of the second row which contains the search bar
  **/
.section-search-bar {
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  padding: 4px 24px;

  .search-input-box {
    width: 100%;
    align-self: center;
  }
}

.workflow-search-bar {
  margin-left: 10px;
  // TODO: combine this inside section-search-bar
  //        after unifying the search bar of workflows and files
}

/**
  * the third grid of the workflow/files list.
  * including css shared by workflow/file item
  **/
.section-list-container {
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
  min-height: 100%;

  // always show the scroll bar for the virtual scroll container
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .virtual-scroll-container {
    height: calc(100vh - $dashboard-navigation-height - $section-header-height - $section-search-bar-height - 50px);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .metadata-container {
    span {
      margin: 0 1rem 0 0; // add space to the right
    }
  }
}
