/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-box {
  background-color: #f4f4f4;
  padding: 40px;
  margin: 10px;
  width: 375px;
  height: 135px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.info-heading {
  font-weight: bold;
  font-size: 18px;
}

.info-content {
  font-size: 24px;
  margin-top: 10px;
}

.charts-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;

  > div {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 100%;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
}
