@import "../user-workflow.component.scss";

/**
  * css for project label, shared by workflow section and file section
**/
.project-label-container {
  min-width: 20px;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;

  .project-label {
    display: inline;
    white-space: nowrap;

    .color-tag {
      display: inline-block;
      cursor: pointer;
    }

    .project-label-name {
      padding: 1.5px 7px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      color: inherit;
      text-decoration: none;
    }

    .project-label-remove {
      padding: 1.5px 7px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 10px;
    }

    .light-color {
      border: 1px solid gainsboro;
    }

    .light-color:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    .dark-color:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0.345) 0 0);
    }
  }
}
