@import "../user-workflow.component.scss";

/**
  * css for project label, shared by workflow section and file section
**/
.project-label-container {
  min-width: 20px;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;

  .project-label {
    display: inline;
    white-space: nowrap;

    .color-tag {
      display: inline-block;
      cursor: pointer;
    }

    .project-label-name {
      padding: 1.5px 7px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      color: inherit;
      text-decoration: none;
    }

    .project-label-remove {
      padding: 1.5px 7px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 10px;
    }

    .light-color {
      border: 1px solid gainsboro;
    }

    .light-color:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    .dark-color:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0.345) 0 0);
    }
  }
}

/**
  * css specifically for each workflow item in the list (not shared by file items)
  **/
.workflow-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .workflow-item-checkbox {
    margin: 8px;
  }

  .workflow-item-meta-title {
    display: flex;
    align-items: center;

    .workflow-name {
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
      margin-bottom: 0;
      color: inherit;
      text-decoration: none;
    }

    .workflow-name:hover {
      cursor: pointer;
    }

    i {
      position: relative;
      font-size: 17px;
    }

    i.workflow-is-owner-icon {
      margin-left: 7px;
    }
  }

  .metadata-container {
    span {
      margin: 0 1rem 0 0; // add space to the right
    }
  }

  .workflow-item-meta-description {
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 10px;
    margin-bottom: 5px;

    .workflow-description {
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(202, 202, 202);
      }
    }

    .workflow-editable-description {
      margin-bottom: 5px;
      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }
}
