<div class="user-icon">
  <div *ngIf="user">
    <texera-user-avatar
      [googleId]="user?.googleId || '' "
      [nzDropdownMenu]="menu"
      [userColor]="user?.color || ''"
      [userName]="user?.name || ''"
      class="user-avatar caret-off"
      nz-button
      nz-dropdown
      nzPlacement="bottomRight"
      nzTrigger="click">
    </texera-user-avatar>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        (click)="onClickLogout()"
        nz-menu-item>
        Sign Out
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
