<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<ul
  nz-menu
  id="docked-buttons"
  [ngClass]="{'shadow':  !width}"
  [hidden]="!currentComponent">
  <li
    nz-menu-item
    (click)="closePanel()"
    *ngIf="width">
    <span
      nz-icon
      nzType="minus"></span>
  </li>
  <li
    nz-menu-item
    (click)="openPanel()"
    *ngIf="!width"
    nz-tooltip="Property Editor">
    <span
      nz-icon
      nzType="form"></span>
  </li>
</ul>

<div
  [hidden]="!currentComponent"
  cdkDrag
  cdkDragBoundary="texera-workspace"
  id="right-container"
  nz-resizable
  [nzMinWidth]="260"
  [nzMinHeight]="300"
  [nzMaxWidth]="window.innerWidth/2"
  [nzMaxHeight]="window.innerHeight*0.85"
  [style.width.px]="width"
  [style.height.px]="height"
  (nzResize)="onResize($event)"
  [cdkDragFreeDragPosition]="dragPosition"
  class="box">
  <ul
    nz-menu
    id="property-buttons"
    [ngClass]="{'shadow':  !width}">
    <button
      nz-button
      nzType="text"
      (click)="resetPanelPosition()"
      *ngIf="width">
      <span
        nz-icon
        nzType="enter"></span>
    </button>
    <li
      nz-menu-divider
      id="divider"></li>
    <li
      nz-menu-item
      (click)="closePanel()"
      *ngIf="width">
      <span
        nz-icon
        nzType="minus"></span>
    </li>
  </ul>
  <div
    id="content"
    #contentWrapper>
    <h4
      id="title"
      cdkDragHandle
      *ngIf="width">
      Property
    </h4>
    <div id="property-editor">
      <ng-container *ngComponentOutlet="currentComponent;inputs: componentInputs"></ng-container>
    </div>
  </div>
  <nz-resize-handles
    *ngIf="width"
    [nzDirections]="['left', 'bottom', 'bottomLeft']"></nz-resize-handles>
</div>
