<ul nz-menu>
  <li
    nz-menu-item
    *ngIf="(operatorMenu.effectivelyHighlightedOperators.value.length > 0 ||
  operatorMenu.effectivelyHighlightedCommentBoxes.value.length > 0)"
    (click)="onCopy()">
    <span
      nz-icon
      nzType="copy"
      nzTheme="outline"></span
    >copy
  </li>
  <li
    nz-menu-item
    *ngIf="(operatorMenu.effectivelyHighlightedOperators.value.length > 0 ||
  operatorMenu.effectivelyHighlightedCommentBoxes.value.length > 0) &&
  isWorkflowModifiable"
    (click)="onCut()">
    <span
      nz-icon
      nzType="scissor"
      nzTheme="outline"></span
    >cut
  </li>
  <li
    nz-menu-item
    *ngIf="(operatorMenu.effectivelyHighlightedOperators.value.length === 0 &&
  operatorMenu.effectivelyHighlightedCommentBoxes.value.length === 0) &&
  isWorkflowModifiable"
    (click)="onPaste()">
    <span
      nz-icon
      nzType="snippets"
      nzTheme="outline"></span
    >paste
  </li>
  <li
    nz-menu-item
    *ngIf="operatorMenu.isDisableOperator && operatorMenu.isDisableOperatorClickable"
    (click)="operatorMenu.disableHighlightedOperators()">
    <span
      nz-icon
      nzType="stop"
      nzTheme="outline"></span
    >disable
  </li>
  <li
    nz-menu-item
    *ngIf="!operatorMenu.isDisableOperator && operatorMenu.isDisableOperatorClickable"
    (click)="operatorMenu.disableHighlightedOperators()">
    <span
      nz-icon
      nzType="stop"
      nzTheme="twotone"></span
    >enable
  </li>
  <li
    nz-menu-item
    *ngIf="(operatorMenu.isViewingResult && operatorMenu.isViewResultClickable)"
    (click)="operatorMenu.viewResultHighlightedOperators()">
    <span
      nz-icon
      nzType="eye"
      nzTheme="outline"></span
    >view result
  </li>
  <li
    nz-menu-item
    *ngIf="(! operatorMenu.isViewingResult && operatorMenu.isViewResultClickable)"
    (click)="operatorMenu.viewResultHighlightedOperators()">
    <span
      nz-icon
      nzType="eye-invisible"
      nzTheme="twotone"></span
    >remove view result
  </li>
  <li
    nz-menu-item
    *ngIf="(operatorMenu.effectivelyHighlightedOperators.value.length > 0 ||
  operatorMenu.effectivelyHighlightedCommentBoxes.value.length > 0) &&
  isWorkflowModifiable"
    (click)="onDelete()">
    <span
      nz-icon
      nzType="delete"
      nzTheme="outline"></span
    >delete
  </li>
</ul>
