/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Styles for the file tree container */
.staged-object-list-container {
  max-height: 200px; /* Adjust the max-height as needed */
  overflow-y: auto; /* Enables vertical scrolling when content exceeds max-height */
  overflow-x: auto; /* Prevents horizontal scrolling */
}

.truncate-file-path {
  display: inline-block;
  max-width: 250px; /* Adjust width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  width: 24px; /* Minimum width for button */
  height: 24px; /* Keep the button small */
  padding: 0; /* Remove extra padding */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset; /* Prevents unnecessary expansion */
}
