<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div class="file-uploader">
  <nz-alert
    *ngIf="showUploadAlert && fileUploadingFinished"
    class="file-uploader-banner"
    [nzType]="fileUploadBannerType"
    nzMessage="{{fileUploadBannerMessage}}"
    nzShowIcon
    nzCloseable
    (nzOnClose)="hideBanner()">
  </nz-alert>
  <ngx-file-drop
    dropZoneLabel="Drop files here"
    (onFileDrop)="fileDropped($event)">
    <ng-template
      class="ngx-drop-box"
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector">
      <div class="file-drop-description">
        <p>Drag & drop file/folder to upload</p>
        <!--                <p class="file-drop-hint">Consider zipping large directories for faster uploads</p>-->
        <p>or</p>
        <button
          nz-button
          nzType="primary"
          class="upload-file-button"
          (click)="openFileSelector()">
          Browser & Upload Files
        </button>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>
