<div class="collapse navbar-collapse">
	<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">
		
		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="source"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Sources
	    <div id="source" class="dropdown-content">
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="9" data-nb-inputs="1" data-nb-outputs="1">Source: Scan</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="10" data-nb-inputs="1" data-nb-outputs="1">Source: Keyword</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="11" data-nb-inputs="1" data-nb-outputs="1">Source: Dictionary</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="12" data-nb-inputs="1" data-nb-outputs="1">Source: Regex</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="13" data-nb-inputs="1" data-nb-outputs="1">Source: FuzzyToken</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="16" data-nb-inputs="1" data-nb-outputs="1">Source: Word Count</a>
	    </div>
  	</div>

		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="search"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Search
	    <div id="search" class="dropdown-content" content-type="type2">
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="1" data-nb-inputs="1" data-nb-outputs="1">Keyword Search</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="2" data-nb-inputs="1" data-nb-outputs="1">Dictionary Search</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="0" data-nb-inputs="1" data-nb-outputs="1">Regex Match</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="3" data-nb-inputs="1" data-nb-outputs="1">Fuzzy Token Match</a>
	    </div>
  	</div>

		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="analyze"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Analyze
	    <div id="analyze" class="dropdown-content" content-type="type2">
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="4" data-nb-inputs="1" data-nb-outputs="1">Entity recognition</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="5" data-nb-inputs="1" data-nb-outputs="1">Sentiment Analysis</a>
	    </div>
  	</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="8" data-nb-inputs="1" data-nb-outputs="1">Projection</div>

		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="split"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Split
			<div id="split" class="dropdown-content">
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="6" data-nb-inputs="1" data-nb-outputs="1">Split Article</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="22" data-nb-inputs="1" data-nb-outputs="1">Nlp Sentence Split</a>
				<a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="7" data-nb-inputs="1" data-nb-outputs="1">Sampling</a>
			</div>
		</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="17" data-nb-inputs="1" data-nb-outputs="1">Word Count</div>

		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="join"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Join
	    <div id="join" class="dropdown-content" content-type="type2">
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="14" data-nb-inputs="2" data-nb-outputs="1">Join: Character Distance</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="15" data-nb-inputs="2" data-nb-outputs="1">Join: Similarity</a>
	    </div>
  	</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="21" data-nb-inputs="1" data-nb-outputs="1">Comparison</div>


		<div class="btn btn-default navbar-btn dropdown" data-dropdown-type="result"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Show Result
	    <div id="result" class="dropdown-content" content-type="type2">
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="19" data-nb-inputs="1" data-nb-outputs="1">View Results</a>
	      <a class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="20" data-nb-inputs="1" data-nb-outputs="1">Output Excel</a>
	    </div>
  	</div>

	</div>
</div>
