<div class="collapse navbar-collapse">
	<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="9" data-nb-inputs="1" data-nb-outputs="1">Source: Scan</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="10" data-nb-inputs="1" data-nb-outputs="1">Source: Keyword</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="11" data-nb-inputs="1" data-nb-outputs="1">Source: Dictionary</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="12" data-nb-inputs="1" data-nb-outputs="1">Source: Regex</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="13" data-nb-inputs="1" data-nb-outputs="1">Source: FuzzyToken</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="16" data-nb-inputs="1" data-nb-outputs="1">Source: Word Count</div>
		
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="1" data-nb-inputs="1" data-nb-outputs="1">Keyword Search</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="2" data-nb-inputs="1" data-nb-outputs="1">Dictionary Search</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="0" data-nb-inputs="1" data-nb-outputs="1">Regex Match</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="3" data-nb-inputs="1" data-nb-outputs="1">Fuzzy Token Match</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="4" data-nb-inputs="1" data-nb-outputs="1">Entity recognition</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="5" data-nb-inputs="1" data-nb-outputs="1">Sentiment Analysis</div>
		
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="8" data-nb-inputs="1" data-nb-outputs="1">Projection</div>
		
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="6" data-nb-inputs="1" data-nb-outputs="1">Split Article</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="7" data-nb-inputs="1" data-nb-outputs="1">Sampling</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="17" data-nb-inputs="1" data-nb-outputs="1">Word Count</div>

		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="14" data-nb-inputs="2" data-nb-outputs="1">Join: Character Distance</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="15" data-nb-inputs="2" data-nb-outputs="1">Join: Similarity</div>
		
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="19" data-nb-inputs="1" data-nb-outputs="1">View Results</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="20" data-nb-inputs="1" data-nb-outputs="1">Output Excel</div>

	</div>
</div>
