<div class="collapse navbar-collapse">
	<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="0" data-nb-inputs="1" data-nb-outputs="1">Regex</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="1" data-nb-inputs="1" data-nb-outputs="1">Keyword</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="2" data-nb-inputs="1" data-nb-outputs="1">Dictionary</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="3" data-nb-inputs="1" data-nb-outputs="1">Fuzzy</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="4" data-nb-inputs="1" data-nb-outputs="1">NLP Entity</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="5" data-nb-inputs="1" data-nb-outputs="1">NLP Sentiment</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="6" data-nb-inputs="1" data-nb-outputs="1">Regex Split</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="7" data-nb-inputs="1" data-nb-outputs="1">Sampler</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="8" data-nb-inputs="1" data-nb-outputs="1">Projection</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="9" data-nb-inputs="1" data-nb-outputs="1">Scan Source</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="10" data-nb-inputs="1" data-nb-outputs="1">Keyword Source</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="11" data-nb-inputs="1" data-nb-outputs="1">Dictionary Source</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="12" data-nb-inputs="1" data-nb-outputs="1">Regex Source</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="13" data-nb-inputs="1" data-nb-outputs="1">FuzzyToken Source</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="14" data-nb-inputs="2" data-nb-outputs="1">DistanceJoin</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="15" data-nb-inputs="2" data-nb-outputs="1">SimilarityJoin</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="16" data-nb-inputs="1" data-nb-outputs="1">CompareNumber</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="17" data-nb-inputs="1" data-nb-outputs="1">Aggregation</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="18" data-nb-inputs="1" data-nb-outputs="1">JsonSink</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-matcher-type="19" data-nb-inputs="1" data-nb-outputs="1">Result</div>

	</div>
</div>
