/.angular/cache
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
/multi-target/dist
src/environments/version.ts

# cypress output
/e2e/cypress_log

# dependencies
/node_modules
/multi-target/node_modules


.angular
