<h3 *ngIf="formTitle" class="texera-workspace-property-editor-title">{{ formTitle }}</h3>

<form
  *ngIf="formlyFields && formlyFormGroup"
  [formGroup]="formlyFormGroup"
  class="texera-workspace-property-editor-form"
>
  <formly-form
    (modelChange)="onFormChanges($event)"
    [fields]="formlyFields"
    [form]="formlyFormGroup"
    [model]="formData"
    [options]="formlyOptions"
  >
  </formly-form>
</form>

<button
  (click)="handleAddBreakpoint()"
  *ngIf="currentLinkId !== undefined && !hasBreakpoint()"
  class="breakpointRemoveButton"
  type="button"
>
  Add Breakpoint
</button>

<button
  (click)="handleRemoveBreakpoint()"
  *ngIf="currentLinkId !== undefined && hasBreakpoint()"
  class="breakpointRemoveButton"
  type="button"
>
  Remove Breakpoint
</button>
