<div class="settings-container">
  <h4>Workflow Settings</h4>
  <form
    [formGroup]="settingsForm"
    class="form-inline">
    <div class="form-group">
      <label for="dataTransferBatchSize">Data Transfer Batch Size:</label>
      <input
        id="dataTransferBatchSize"
        type="number"
        formControlName="dataTransferBatchSize"
        [ngClass]="{'is-invalid': settingsForm.get('dataTransferBatchSize')?.invalid && settingsForm.get('dataTransferBatchSize')?.touched}"
        class="form-control" />
      <div
        *ngIf="settingsForm.get('dataTransferBatchSize')?.invalid && settingsForm.get('dataTransferBatchSize')?.touched"
        class="error-message">
        Data Transfer Batch Size size must be at least 1.
      </div>
    </div>
  </form>
</div>
