<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)">
  <div
    *ngFor="let field of field.fieldGroup; let i = index"
    cdkDrag
    class="dnd-row">
    <div
      class="drag-handle"
      cdkDragHandle>
      <i
        nz-icon
        nzType="drag"
        nzTheme="outline"></i>
    </div>

    <div class="dnd-field-wrapper">
      <formly-field
        *ngFor="let subField of field.fieldGroup"
        class="dnd-field"
        [field]="subField"></formly-field>
    </div>

    <button
      nz-button
      nzType="default"
      (click)="remove(i)"
      class="dnd-remove-button"
      [disabled]="field.templateOptions?.disabled">
      <i
        nz-icon
        nzType="delete"
        nzTheme="outline"></i>
    </button>
  </div>
</div>

<button
  nz-button
  nzType="default"
  (click)="add()"
  [disabled]="field.templateOptions?.disabled">
  {{ field.templateOptions?.addText || "Add" }}
</button>
