<div id="search-box">
  <input
    placeholder="search operator"
    nz-input
    [(ngModel)]="searchInputValue"
    (input)="onInput($event)"
    [nzAutocomplete]="autocomplete" />
  <nz-autocomplete
    #autocomplete
    [nzBackfill]="false"
    (selectionChange)="onSelectionChange($event)">
    <nz-auto-option
      *ngFor="let option of autocompleteOptions"
      [nzValue]="option"
      [nzLabel]="option.additionalMetadata.userFriendlyName"
      [nzDisabled]="! canModify">
      <texera-operator-label [operator]="option"></texera-operator-label>
    </nz-auto-option>
  </nz-autocomplete>
</div>

<div id="spacer"></div>

<ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: groupNames }"></ng-container>

<ng-template
  #menuTemplate
  let-groupNames>
  <nz-collapse
    nzBordered="false"
    nzExpandIconPosition="right"
    nzAccordion>
    <nz-collapse-panel
      *ngFor="let groupname of groupNames"
      [nzHeader]="groupname.groupName"
      class="operator-group">
      <div class="indent">
        <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: groupname.children }"></ng-container>
        <div
          *ngFor="let operatorSchema of opList.get(groupname.groupName)"
          class="operator-label">
          <texera-operator-label [operator]="operatorSchema"></texera-operator-label>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</ng-template>
