@import "../workspace.component.scss";

.texera-workspace-result-panel-body {
  .result-table {
    padding: 1px;
  }
}

// make modal body scrollable and modal size fixed
.modal-body {
  min-height: calc(50vh);
  overflow-y: auto !important;
}
// change the internal color of pretty json of the result details

$type-colors: (
  string: black,
  number: #27837a,
  boolean: #751866,
  date: #10536d,
  array: #999,
  object: #999,
  function: #999,
  "null": #fff,
  undefined: #fff,
);
