.content {
  text-align: center;
}

ul {
  list-style-type: none;
  height: 70px;
  padding: 10px;
  overflow: hidden;
  background-color: #f8f9fa;
  vertical-align: baseline;
}

li {
  float: left;
  padding: 14px;
}

li a {
  color: black;
  font-weight: bold;
}

#logo {
  height: 70px;
  padding: 0;
  margin-right: 14px;
}

#googleButton {
  float: right;
  padding: 5px 0;
}
