<div class="texera-workspace-property-editor-body texera-workflow-component-body">
  <div *ngIf="displayForm">
    <h3 class="texera-workspace-property-editor-title" mat-subheader>
      {{currentOperatorSchema?.additionalMetadata.userFriendlyName}}
    </h3>

    <form class="texera-workspace-property-editor-form" [formGroup]="formlyFormGroup" *ngIf="formlyFields">
      <formly-form [model]="formData"
      [fields]="formlyFields"
      [options]="formlyOptions"
      [form]="formlyFormGroup"
      (modelChange) = "this.formChanged.next($event)">
      </formly-form>

    </form>
  </div>

  <div *ngIf="displayBreakpointEditor">
    <h3 class="texera-workspace-property-editor-title" mat-subheader>
      Link Breakpoint Editor
    </h3>

    <!-- <form class="texera-workspace-property-editor-form" [formGroup]="formlyFormGroup" *ngIf="formlyFields">
      <formly-form [model]="formData"
      [fields]="formlyFields"
      [options]="formlyOptions"
      [form]="formlyFormGroup"
      (modelChange) = "onFormChanges($event)">
      </formly-form>

    </form> -->

    <!-- <json-schema-form
      class="texera-workspace-property-editor-form"
      framework="material-design"
      loadExternalAssets="true"
      [schema]="currentLinkBreakpointSchema?.jsonSchema"
      [data]="currentBreakpointInitialData"
      [layout]="formLayout"
      (onChanges)="onFormChanges($event)"
    >
    </json-schema-form> -->

    <button *ngIf="true" type="button" class="breakpointRemoveButton" (click)="handleLinkBreakpointRemove()">Remove Breakpoint</button>

  </div>

</div>
