@import '../workspace.component.scss';

.texera-workspace-property-editor-body {
  padding: 16px;
  padding-right: 24px;
}

.box {
  width:500px;
  height:100px;
  background-color:white;
  margin-top: 10px;
  left: 30px;
}
