<div class="texera-workspace-property-editor-body texera-workflow-component-body">
  <div *ngIf="displayForm">
    <h3 class="texera-workspace-property-editor-title" mat-subheader>
      {{currentOperatorSchema?.additionalMetadata.userFriendlyName}}
    </h3>

    <form [formGroup]="form" *ngIf="fields">
      <formly-form [model]="cachedFormData"
      [fields]="fields"
      [options]="options"
      [form]="form"
      (modelChange) = "onFormChanges($event)">
      </formly-form>

    </form>
  </div>
</div>
