<div class="texera-workspace-property-editor-body texera-workflow-component-body">
  <div *ngIf="displayForm">
    <h3 *ngIf="formTitle" class="texera-workspace-property-editor-title" mat-subheader>
      {{formTitle}}
    </h3>

    <form class="texera-workspace-property-editor-form" [formGroup]="formlyFormGroup" *ngIf="formlyFields">
      <formly-form [model]="formData"
      [fields]="formlyFields"
      [options]="formlyOptions"
      [form]="formlyFormGroup"
      (modelChange) = "onFormChanges($event)">
      </formly-form>
    </form>

    <button *ngIf="currentLinkID !== undefined" type="button" class="breakpointRemoveButton"
    (click)="handleRemoveBreakpoint()">Remove Breakpoint</button>
  </div>
</div>
