/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.texera-user-dataset-creator-form {
  width: 80%;
  margin: auto;
}

.create-btn {
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid lightgray;
  padding: 5px 20px;
  cursor: pointer;
  margin-left: 15%;
  margin-right: 5%;
  width: 30%;
  text-align: center;
  &:hover {
    background-color: darken(#007bff, 10%);
    color: #ffffff;
  }
}

.cancel-btn {
  background-color: #ffffff;
  color: #ff0000;
  border: 1px solid lightgray;
  padding: 5px 20px;
  cursor: pointer;
  margin-right: 15%;
  margin-left: 5%;
  margin-top: 10%;
  width: 30%;
  text-align: center;
  &:hover {
    background-color: darken(#ff0000, 10%);
    color: #ffffff;
  }
}

.file-uploader {
  height: 40%;
  width: 90%;
  margin: auto;
}
