<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Computing Units</h2>
    <div class="button-group">
      <button
        nz-button
        class="create-btn"
        (click)="showAddComputeUnitModalVisible()"
        title="Create Computing Unit">
        <i
          nz-icon
          nzType="file-add"
          nzTheme="outline"></i>
        <span>Create Computing Unit</span>
      </button>
    </div>
  </nz-card>

  <nz-card
    class="section-list-container"
    [nzBodyStyle]="{ height: '100%'}">
    <cdk-virtual-scroll-viewport
      itemSize="70"
      class="virtual-scroll-container">
      <nz-list>
        <ng-container *cdkVirtualFor="let entry of entries">
          <texera-user-computing-unit-list-item
            (deleted)="terminateComputingUnit(entry.computingUnit.computingUnit.cuid)"
            [entry]="entry.computingUnit"></texera-user-computing-unit-list-item>
        </ng-container>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>

<!-- Panel for creating the computing unit -->
<texera-computing-unit-create-modal
  [(visible)]="addComputeUnitModalVisible"
  (unitCreated)="onComputingUnitCreated()"></texera-computing-unit-create-modal>
