<div class="user-icon">
  <div *ngIf="user">
    <texera-user-avatar
      class="user-avatar caret-off"
      [googleId]="user?.googleId || '' "
      [userName]="user?.name || ''"
      [userColor]="user?.color || ''"
      nz-button
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
      nzPlacement="bottomRight">
    </texera-user-avatar>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        (click)="onClickLogout()">
        Sign Out
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
