<ul
  nz-menu
  id="docked-buttons"
  [ngClass]="{'shadow':  !width}"
  cdkDropList
  (cdkDropListDropped)="onDrop($event)">
  <li
    nz-menu-item
    (click)="openFrame(0)"
    *ngIf="width">
    <span
      nz-icon
      nzType="minus"></span>
  </li>
  <li
    nz-menu-divider
    class="divider"></li>
  <ng-container *ngFor="let i of order">
    <li
      nz-menu-item
      cdkDrag
      nzTooltipPlacement="right"
      nz-tooltip="{{items[i].title}}"
      nzSelected="{{currentComponent === items[i].component}}"
      *ngIf="items[i].enabled"
      (click)="openFrame(i)">
      <span
        nz-icon
        nzType="{{items[i].icon}}"></span>
    </li>
  </ng-container>
</ul>

<div
  cdkDrag
  cdkDragBoundary="texera-workspace"
  id="left-container"
  class="box"
  nz-resizable
  [nzMinWidth]="230"
  [nzMinHeight]="300"
  [nzMaxWidth]="window.innerWidth*0.9"
  [nzMaxHeight]="window.innerHeight*0.85"
  [style.width.px]="width"
  [style.height.px]="height"
  (nzResize)="onResize($event)"
  [cdkDragFreeDragPosition]="dragPosition">
  <ul
    nz-menu
    id="dock"
    [ngClass]="{'shadow':  !width}"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    *ngIf="width">
    <ng-container *ngFor="let i of order">
      <li
        nz-menu-item
        cdkDrag
        nzTooltipPlacement="right"
        nz-tooltip="{{items[i].title}}"
        nzSelected="{{currentComponent === items[i].component}}"
        *ngIf="items[i].enabled"
        (click)="openFrame(i)">
        <span
          nz-icon
          nzType="{{items[i].icon}}"></span>
      </li>
    </ng-container>
  </ul>
  <ul
    id="return-button"
    nz-menu
    [ngClass]="{'shadow':  !width}"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    *ngIf="width">
    <button
      nz-button
      nzType="text"
      (click)="resetPanelPosition()"
      *ngIf="width">
      <span
        nz-icon
        nzType="enter"></span>
    </button>
    <li
      nz-menu-item
      (click)="openFrame(0)">
      <span
        nz-icon
        nzType="minus"></span>
    </li>
  </ul>
  <div
    id="content"
    [hidden]="!currentComponent">
    <h4
      id="title"
      cdkDragHandle>
      {{title}}
    </h4>
    <ng-container *ngComponentOutlet="currentComponent;"></ng-container>
    <nz-resize-handles [nzDirections]="['right', 'bottom', 'bottomRight']"></nz-resize-handles>
  </div>
</div>
