:host {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
}

#left-container {
  position: absolute;
  top: calc(-100% + 80px);
  left: 0;
  z-index: 3;
  user-select: none;
  background: white;
}

#title {
  padding: 5px 9px;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  top: 0;
  background: white;
  width: calc(100% - 33px);
  z-index: 2;
}

#dock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  border: none;
}

#docked-buttons {
  position: fixed;
  top: 80px;
  z-index: 4;
}

#return-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
}

#content {
  width: calc(100% - 33px);
  height: 100%;
  padding-top: 32px;
  display: inline-block;
  overflow-y: auto;
  border-left: 1px solid #f0f0f0;
}

.divider {
  margin: 0;
}

.ant-menu-item {
  margin: 0 !important;
  height: 32px;
  line-height: 32px;
  padding: 0 9px;
}

.shadow {
  border-radius: 5px;
  box-shadow:
    0 3px 1px -2px #0003,
    0 2px 2px #00000024,
    0 1px 5px #0000001f;
}
