<div class="hub-workflow-detail-container">
  <button
    *ngIf="isHub"
    nz-button
    nzType="text"
    nzSize="large"
    class="go-back-button"
    (click)="goBack()">
    <span
      nz-icon
      nzType="arrow-left"></span>
  </button>

  <div class="container prevent-select">
    <div class="header-info">
      <div class="detail-title">
        <h1>Workflow Detail Page</h1>
      </div>
      <div class="workflow-panel">
        <!-- View button -->
        <button
          nz-button
          nzType="text"
          class="dropdown-item like-button"
          title="View"
          (click)="changeViewDisplayStyle()">
          <i
            nz-icon
            [nzType]="'eye'"
            class="like-icon">
          </i>
          <span>{{ formatViewCount(viewCount) }}</span>
        </button>

        <button
          nz-button
          class="like-button"
          title="Like"
          [disabled]="!isLogin"
          (click)="toggleLike()">
          <i
            nz-icon
            nzType="like"
            [ngClass]="{liked: isLiked}"
            class="like-icon">
          </i>
          <span>{{ formatLikeCount(likeCount) }}</span>
        </button>

        <button
          nz-button
          class="clone-button"
          title="Copy"
          [disabled]="!isLogin || !isHub"
          (click)="cloneWorkflow()">
          <i
            nz-icon
            nzType="copy"></i>
          <span>{{ formatLikeCount(cloneCount) }}</span>
        </button>
      </div>
    </div>

    <div class="workflow-info">
      <div>
        <h2>ID</h2>
        <p>{{ wid }}</p>
      </div>
      <div>
        <h2>Workflow Name</h2>
        <p>{{ workflowName }}</p>
      </div>
      <div>
        <h2>Created By</h2>
        <p>{{ ownerName }}</p>
      </div>
    </div>
    <div class="workflow-description">
      <h2>Description</h2>
      <p>{{workflowDescription}}</p>
    </div>

    <h2>Preview</h2>
    <div class="preview-containers">
      <texera-workflow-editor></texera-workflow-editor>
      <texera-mini-map class="box"></texera-mini-map>
    </div>
    <ng-template #codeEditor></ng-template>
  </div>
</div>
