<div class="container">
  <h1>Workflow Detail Page</h1>
  <div class="workflow-info">
    <div>
      <h2>ID</h2>
      <p>{{ wid }}</p>
    </div>
    <div>
      <h2>Workflow Name</h2>
      <p>{{ workflowName }}</p>
    </div>
    <div>
      <h2>Created By</h2>
      <p>{{ ownerUser.name }}</p>
    </div>
  </div>

  <div class="workflow-steps">
    <h2>Steps</h2>

    <div
      *ngFor="let step of workflow.steps"
      class="workflow-step">
      <h3>{{ step.name }}</h3>
      <p>{{ step.description }}</p>
      <p><strong>Status:</strong> {{ step.status }}</p>
    </div>
  </div>
</div>
