<div
  (click)="clickUpload.click()"
  (fileOver)="haveFileOver($event)"
  (onFileDrop)="getFileDropped($event)"
  [ngClass]="{ 'have-file-over': haveDropZoneOver }"
  [uploader]="uploader"
  class="drag-file-area"
  ng2FileDrop>
  Drop Files Here
  <div id="hide">
    <input
      #clickUpload
      (change)="handleClickUploadFile($event)"
      multiple
      type="file" />
  </div>
</div>
<div *ngIf="getFileArrayLength()">
  <li
    *ngFor="let fileUploadItem of getFileArray()"
    class="file-queue-item">
    <span>
      <label>{{ fileUploadItem.name }}</label>
    </span>
    <button
      nz-button
      nzType="primary"
      nzDanger
      (click)="deleteFile(fileUploadItem)"
      [disabled]="fileUploadItem.isUploadingFlag">
      <span
        nz-icon
        nzType="delete"></span>
    </button>
  </li>
</div>
<div class="modal-footer">
  <div *ngIf="getFileArrayLength()">
    <button
      (click)="uploadAllFiles()"
      [disabled]="isUploadAllButtonDisabled()"
      class="btn btn-primary btn-xs bottom-upload bottom-size">
      upload
    </button>
  </div>
</div>
