<nav class="navbar navbar-expand navbar-light bg-light">
  <a
    class="navbar-brand"
    href="#"
    ><img
      src="assets/logos/logo.png"
      alt="texera-logo"
      class="logo"
  /></a>
  <div
    class="collapse navbar-collapse"
    id="navbarText">
    <div class="mr-auto"></div>
    <texera-user-icon> </texera-user-icon>
  </div>
</nav>
<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li
        nz-menu-item
        routerLink="/dashboard/user-project"
        nzMatchRouter="true"
        nz-tooltip="Look up the user projects"
        nzTooltipPlacement="right">
        <span
          nz-icon
          nzType="container"></span>
        <span>Projects</span>
      </li>

      <li
        nz-menu-item
        routerLink="/dashboard/workflow"
        nzMatchRouter="true"
        nz-tooltip="Open the saved workflows"
        nzTooltipPlacement="right">
        <span
          nz-icon
          nzType="project"></span>
        <span>Workflows</span>
      </li>

      <li
        nz-menu-item
        routerLink="/dashboard/user-file"
        nzMatchRouter="true"
        nz-tooltip="Look up the user files"
        nzTooltipPlacement="right">
        <span
          nz-icon
          nzType="folder-open"></span>
        <span>Files</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
