<tour-step-template>
  <ng-template let-step="step">
    <div class="tour-step-navigation">
      <button
        (click)="tourService.prev()"
        *ngIf="tourService.hasPrev(step)"
        class="btn btn-sm btn-secondary texera-tour-prev-button"
      >
        « Prev
      </button>
      <button
        (click)="tourService.next()"
        *ngIf="tourService.hasNext(step)"
        class="btn btn-sm btn-secondary texera-tour-next-button"
      >
        Next »
      </button>
      <button (click)="tourService.end()" class="btn btn-sm btn-danger" id="EndButton">End</button>
    </div>
    <br />
    <p [innerHTML]="tourService.currentStep.content" class="tour-step-content"></p>
  </ng-template>
</tour-step-template>
