<div class="saved-workflow-container subsection-grid-container">
  <nz-card class="workflow-section-title subsection-grid-container">
    <h2 class="page-title">Workflows</h2>
    <div class="d-inline-block" ngbDropdown>
      <a [nzDropdownMenu]="sortOptions" nz-dropdown>
        <button id="sortDropdown" ngbDropdownToggle nz-button>
          <i nz-icon nzTheme="outline" nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #sortOptions="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button (click)="lastSort()" class="sorting_func" nz-button>By Edit Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="dateSort()" class="sorting_func" nz-button>By Create Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="ascSort()" class="sorting_func" nz-button>A -> Z</button>
          </li>
          <li nz-menu-item>
            <button (click)="dscSort()" class="sorting_func" nz-button>Z -> A</button>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        (click)="onClickCreateNewWorkflowFromDashboard()"
        nz-button
        nz-tooltip="Create a new workflow"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="file-add"></i>
      </button>
      <nz-upload [nzBeforeUpload]="onClickUploadExistingWorkflowFromLocal">
        <button nz-button nz-tooltip="Upload JSON file as workflow" nzTooltipPlacement="bottom" type="button">
          <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
        </button>
      </nz-upload>
      <button
        *ngIf="pid !== 0"
        (click)="onClickOpenAddWorkflow()"
        nz-button
        nz-tooltip="Add workflow(s) to project"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="plus-square"></i>
      </button>
      <button
        *ngIf="pid !== 0"
        (click)="onClickOpenRemoveWorkflow()"
        nz-button
        nz-tooltip="Remove workflow(s) from project"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="minus-square"></i>
      </button>
      <a
        [nzDropdownMenu]="calendar"
        nz-dropdown
        nzTrigger="click"
        [nzOverlayStyle]="{'border-style': 'double'}"
        class="search-creation-time-button"
      >
        <button id="ctimeSort" ngbDropdownToggle nz-button>
          <i nz-icon nzType="calendar" nzTheme="outline" nz-tooltip="Creation Time"></i>
        </button>
      </a>
      <nz-dropdown-menu #calendar="nzDropdownMenu">
        <div [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
          <nz-calendar
            [nzFullscreen]="false"
            (nzSelectChange)="calendarValueChange($event)"
            [(ngModel)]="selectedDate"
          ></nz-calendar>
        </div>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="ownerSearchOptions"
        nz-dropdown
        nzTrigger="click"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-owners-button"
      >
        <button id="sortOwner" ngbDropdownToggle nz-button>
          <i nz-icon nzTheme="outline" nzType="user" nz-tooltip="Owner"></i>
        </button>
      </a>
      <nz-dropdown-menu #ownerSearchOptions="nzDropdownMenu">
        <ul nz-menu *ngFor="let owner of owners">
          <li nz-menu-item>
            <label nz-checkbox [(ngModel)]="owner.checked" (ngModelChange)="updateSelectedOwners()"
              >{{owner.userName}}</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="IDSearchOptions"
        nz-dropdown
        nzTrigger="click"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-wids-button"
      >
        <button id="sortID" ngbDropdownToggle nz-button>
          <i nz-icon nzTheme="outline" nzType="ordered-list" nz-tooltip="Workflow ID"></i>
        </button>
      </a>
      <nz-dropdown-menu #IDSearchOptions="nzDropdownMenu">
        <ul nz-menu *ngFor="let wid of wids">
          <li nz-menu-item>
            <label nz-checkbox [(ngModel)]="wid.checked" (ngModelChange)="updateSelectedIDs()">{{wid.id}}</label>
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="operatorSearchOptions"
        nz-dropdown
        nzTrigger="click"
        [nzOverlayStyle]="{'border-style': 'double'}"
        class="search-operators-button"
      >
        <button id="sortOperator" ngbDropdownToggle nz-button>
          <i nz-icon nzType="appstore" nzTheme="outline" nz-tooltip="Operators"></i>
        </button>
      </a>
      <nz-dropdown-menu #operatorSearchOptions="nzDropdownMenu">
        <ul nz-menu *ngFor="let group of operatorGroups">
          <li nz-submenu nzTitle="{{group}}">
            <ul *ngFor="let operator of operators.get(group)">
              <li nz-menu-item>
                <label nz-checkbox [(ngModel)]="operator.checked" (ngModelChange)="updateSelectedOperators()"
                  >{{operator.userFriendlyName}}</label
                >
              </li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="projectSearchOptions"
        nz-dropdown
        nzTrigger="click"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-projects-button"
      >
        <button id="sortProject" ngbDropdownToggle nz-button>
          <i nz-icon nzType="file" nzTheme="outline" nz-tooltip="Projects"></i>
        </button>
      </a>
      <nz-dropdown-menu #projectSearchOptions="nzDropdownMenu">
        <ul nz-menu *ngFor="let project of userProjectsDropdown">
          <li nz-menu-item>
            <label nz-checkbox [(ngModel)]="project.checked" (ngModelChange)="updateSelectedProjects()"
              >{{project.name}}</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-card>

  <nz-card class="workflow-list-container subsection-grid-container">
    <div class="texera-dashboard-saved-workflow-project-box-select">
      <i
        style="margin-right: 10px; align-self: center"
        nz-icon
        nz-popover
        nzPopoverTitle="Filter Instructions"
        nzType="question-circle"
        nzTheme="outline"
        [nzPopoverContent]="filterPopContent"
      ></i>
      <button style="align-self: center; margin-right: 0%" nz-button type="button" (click)="searchWorkflow()">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
      <nz-select
        style="width: 100%"
        nzMode="tags"
        nzPlaceHolder="Search all workflows"
        [nzBorderless]="true"
        [nzOpen]="false"
        [(ngModel)]="masterFilterList"
        [nzAllowClear]="true"
        (ngModelChange)="updateDropdownMenus($event)"
      >
      </nz-select>
      <ng-template #filterPopContent>
        We support the following search criteria:
        <ul>
          <li>Search by Workflow Name: <strong>workflowName</strong></li>
          <li>Search by Workflow Creation Time: <strong>ctime: yyyy-MM-dd</strong></li>
          <li>Search by Workflow Owner: <strong>owner: John</strong></li>
          <li>Search by Workflow Id: <strong>id: workflowId</strong></li>
          <li>Search by Workflows' Operators: <strong>operator: operatorName</strong></li>
          <li>Search by User Projects: <strong>project: projectName</strong></li>
        </ul>
        You can change search parameters by:
        <ul>
          <li>selecting/unselecting dropdown menu options</li>
          <li>manually typing parameters into search bar</li>
          <li>clicking the <strong>X</strong> on a tag or the search bar, to clear one or all tags</li>
        </ul>
        <br />
        Example: "Untitled Workflow" id:1 owner:John<br />
        Meaning: Search for the workflow with name Untitled Workflow, id 1, and the owner called John.
      </ng-template>
    </div>

    <!-- itemSize: the height (px) of each list item, 
      this MUST be approximately the same as list item size set in CSS,
      .workflow-list-item sets the item size to be 70px, with additional paddings/margins it's approximately 80px
    -->
    <cdk-virtual-scroll-viewport itemSize="80" class="virtual-scroll-infinite-container">
      <nz-list>
        <nz-list-item
          *cdkVirtualFor="let dashboardWorkflowEntry of dashboardWorkflowEntries;let indexOfElement=index"
          class="workflow-list-item"
        >
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <nz-avatar
                [ngStyle]="{ 'background-color': 'grey' }"
                [nzGap]="4"
                [nzText]="'' + dashboardWorkflowEntry.workflow.wid"
                nzSize="default"
                style="vertical-align: middle"
              ></nz-avatar>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <span class="workflow-dashboard-entry">
                <label
                  *ngIf="dashboardWorkflowEntriesIsEditingName.indexOf(indexOfElement) === -1; else customeWorkflow "
                  (click)="jumpToWorkflow(dashboardWorkflowEntry)"
                  class="workflow-name"
                  >{{ dashboardWorkflowEntry.workflow.name }}</label
                >
                <ng-template #customeWorkflow>
                  <input
                    #customName
                    (focusout)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    placeholder="{{ dashboardWorkflowEntry.workflow.name }}"
                    value="{{ dashboardWorkflowEntry.workflow.name }}"
                  />
                </ng-template>
                <button
                  (click)="dashboardWorkflowEntriesIsEditingName.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Customize Workflow Name"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text"
                >
                  <i nz-icon nzTheme="outline" nzType="edit"></i>
                </button>
                <i
                  *ngIf="dashboardWorkflowEntry.isOwner"
                  ngbTooltip="You are the OWNER"
                  nz-icon
                  nzTheme="outline"
                  nzType="user"
                ></i>
                <i
                  *ngIf="!dashboardWorkflowEntry.isOwner"
                  ngbTooltip="{{
									dashboardWorkflowEntry.accessLevel
								}} access shared by {{ dashboardWorkflowEntry.ownerName }}"
                  nz-icon
                  nzTheme="outline"
                  nzType="team"
                ></i>
              </span>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <p class="workflow-time">
                Last Access: {{ dashboardWorkflowEntry.workflow.lastModifiedTime | date: "yyyy-MM-dd HH:mm" }}
                <span class="time-space"></span>
                Created: {{ dashboardWorkflowEntry.workflow.creationTime | date: "yyyy-MM-dd HH:mm" }}
              </p>
            </nz-list-item-meta-description>
          </nz-list-item-meta>

          <div *ngIf="userProjectsLoaded" class="workflow-project-label-container">
            <div *ngFor="let projectID of dashboardWorkflowEntry.projectIDs" class="workflow-project-label">
              <div
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color != null && projectID != pid"
                nz-tooltip="Go to project page"
                nzTooltipPlacement="bottom"
                id="left-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                (click)="jumpToProject(userProjectsMap.get(projectID)!)"
              >
                {{userProjectsMap.get(projectID)!.name}}
              </div>
              <div
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color != null && projectID != pid"
                nz-tooltip="Remove from project"
                nzTooltipPlacement="bottom"
                id="right-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                (click)="removeWorkflowFromProject(projectID, dashboardWorkflowEntry, indexOfElement)"
              ></div>
            </div>
          </div>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button
                (click)="onClickOpenShareAccess(dashboardWorkflowEntry)"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                nz-button
                nz-tooltip="Share the workflow {{
								dashboardWorkflowEntry.workflow.name
							}} to others"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="share-alt"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDuplicateWorkflow(dashboardWorkflowEntry)"
                class="duplicate-workflow-btn"
                nz-button
                nz-tooltip="Duplicate the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="copy"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDownloadWorkfllow(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Download the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="
								openNgbdModalDeleteWorkflowComponent(dashboardWorkflowEntry)
							"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                class="delete-workflow-btn"
                nz-button
                nz-tooltip="Delete the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
              >
                <i nz-icon nzTheme="outline" nzType="delete"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="workflowExecutionsTrackingEnabled">
              <button
                (click)="onClickGetWorkflowExecutions(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Executions of the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="history"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
