@import "../../dashboard.component.scss";

.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-btn-icon-only {
  margin-left: 5px;
  margin-right: 5px;
}

/**
  * Create a 3*1 grid area
  * The first row contains add and sort button. 
  * The second row contains the search bar.
  * The third row contains the saved workflow/files list.
  * 
  * This layout is shared between workflows and files section.
  *
  *              ******************
  *              *                *
  *              ******************
  *              *                *
  *              ******************
  *              *                *
  *              *                *
  *              *                *
  *              ******************
  **/
$section-header-height: 120px;
$section-search-bar-height: 60px;

.section-container {
  display: grid;
  grid-template-rows:
    $section-header-height
    $section-search-bar-height
    calc((100% - #{$section-header-height} - #{$section-search-bar-height}));
}

/**
  * grid of the first row which contains title and utility buttons
  **/
.section-title {
  grid-row-start: 1;
  grid-row-end: 2;

  .page-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .utility-button-group {
    float: left;
  }

  .filter-button-group {
    float: right;
  }
}

/**
  * grid of the second row which contains the search bar
  **/
.section-search-bar {
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  padding: 4px 24px;

  .search-info-box {
    margin-right: 10px;
    align-self: center;
  }

  .search-input-box {
    width: 100%;
    align-self: center;
  }
}

.workflow-search-bar {
  margin-left: 10px;
  // TODO: combine this inside section-search-bar
  //        after unifying the search bar of workflows and files
}

/**
  * the third grid of the workflow/files list.
  * including css shared by workflow/file item
  **/
.section-list-container {
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
  min-height: 100%;

  // always show the scroll bar for the virtual scroll container
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .virtual-scroll-container {
    height: calc(100vh - $dashboard-navigation-height - $section-header-height - $section-search-bar-height - 50px);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .metadata-container {
    span {
      margin: 0 1rem 0rem 0; // add space to the right
    }
  }
}

/**
  * css specifically for each workflow item in the list (not shared by file items)
  **/
.workflow-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .workflow-item-checkbox {
    margin: 8px;
  }

  .workflow-item-meta-title {
    display: flex;
    align-items: center;

    .workflow-name {
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
      margin-bottom: 0px;
      color: inherit;
      text-decoration: none;
    }

    .workflow-name:hover {
      cursor: pointer;
    }

    i {
      position: relative;
      font-size: 17px;
      // margin-bottom: 6px;
    }

    i.workflow-is-owner-icon {
      margin-left: 7px;
    }
  }

  .workflow-item-meta-description {
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 10px;
    margin-bottom: 5px;

    .workflow-description {
      // color: #000000;
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(202, 202, 202);
      }
    }

    .workflow-editable-description {
      margin-bottom: 5px;
      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;
      box-shadow: 0 0 0px 2px #007bff;
    }
  }
}

/**
  * css for project label, shared by workflow section and file section
  **/
.project-label-container {
  min-width: 20px;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;

  .project-label {
    display: inline;
    white-space: nowrap;

    .color-tag {
      display: inline-block;
      cursor: pointer;
    }

    .project-label-name {
      padding: 1.5px 7px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      color: inherit;
      text-decoration: none;
    }

    .project-label-remove {
      padding: 1.5px 7px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 10px;
    }

    .light-color {
      border: 1px solid gainsboro;
    }

    .light-color:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    .dark-color:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0.345) 0 0);
    }
  }
}
