.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#sortDropdown {
  margin-right: 20px;
}

.add-button {
  margin-left: 5px;
}

.ant-btn-icon-only {
  margin-right: 10px;

  &.ant-btn-sm {
    transform: translateY(-5px);
  }
}

/**
* this css is used for creating a 2*1 grid area for the 2 main
* sub parts. The first row contains add and sort button. The second
* row contains the saved project list. The percentages define the size
* of each column and row.
*              ******************
*              *                *
*              ******************
*              *                *
*              *                *
*              *                *
*              *                *
*              ******************
**/
$header-height: 120px;

.saved-workflow-container {
  display: grid;
  grid-template-rows: $header-height calc((100% - #{$header-height}));
}

.virtual-scroll-infinite-container {
  height: 600px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

/**
* the grid of the first row which contains the add and sort button.
* The position of the first row is fix. no adaptation
**/
.workflow-section-title {
  grid-row-start: 1;
  grid-row-end: 2;
}

/**
* the grid of the list of saved workflow. Each workflow contains the name, created time and last
* edited time. This section is flexible to expand downward.
**/
.workflow-list-container {
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: auto;

  .texera-dashboard-saved-workflow-search-box-input {
    margin-bottom: 30px;
  }
}

.workflow-list-item {
  margin-bottom: 1.5%;
  height: 70px;
  padding: 5px 0 5px 0;
}

.time-space {
  margin-left: 3%;
}

/**
* the location of sort button
**/
.sorting_func {
  text-align: left;
}

.gap-filler {
  flex: 1 1 auto;
}

.workflow-name {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

.workflow-dashboard-entry {
  display: flex;
  align-items: center;
}

.workflow-dashboard-entry > i {
  position: relative;
  font-size: 17px;
  margin-bottom: 6px;
}

.workflow-name:hover {
  cursor: pointer;
}

.workflow-time {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: gray;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
