<div class="saved-workflow-container subsection-grid-container">
  <nz-card class="workflow-section-title subsection-grid-container">
    <h2 class="page-title">Workflows</h2>
    <div class="d-inline-block" ngbDropdown>
      <a [nzDropdownMenu]="sortOptions" nz-dropdown>
        <button id="sortDropdown" ngbDropdownToggle nz-button>
          <i nz-icon nzTheme="outline" nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #sortOptions="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button (click)="lastSort()" class="sorting_func" nz-button>By Edit Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="dateSort()" class="sorting_func" nz-button>By Create Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="ascSort()" class="sorting_func" nz-button>A -> Z</button>
          </li>
          <li nz-menu-item>
            <button (click)="dscSort()" class="sorting_func" nz-button>Z -> A</button>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        (click)="onClickCreateNewWorkflowFromDashboard()"
        nz-button
        nz-tooltip="Create a new workflow"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="file-add"></i>
      </button>
      <nz-upload [nzBeforeUpload]="onClickUploadExistingWorkflowFromLocal">
        <button nz-button nz-tooltip="Upload JSON file as workflow" nzTooltipPlacement="bottom" type="button">
          <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
        </button>
      </nz-upload>
      <button
        *ngIf="pid !== 0"
        (click)="onClickOpenAddWorkflow()"
        nz-button
        nz-tooltip="Add workflow(s) to project"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="plus-square"></i>
      </button>
      <button
        *ngIf="pid !== 0"
        (click)="onClickOpenRemoveWorkflow()"
        nz-button
        nz-tooltip="Remove workflow(s) from project"
        nzTooltipPlacement="bottom"
        type="button"
      >
        <i nz-icon nzTheme="outline" nzType="minus-square"></i>
      </button>
    </div>
  </nz-card>

  <nz-card class="workflow-list-container subsection-grid-container">
    <div *ngIf="isSearchByProject" class="texera-dashboard-saved-workflow-project-box-select">
      <i
        style="margin-right: 10px; align-self: center"
        nz-icon
        nz-popover
        nzPopoverTitle="Filter Instructions"
        nzType="question-circle"
        nzTheme="outline"
        [nzPopoverContent]="filterPopContent"
      ></i>
      <button
        style="align-self: center; margin-right: 0%"
        nz-button
        nz-tooltip="Switch to workflow search"
        nzTooltipPlacement="bottom"
        type="button"
        (click)="toggleWorkflowSearchMode()"
      >
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
      <nz-select
        style="width: 100%"
        nzMode="tags"
        nzPlaceHolder="Filter by project(s)"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        [nzBorderless]="true"
        [nzOpen]="true"
        [(ngModel)]="projectFilterList"
        (ngModelChange)="filterWorkflowsByProject()"
      >
        <nz-option-group nzLabel="Colored Projects">
          <div *ngFor="let project of userProjectsList">
            <nz-option *ngIf="project.color != null" nzCustomContent [nzLabel]="project.name" [nzValue]="project.pid">
              <nz-tag
                [nzColor]="'#' + project.color"
                [ngStyle]="{ 'color' : colorBrightnessMap.get(project.pid) ? 'black' : 'white'}"
                >{{project.pid}}</nz-tag
              >
              {{project.name}}
            </nz-option>
          </div>
        </nz-option-group>
        <nz-option-group nzLabel="Colorless Projects">
          <div *ngFor="let project of userProjectsList">
            <nz-option *ngIf="project.color == null" nzCustomContent [nzLabel]="project.name" [nzValue]="project.pid">
              <nz-tag [nzColor]="'#595959'">{{project.pid}}</nz-tag>
              {{project.name}}
            </nz-option>
          </div>
        </nz-option-group>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
      <ng-template #filterPopContent>
        To search for a workflow by project(s) it belongs to, click on the search bar to view and select the appropriate
        projects.
      </ng-template>
    </div>

    <nz-input-group
      *ngIf="!isSearchByProject"
      [nzPrefix]="prefixPopoverButton"
      [nzSuffix]="suffixIconSearch"
      class="texera-dashboard-saved-workflow-search-box-input"
    >
      <input
        [(ngModel)]="workflowSearchValue"
        autocomplete="on"
        nz-input
        placeholder="Search all workflows"
        (ngModelChange)="searchInputOnChange($event)"
        type="text"
        [nzAutocomplete]="auto"
        (keyup.enter)="searchWorkflow()"
      />
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #popContent>
        We support the following search criteria:
        <ul>
          <li>Search by Workflow Name: <strong>workflowName</strong></li>
          <li>Search by Workflow Id: <strong>id:workflowId</strong></li>
          <li>Search by Workflow Owner: <strong>owner:John</strong></li>
        </ul>
        <strong>
          For any workflow name and owner name, if the name contains space, using double quotes to enclose the name is
          required.
        </strong>
        <br />
        Example: "Untitled Workflow" id:1 owner:John<br />
        Meaning: Search for the workflow with name Untitled Workflow, id 1, and the owner called John.
      </ng-template>
      <ng-template #prefixPopoverButton>
        <i
          style="vertical-align: baseline; margin-right: 10px"
          nz-icon
          nz-popover
          nzPopoverTitle="Search Instructions"
          [nzPopoverContent]="popContent"
          nzType="question-circle"
          nzTheme="outline"
        ></i>
        <button
          (click)="toggleWorkflowSearchMode()"
          nz-button
          nz-tooltip="Filter workflows by project"
          nzTooltipPlacement="bottom"
          type="button"
        >
          <i nz-icon nzType="filter" nzTheme="outline"></i>
        </button>
      </ng-template>
      <nz-autocomplete
        [nzDefaultActiveFirstOption]="false"
        [nzDataSource]="!workflowSearchValue.includes(':') ? filteredDashboardWorkflowNames : []"
        nzBackfill
        #auto
      ></nz-autocomplete>
    </nz-input-group>
    <!-- itemSize: the height (px) of each list item,
      this MUST be approximately the same as list item size set in CSS,
      .workflow-list-item sets the item size to be 70px, with additional paddings/margins it's approximately 80px
    -->
    <cdk-virtual-scroll-viewport itemSize="80" class="virtual-scroll-infinite-container">
      <nz-list>
        <nz-list-item
          *cdkVirtualFor="let dashboardWorkflowEntry of dashboardWorkflowEntries;let indexOfElement=index"
          class="workflow-list-item"
        >
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <nz-avatar
                [ngStyle]="{ 'background-color': 'grey' }"
                [nzGap]="4"
                [nzText]="'' + dashboardWorkflowEntry.workflow.wid"
                nzSize="default"
                style="vertical-align: middle"
              ></nz-avatar>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <span class="workflow-dashboard-entry">
                <label
                  *ngIf="dashboardWorkflowEntriesIsEditingName.indexOf(indexOfElement) === -1; else customeWorkflow "
                  (click)="jumpToWorkflow(dashboardWorkflowEntry)"
                  class="workflow-name"
                  >{{ dashboardWorkflowEntry.workflow.name }}</label
                >
                <ng-template #customeWorkflow>
                  <input
                    #customName
                    (focusout)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    placeholder="{{ dashboardWorkflowEntry.workflow.name }}"
                    value="{{ dashboardWorkflowEntry.workflow.name }}"
                  />
                </ng-template>
                <button
                  (click)="dashboardWorkflowEntriesIsEditingName.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Customize Workflow Name"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text"
                >
                  <i nz-icon nzTheme="outline" nzType="edit"></i>
                </button>
                <i
                  *ngIf="dashboardWorkflowEntry.isOwner"
                  ngbTooltip="You are the OWNER"
                  nz-icon
                  nzTheme="outline"
                  nzType="user"
                ></i>
                <i
                  *ngIf="!dashboardWorkflowEntry.isOwner"
                  ngbTooltip="{{
									dashboardWorkflowEntry.accessLevel
								}} access shared by {{ dashboardWorkflowEntry.ownerName }}"
                  nz-icon
                  nzTheme="outline"
                  nzType="team"
                ></i>
              </span>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <p class="workflow-time">
                Last Access: {{ dashboardWorkflowEntry.workflow.lastModifiedTime | date: "yyyy-MM-dd HH:mm" }}
                <span class="time-space"></span>
                Created: {{ dashboardWorkflowEntry.workflow.creationTime | date: "yyyy-MM-dd HH:mm" }}
              </p>
            </nz-list-item-meta-description>
          </nz-list-item-meta>

          <div *ngIf="userProjectsLoaded" class="workflow-project-label-container">
            <div *ngFor="let projectID of dashboardWorkflowEntry.projectIDs" class="workflow-project-label">
              <div
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color != null && projectID != pid"
                nz-tooltip="Go to project page"
                nzTooltipPlacement="bottom"
                id="left-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                (click)="jumpToProject(userProjectsMap.get(projectID)!)"
              >
                {{userProjectsMap.get(projectID)!.name}}
              </div>
              <div
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color != null && projectID != pid"
                nz-tooltip="Remove from project"
                nzTooltipPlacement="bottom"
                id="right-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                (click)="removeWorkflowFromProject(projectID, dashboardWorkflowEntry, indexOfElement)"
              >
                x
              </div>
            </div>
          </div>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button
                (click)="onClickOpenShareAccess(dashboardWorkflowEntry)"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                nz-button
                nz-tooltip="Share the workflow {{
								dashboardWorkflowEntry.workflow.name
							}} to others"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="share-alt"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDuplicateWorkflow(dashboardWorkflowEntry)"
                class="duplicate-workflow-btn"
                nz-button
                nz-tooltip="Duplicate the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="copy"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDownloadWorkfllow(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Download the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="
								openNgbdModalDeleteWorkflowComponent(dashboardWorkflowEntry)
							"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                class="delete-workflow-btn"
                nz-button
                nz-tooltip="Delete the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
              >
                <i nz-icon nzTheme="outline" nzType="delete"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="workflowExecutionsTrackingEnabled">
              <button
                (click)="onClickGetWorkflowExecutions(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Executions of the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button"
              >
                <i nz-icon nzTheme="outline" nzType="history"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
