#nav {
  height: 70px;
  background-color: #f8f9fa;
  padding: 8px 16px;
}

button {
  border: none;
}

texera-user-icon {
  float: right;
  padding: 8px;
}

.layout {
  height: calc(100vh - 70px);
}

.ant-layout-content {
  background-color: white;
  border: 1px solid #f0f0f0;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}
