<div [ngClass]="{'mat-typography texera-original-workspace-grid-container ':!resultPanelService.showResultPanel,'mat-typography texera-workspace-grid-container grid-container':resultPanelService.showResultPanel}"> 
  <texera-navigation class="texera-navigation-grid-container grid-container"></texera-navigation>
  <texera-operator-panel class="texera-operator-panel-grid-container grid-container"></texera-operator-panel>
  <texera-property-editor class="texera-property-editor-grid-container grid-container"></texera-property-editor>
  <texera-resultbar class="texera-resultbar-grid-container grid-container"></texera-resultbar>
  <texera-result-panel class="texera-result-panel-grid-container grid-container"></texera-result-panel>
  <texera-workflow-editor class="texera-workflow-editor-grid-container grid-container"></texera-workflow-editor>
</div>