.grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.texera-workflow-component-body {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

$header-height: 56px;
.texera-workspace-grid-container {
  display: grid;
  grid-template-columns: 14% 70% 16%;
  grid-template-rows : $header-height calc((100% - #{$header-height}) * 0.75) calc((100% - #{$header-height}) * 0.25)
}

.texera-navigation-grid-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.texera-operator-panel-grid-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

.texera-property-editor-grid-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: auto;
}

.texera-workflow-editor-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.texera-result-panel-grid-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
}
