<nav class="navbar navbar-expand navbar-light bg-light">
  <a
    class="navbar-brand"
    href="#"
    ><img
      alt="texera-logo"
      class="logo"
      src="../../../../assets/logos/logo.png"
  /></a>
  <div
    class="collapse navbar-collapse"
    id="navbarText">
    <div class="mr-auto"></div>
    <texera-user-icon></texera-user-icon>
  </div>
</nav>
<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li
        nz-menu-item
        nz-tooltip="Look up the user projects"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-project">
        <span
          nz-icon
          nzType="container"></span>
        <span>Projects</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Open the saved workflows"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/workflow">
        <span
          nz-icon
          nzType="project"></span>
        <span>Workflows</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Look up the user files"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-file">
        <span
          nz-icon
          nzType="folder-open"></span>
        <span>Files</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Search across the entire site"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/search">
        <span
          nz-icon
          nzType="file-search"></span>
        <span>Search</span>
      </li>

      <li
        *ngIf="isAdmin"
        nz-submenu>
        <span
          class="submenu"
          title>
          <span
            nz-icon
            nzType="tool"></span>
          <span>Admin</span>
        </span>
        <ul>
          <li
            nz-menu-item
            nz-tooltip="Look up the users"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/admin/user">
            <span
              nz-icon
              nzType="user"></span>
            <span>Users</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip="View statistics"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/admin/execution">
            <span
              nz-icon
              nzType="setting"></span>
            <span>Executions</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
