.navbar {
  height: 70px;
}

button {
  border: none;
}

.logo {
  width: 70px;
}

.layout {
  height: calc(100vh - 70px);
}

.ant-layout-content {
  background-color: white;
  border: 1px solid #f0f0f0;
}

.ant-menu-item {
  height: 60px;
}

.submenu,
.ant-menu-item span {
  font-size: 18px;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}
