.texera-mini-map-wrapper {
}

.texera-mini-map-square-container {
  width: 100%;
  // position: relative; // component-body's position: absolute requires this to be the first positioned ancestor element
  pointer-events: none;
}

.texera-mini-map-navigator {
  border: 1px solid #797a79;
  position: absolute;
  pointer-events: all;
  cursor: move;
  z-index: 2;
}

.texera-mini-map-button-shown {
  position: absolute;
  top: 0px;
  right: 0px;
}
