<div id="texera-mini-map-wrapper">
  <div>
    <div
      class="texera-mini-map-navigator"
      id="mini-map-navigator-id"></div>
  </div>

  <div
    [hidden]="!show"
    class="texera-mini-map-square-container">
    <div class="texera-mini-map-body texera-mini-map-component-body">
      <div
        [attr.id]="MINI_MAP_JOINTJS_MAP_ID"
        class="texera-workspace-mini-map-jointjs"></div>
    </div>
  </div>

  <!-- <div [ngClass]="{ 'texera-mini-map-button-shown': show }">
    <button nz-button (click)="show = !show" nzSize="large">
      <i nz-icon [nzType]="show ? 'shrink' : 'arrows-alt'"></i>
    </button>
  </div> -->
</div>
