<meta charset="utf-8">
<h2 mat-dialog-title>Visualization</h2>

<mat-dialog-content>
  <!-- this id should be identical to VisualizationPanelContentComponent.CHART_ID -->
  <div id="texera-result-chart-content">

  </div>

  <!-- this id should be identical to VisualizationPanelContentComponent.WORD_CLOUD_ID -->
  <div>
    <canvas id="texera-word-cloud"  width="1000" height="800">

    </canvas>

  </div>






</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
