<meta charset="utf-8">


<div *ngIf="displayWordCloud" id="texera-word-cloud-control">
  <nz-space>
    <nz-form-label>Normalization Scale</nz-form-label>
    <nz-select [ngModel]="wordCloudControls.scale" (ngModelChange)="updateWordCloudScale($event)"
      [nzDropdownMatchSelectWidth]="false">
      <nz-option *ngFor="let option of wordCloudScaleOptions" [nzValue]="option" [nzLabel]="option"></nz-option>
    </nz-select>
  </nz-space>
</div>

<!-- this id should be identical to VisualizationPanelContentComponent.CHART_ID -->
<div id="texera-result-chart-content">
</div>
<!-- this id should be identical to VisualizationPanelContentComponent.MAP_CONTAINER -->
<div [hidden]="displayMap" id="texera-result-map-container">
</div>
<iframe *ngIf="displayHTML" id="texera-result-html-content-container" [srcdoc]="htmlData"></iframe>
