<meta charset="utf-8" />

<div
  *ngIf="displayWordCloud"
  id="texera-word-cloud-control">
  <nz-space>
    <nz-form-label>Normalization Scale</nz-form-label>
    <nz-select
      (ngModelChange)="updateWordCloudScale($event)"
      [ngModel]="wordCloudControls.scale"
      [nzDropdownMatchSelectWidth]="false">
      <nz-option
        *ngFor="let option of wordCloudScaleOptions"
        [nzLabel]="option"
        [nzValue]="option"></nz-option>
    </nz-select>
  </nz-space>
</div>

<!-- this id should be identical to VisualizationFrameContentComponent.CHART_ID -->
<div id="texera-result-chart-content"></div>
<!-- this id should be identical to VisualizationFrameContentComponent.MAP_CONTAINER -->
<div
  [hidden]="displayMap"
  id="texera-result-map-container"></div>
<iframe
  *ngIf="displayHTML"
  [srcdoc]="htmlData"
  id="texera-result-html-content-container"></iframe>
