<nz-card
  class="section-title"
  style="background-color: lightcoral">
  <h2
    class="page-title"
    style="color: white">
    Gmail
  </h2>
</nz-card>

<nz-card
  style="margin: 5px; height: 100%"
  nzTitle="Send Email">
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="sendTestEmail()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Sender</nz-form-label>
      <nz-form-control style="font-size: 14px"> {{email}} </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSpan]="6"
        nzRequired
        >Recipient</nz-form-label
      >
      <nz-form-control nzHasFeedback>
        <input
          nz-input
          formControlName="email"
          placeholder="Email"
          type="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSpan]="6"
        nzRequired
        >Subject</nz-form-label
      >
      <nz-form-control nzHasFeedback>
        <input
          nz-input
          formControlName="subject" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSpan]="6"
        nzRequired
        >Content</nz-form-label
      >
      <nz-form-control nzHasFeedback>
        <textarea
          formControlName="content"
          nz-input
          rows="3"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button
        nz-button
        nzType="primary"
        [disabled]="!validateForm.valid"
        style="width: 100%">
        Submit
      </button>
    </nz-form-item>
  </form>
</nz-card>
