.preset-field {
  display: flex;
  .formly-field {
    flex-grow: 1;
  }
  .save-button {
    margin: calc(1em - 21px) 0 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
    &:hover {
      opacity: 1;
    }
  }
}

::ng-deep .preset-dropdown {
  transform: translateY(4px) !important;
  &.no-results {
    display: none;
  }
  .preset-menu {
    max-height: 150px;
    overflow: auto;
  }
  .preset-dropdown-item {
    pointer-events: auto;
    display: flex;
    .dropdown-entry {
      flex-grow: 1;
      display: flex;
      overflow: hidden;
      .title {
        text-align: left;
        margin-right: 0.8em;
        font-size: 1.1em;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .description {
        flex-grow: 1;
        font-size: 0.7em;
        text-align: right;
        color: rgba(0, 0, 0, 0.45);
        font-style: italic;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.2em;
      }
    }
    .delete-button {
      margin: 0 0 0 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.1;
      &:hover {
        opacity: 1;
      }
    }
  }
}
