<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div
  class="preset-field"
  nz-dropdown
  [nzDropdownMenu]="menu"
  nzTrigger="click"
  nzBackdrop="false"
  [nzOverlayClassName]="searchResults.length === 0 ? 'preset-dropdown no-results' : 'preset-dropdown'"
  (nzVisibleChange)="onDropdownVisibilityEvent($event)"
  [nzVisible]="presetMenuVisible"
  nzClickHide="true">
  <span
    class="formly-field"
    autocomplete="off">
    <ng-container #fieldComponent></ng-container>
  </span>

  <button
    class="save-button"
    nz-button
    nzType="default"
    nzType="primary"
    nzSize="small"
    nzShape="circle"
    (click)="savePreset()">
    <i
      nz-icon
      nzType="save"
      nzTheme="outline"></i>
  </button>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul
    nz-menu
    nzBordered
    nzSelectable="false"
    class="preset-menu">
    <li
      nz-menu-item
      *ngFor="let preset of searchResults; index as i">
      <div class="preset-dropdown-item">
        <span
          class="dropdown-entry"
          (click)="applyPreset(preset)">
          <span class="title">{{this.getEntryTitle(preset)}}</span>
          <span class="description">{{this.getEntryDescription(preset)}}</span>
        </span>
        <button
          class="delete-button"
          nz-button
          nzType="default"
          nzDanger
          nzType="primary"
          nzSize="small"
          nzShape="circle"
          (click)="$event.stopPropagation(); deletePreset(preset)">
          <i
            nz-icon
            nzType="close"></i>
        </button>
      </div>
    </li>
  </ul>
</nz-dropdown-menu>
