.texera-user-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  vertical-align: top;
  font-size: smaller;
  font-family: roboto, arial, serif;
  color: white;
  line-height: 38px;
  text-align: center;
}

.texera-user-avatar:hover {
  box-shadow: #ccc 0 0 10px;
}
