.versions-frame {
  height: 100%;
  display: flex;
  flex-direction: column;
  #versions-list ::ng-deep {
    height: 90%;
    overflow: auto;

    .ant-table-content {
      font-size: 11px;
    }

    .ant-table-thead {
      th {
        font-size: 11px;
      }
    }
  }
  .version-entry-link {
    color: black;
    font-size: 11px;
  }
}
