<div class="modal-header">
  <h4
    class="modal-title"
    id="modal-basic-title">
    Remove Files From Project
  </h4>
  <button
    (click)="activeModal.close()"
    aria-label="Close"
    class="close"
    type="button">
    <span aria-hidden="true"> × </span>
  </button>
</div>

<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            [checked]="isAllChecked()"
            (change)="changeAll()" />
        </th>
        <th scope="col">ID #</th>
        <th scope="col">Owner</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fileEntry of addedFiles; let i = index">
        <td>
          <input
            type="checkbox"
            [(ngModel)]="checkedFiles[i]" />
        </td>
        <td>{{fileEntry.file.fid}}</td>
        <td>{{fileEntry.ownerName}}</td>
        <td>{{fileEntry.file.name}}</td>
        <td>{{addFileSizeUnit(fileEntry.file.size)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button
    (click)="submitForm()"
    aria-label="Confirm"
    class="btn btn-primary"
    type="button">
    Confirm
  </button>
</div>
