.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/**
* this css is used for creating a 2*1 grid area for the 3 main
* sub-components. The percentages define the size of each
* column and row, and the first column is empty
*              ******************
*              *                *
*              ******************
*              *                *
*              *                *
*              *                *
*              *                *
*              ******************
**/
$header-height: 120px;

.user-file-container {
  display: grid;
  grid-template-rows: $header-height calc((100% - #{$header-height}));
}

.virtual-scroll-infinite-container {
  height: 600px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.button-area {
  grid-row-start: 1;
  grid-row-end: 2;
}

/**
* the grid of the file list which contains all the user dictionary.
* each list item contains a dict name, first three dict item and a view
* button to check the items in dictionary
**/
.user-file-list {
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: auto;

  .texera-dashboard-user-file-search-box-input {
    margin-bottom: 30px;
  }
}

.user-file-list-item {
  height: 70px;
  margin-bottom: 1.5%;
  padding-top: 5px;
}

.file-name {
  color: rgb(62, 202, 253);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
}

.file-title {
  color: rgb(62, 202, 253);
}

.file-name > i {
  position: relative;
  font-size: 20px;
  margin-bottom: 6px;
}

button {
  border-radius: 5px;
  border: none;
}

.ant-btn-icon-only {
  margin-right: 10px;
}
