<div class="user-file-container subsection-grid-container">
  <nz-card class="button-area subsection-grid-container">
    <h2 class="page-title">Files</h2>
    <div class="d-inline-block">
      <button (click)="openFileAddComponent()" [disabled]="disableAddButton()" nz-button
              nz-tooltip="Upload file" nzTooltipPlacement="bottom">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button>
    </div>
  </nz-card>

  <nz-card class="user-file-list subsection-grid-container">
    <nz-list>
      <nz-list-item *ngFor="let userFile of getFileArray()" class="user-file-list-item">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <div class="file-name">{{userFile.name}}</div>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            {{addFileSizeUnit(userFile.size)}}
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button nz-button nz-tooltip="Delete the {{userFile.name}}"
                    nzTooltipPlacement="bottom" (click)="deleteFile(userFile)"  type="button">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
  </nz-card>
</div>
