// reuse the same layout and styling with saved workflow component
@import "../saved-workflow-section/saved-workflow-section.component.scss";

/**
  * css specifically for each file item in the list (not shared by workflow items)
  **/
.file-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .file-item-meta {
    margin: 0px 20px;
  }

  .file-item-meta-title {
    display: flex;
    align-items: center;

    .file-name {
      color: rgb(62, 202, 253);
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
    }

    i {
      position: relative;
      font-size: 17px;
      margin-bottom: 6px;
    }
  }
}
