<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Files</h2>
    <div class="d-inline-block">
      <a
        nz-dropdown
        [nzDropdownMenu]="menu">
        <button nz-button>
          <i
            nz-icon
            nzTheme="outline"
            nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul
          nz-menu
          nzSelectable>
          <li
            (click)="ascSort()"
            nz-menu-item>
            A -> Z
          </li>
          <li
            (click)="dscSort()"
            nz-menu-item>
            Z -> A
          </li>
          <li
            (click)="timeSortDesc()"
            nz-menu-item>
            Newest
          </li>
          <li
            (click)="timeSortAsc()"
            nz-menu-item>
            Oldest
          </li>
          <li
            (click)="sizeSort()"
            nz-menu-item>
            By Size (Descending)
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        (click)="openFileAddComponent()"
        [disabled]="disableAddButton()"
        nz-button
        nz-tooltip="Upload file"
        nzTooltipPlacement="bottom">
        <i
          nz-icon
          nzTheme="outline"
          nzType="upload"></i>
      </button>
    </div>
  </nz-card>

  <div class="section-search-bar">
    <div
      *ngIf="isSearchByProject"
      class="texera-dashboard-user-file-project-box-select">
      <i
        style="margin-right: 10px; align-self: center"
        nz-icon
        nz-popover
        nzPopoverTitle="Filter Instructions"
        nzType="question-circle"
        nzTheme="outline"
        [nzPopoverContent]="filterPopContent"></i>
      <button
        style="align-self: center; margin-right: 0%"
        nz-button
        nz-tooltip="Switch to workflow search"
        nzTooltipPlacement="bottom"
        type="button"
        (click)="toggleSearchMode()">
        <i
          nz-icon
          nzType="search"
          nzTheme="outline"></i>
      </button>
      <nz-select
        style="width: 100%"
        nzMode="tags"
        nzPlaceHolder="Filter by project(s)"
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        [nzBorderless]="true"
        [nzOpen]="true"
        [(ngModel)]="projectFilterList"
        (ngModelChange)="isTyping = false">
        <nz-option-group nzLabel="Colored Projects">
          <div *ngFor="let project of userProjectsList">
            <nz-option
              *ngIf="project.color !== null"
              nzCustomContent
              [nzLabel]="project.name"
              [nzValue]="project.pid">
              <nz-tag
                [nzColor]="'#' + project.color"
                [ngStyle]="{ 'color' : colorBrightnessMap.get(project.pid) ? 'black' : 'white'}"
                >{{project.pid}}</nz-tag
              >
              {{project.name}}
            </nz-option>
          </div>
        </nz-option-group>
        <nz-option-group nzLabel="Colorless Projects">
          <div *ngFor="let project of userProjectsList">
            <nz-option
              *ngIf="project.color === null"
              nzCustomContent
              [nzLabel]="project.name"
              [nzValue]="project.pid">
              <nz-tag [nzColor]="'#595959'">{{project.pid}}</nz-tag>
              {{project.name}}
            </nz-option>
          </div>
        </nz-option-group>
      </nz-select>
      <ng-template
        #tagPlaceHolder
        let-selectedList
        >and {{ selectedList.length }} more selected</ng-template
      >
      <ng-template #filterPopContent>
        To search for a file by project(s) it belongs to, click on the search bar to view and select the appropriate
        projects.
      </ng-template>
    </div>

    <nz-input-group
      *ngIf="!isSearchByProject"
      [nzPrefix]="prefixPopoverButton"
      [nzSuffix]="suffixIconSearch"
      class="texera-dashboard-user-file-search-box-input">
      <input
        [(ngModel)]="userFileSearchValue"
        nz-input
        nzBackdrop="false"
        placeholder="Search User Files..."
        (keyup.enter)="isTyping = false"
        type="text"
        (ngModelChange)="searchInputOnChange($event)"
        [nzAutocomplete]="auto" />
      <ng-template #prefixPopoverButton>
        <button
          (click)="toggleSearchMode()"
          nz-button
          nz-tooltip="Filter files by project"
          nzTooltipPlacement="bottom"
          type="button">
          <i
            nz-icon
            nzType="filter"
            nzTheme="outline"></i>
        </button>
      </ng-template>
      <ng-template #suffixIconSearch>
        <i
          nz-icon
          nzType="search"></i>
      </ng-template>
      <nz-autocomplete
        [nzDefaultActiveFirstOption]="false"
        [nzDataSource]="filteredFilenames"
        nzBackfill
        #auto></nz-autocomplete>
    </nz-input-group>
  </div>

  <nz-card class="section-list-container">
    <!-- itemSize: the height (px) of each list item,
      this MUST be approximately the same as list item size set in CSS,
      .file-list-item sets the item size to be 70px, with additional paddings/margins it's approximately 80px
    -->
    <cdk-virtual-scroll-viewport
      itemSize="80"
      class="virtual-scroll-container">
      <nz-list>
        <nz-list-item
          *cdkVirtualFor="let dashboardUserFileEntry of getFileArray();let indexOfElement=index"
          class="file-list-item">
          <nz-list-item-meta class="file-item-meta">
            <nz-list-item-meta-title>
              <div class="file-item-meta-title">
                <h4
                  *ngIf="isEditingName.indexOf(indexOfElement) === -1; else customeFileName"
                  class="file-name">
                  {{ dashboardUserFileEntry.ownerName + "/" + dashboardUserFileEntry.file.name }}
                </h4>
                <ng-template #customeFileName>
                  <input
                    #customeFileName
                    (focusout)="confirmUpdateFileCustomName(dashboardUserFileEntry, customeFileName.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateFileCustomName(dashboardUserFileEntry, customeFileName.value, indexOfElement)"
                    placeholder="{{ dashboardUserFileEntry.file.name }}"
                    value="{{ dashboardUserFileEntry.file.name }}" />
                </ng-template>
                <button
                  (click)="isEditingName.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Customize File Name"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="edit"></i>
                </button>
                <button
                  (click)="isEditingDescription.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Add Description"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text"
                  class="add-description-btn">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="plus-square"></i>
                </button>
                <i
                  class="file-is-owner-icon"
                  *ngIf="dashboardUserFileEntry.isOwner"
                  ngbTooltip="You are the OWNER"
                  nz-icon
                  nzTheme="outline"
                  nzType="user"></i>
                <i
                  *ngIf="!dashboardUserFileEntry.isOwner"
                  ngbTooltip="{{
									dashboardUserFileEntry.accessLevel
								}} access shared by {{ dashboardUserFileEntry.ownerName }}"
                  nz-icon
                  nzTheme="outline"
                  nzType="team"></i>
              </div>
            </nz-list-item-meta-title>

            <!-- editable description of files -->
            <nz-list-item-meta-description>
              <div class="file-item-meta-description">
                <label
                  *ngIf="(isEditingDescription.indexOf(indexOfElement) === -1); else customFileDescription "
                  (click)="isEditingDescription.push(indexOfElement)"
                  class="file-description-label">
                  {{ dashboardUserFileEntry.file.description }}
                </label>
                <ng-template #customFileDescription>
                  <input
                    #customFileDescription
                    class="file-editable-description-input"
                    (focusout)="confirmUpdateFileCustomDescription(dashboardUserFileEntry, customFileDescription.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateFileCustomDescription(dashboardUserFileEntry, customFileDescription.value, indexOfElement)"
                    value="{{ dashboardUserFileEntry.file.description }}"
                    maxlength="500" />
                </ng-template>
              </div>
            </nz-list-item-meta-description>

            <nz-list-item-meta-description class="metadata-container">
              <span>Size: {{ addFileSizeUnit(dashboardUserFileEntry.file.size) }}</span>
              <span>Upload Time: {{ dashboardUserFileEntry.file.uploadTime | date: "yyyy-MM-dd HH:mm" }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>

          <div
            *ngIf="userProjectsLoaded"
            class="project-label-container">
            <div
              *ngFor="let pid of dashboardUserFileEntry.projectIDs"
              class="project-label">
              <a
                *ngIf="userProjectsMap.has(pid) && userProjectsMap.get(pid)!.color !== null"
                nz-tooltip="{{userProjectsMap.get(pid)!.name}}"
                nzTooltipPlacement="bottom"
                class="left-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(pid), 'dark-color' : !colorBrightnessMap.get(pid)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(pid) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(pid)!.color}"
                [routerLink]="ROUTER_USER_PROJECT_BASE_URL + '/' + userProjectsMap.get(pid)?.pid">
                {{userProjectsMap.get(pid)!.name}}
              </a>
              <div
                *ngIf="userProjectsMap.has(pid) && userProjectsMap.get(pid)!.color !== null"
                nz-tooltip="Remove from project"
                nzTooltipPlacement="bottom"
                class="right-div"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(pid), 'dark-color' : !colorBrightnessMap.get(pid)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(pid) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(pid)!.color}"
                (click)="removeFileFromProject(pid, dashboardUserFileEntry.file.fid)">
                x
              </div>
            </div>
          </div>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button
                (click)="onClickOpenShareAccess(dashboardUserFileEntry)"
                [disabled]="dashboardUserFileEntry.accessLevel !== 'Write'"
                nz-button
                nz-tooltip="Share the file {{
								dashboardUserFileEntry.file.name
							}} to others"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="share-alt"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="downloadUserFile(dashboardUserFileEntry)"
                nz-button
                nz-tooltip="Download the {{ dashboardUserFileEntry.file.name }}"
                nzTooltipPlacement="bottom">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="download"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="deleteUserFileEntry(dashboardUserFileEntry)"
                [disabled]="dashboardUserFileEntry.accessLevel !== 'Write'"
                nz-button
                nz-tooltip="Delete the file {{
								dashboardUserFileEntry.file.name
							}}"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="delete"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
