#title {
  padding: 10px 0 4px 15px;
}

#left-panel-container {
  position: fixed;
  top: 90px;
  left: 15px;
  width: 50%;
  z-index: 3;
  user-select: none;
  background: white;
  border-radius: 3px;
}

#left-panel-content {
  min-height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: inline-block;
  width: calc(100% - 50px);
}

#left-dock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}

#divider {
  margin: 0;
}

.ant-menu-item {
  margin: 0 !important;
}

.shadow {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
