<div>
  <div
    cdkDrag
    cdkDragBoundary="texera-workspace"
    id="left-panel-container"
    nz-resizable
    [nzMinWidth]="240"
    [nzMaxWidth]="screenWidth*0.5"
    [style.width.px]="width"
    (nzResize)="onResize($event)">
    <h6
      id="title"
      cdkDragHandle>
      <span id="spacer"></span>{{title}}
    </h6>
    <ul
      id="left-dock"
      nz-menu>
      <li
        nz-menu-item
        nzTooltipPlacement="left"
        nz-tooltip="Operators"
        (click)="openOperatorMenu()"
        nzSelected>
        <span
          nz-icon
          nzType="appstore"></span>
      </li>
      <li
        nz-menu-item
        nzTooltipPlacement="left"
        nz-tooltip="Versions"
        (click)="openVersionsFrame()"
        *ngIf="userSystemEnabled">
        <span
          nz-icon
          nzType="schedule"></span>
      </li>
      <li
        nz-menu-item
        nzTooltipPlacement="left"
        nz-tooltip="Time Travel"
        (click)="openTimeTravelFrame()"
        *ngIf="userSystemEnabled">
        <span
          nz-icon
          nzType="clock-circle"
          nzTheme="outline"></span>
      </li>
    </ul>
    <div id="left-panel-content">
      <ng-container *ngComponentOutlet="currentComponent;"></ng-container>
    </div>
    <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
  </div>
</div>
