<mat-form-field>
  <mat-label> {{ this.field?.templateOptions?.label }} </mat-label>
  <input
    (input)="autocomplete()"
    (focus)="autocomplete()"
    [formControl]="getControl()"
    [(ngModel)]="field?.formControl.value"
    matInput
    required
    [nzAutocomplete]="auto" />
  <mat-error>
    <formly-validation-message [field]="field"></formly-validation-message>
  </mat-error>
  <nz-autocomplete
    [nzDataSource]="suggestions"
    nzBackfill
    #auto>
  </nz-autocomplete>
</mat-form-field>
