.attribute-title {
  font-size: x-large;
}

.attribute-container {
  text-align: center;
  .code-button {
    &.readonly {
      color: black;
      background-color: blanchedalmond;
      border-color: blanchedalmond;

      &:hover {
        background-color: #fff0d9;
      }
    }
  }
}
