/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

:host {
  display: block;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selection-row {
  display: flex;
  gap: 16px;
}

.nz-select {
  width: 100%;
}

.select-dataset {
  transition: width 0.3s; /* Add animation effect */
}

.select-version {
  flex: 1;
  min-width: 0;
}

.texera-user-dataset-version-filetree {
  margin-top: 16px;
}

.dataset-option {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset-name {
  display: inline-block;
  max-width: calc(100% - 100px); /* Adjust to fit other elements */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset-id-container {
  background-color: grey;
  color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dataset-owner,
.dataset-access-privilege {
  margin-left: 10px;
  font-size: 12px;
  color: grey;
}
