<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzCollapsedWidth]="45"
    (nzCollapsedChange)="handleCollapseChange($event)"
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li class="logo-section">
        <img
          *ngIf="isCollpased"
          alt="mini-logo"
          src="../../../../assets/logos/favicon-32x32.png" />
        <img
          *ngIf="!isCollpased"
          alt="logo"
          height="50"
          src="../../../../assets/logos/logo.png" />
      </li>

      <li
        nz-submenu
        nzTitle="Hub"
        nzIcon="usergroup-add"
        nzOpen="true">
        <texera-hub [isLogin]="isLogin"></texera-hub>
      </li>

      <li
        *ngIf="isLogin"
        nz-submenu
        nzTitle="Your Work"
        nzIcon="user"
        nzOpen="true">
        <ul>
          <li
            nz-menu-item
            nz-tooltip="Look up the user projects"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            [routerLink]="DASHBOARD_USER_PROJECT">
            <span
              nz-icon
              nzType="container"></span>
            <span>Projects</span>
          </li>

          <li
            nz-menu-item
            nz-tooltip="Open the saved workflows"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            [routerLink]="DASHBOARD_USER_WORKFLOW">
            <span
              nz-icon
              nzType="project"></span>
            <span>Workflows</span>
          </li>

          <li
            nz-menu-item
            nz-tooltip="Look up for datasets"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            [routerLink]="DASHBOARD_USER_DATASET">
            <span
              nz-icon
              nzType="database"></span>
            <span>Datasets</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip="Quota information"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            [routerLink]="DASHBOARD_USER_QUOTA">
            <span
              nz-icon
              nzType="dashboard"></span>
            <span>Quota</span>
          </li>
          <li
            *ngIf="displayForum"
            nz-menu-item
            nz-tooltip="Open the discussion forum"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            [routerLink]="DASHBOARD_USER_DISCUSSION">
            <span
              nz-icon
              nzType="comment"></span>
            <span>Forum</span>
          </li>
          <li
            *ngIf="isAdmin"
            nz-submenu
            nzTitle="Admin"
            nzIcon="tool">
            <ul>
              <li
                nz-menu-item
                nz-tooltip="Look up the users"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                [routerLink]="DASHBOARD_ADMIN_USER">
                <span
                  nz-icon
                  nzType="user"></span>
                <span>Users</span>
              </li>
              <li
                nz-menu-item
                nz-tooltip="View statistics"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                [routerLink]="DASHBOARD_ADMIN_EXECUTION">
                <span
                  nz-icon
                  nzType="setting"></span>
                <span>Executions</span>
              </li>
              <li
                nz-menu-item
                nz-tooltip="Setup gmail"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                [routerLink]="DASHBOARD_ADMIN_GMAIL">
                <span
                  nz-icon
                  nzType="mail"></span>
                <span>Gmail</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <div class="page-container">
    <nz-layout>
      <div
        *ngIf="displayNavbar"
        id="nav">
        <texera-search-bar></texera-search-bar>
        <ng-container *ngIf="isLogin">
          <texera-user-icon></texera-user-icon>
        </ng-container>
        <texera-google-login [hidden]="isLogin"></texera-google-login>
      </div>

      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>
