#nav {
  height: 75px;
  padding: 10px 0 10px 24px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

texera-filters-instructions {
  margin-right: 10px;
}

texera-search-bar {
  flex: 1;
  max-width: calc(100% - 20px);
}

texera-google-login {
  float: right;
  padding: 5px 0;
}

texera-user-icon {
  padding: 0 24px;
}

texera-user-icon {
  padding: 0 24px;
}

button {
  border: none;
}

.layout {
  height: 100vh;
}

.ant-layout-content {
  background-color: white;
  border: 1px solid #f0f0f0;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}

.logo-section {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-content {
  position: relative;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-links {
  list-style-type: none;
  min-height: 70px;
  height: 70px;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  background-color: #f8f9fa;
  vertical-align: baseline;
}

.nav-item {
  float: left;
  padding: 14px;
}

.nav-link {
  color: black;
  font-weight: bold;
}

#googleButton {
  float: right;
  padding: 5px 0;
}

.hidden {
  display: none;
}
