/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#nav {
  height: 70px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

texera-filters-instructions {
  margin-right: 10px;
}

texera-search-bar {
  flex: 1;
  max-width: calc(100% - 20px);
  padding-right: 10px;
}

texera-user-icon {
  padding: 0 24px;
}

button {
  border: none;
}

.layout {
  height: 100vh;
}

.ant-layout-content {
  background-color: white;
  border: 1px solid #f0f0f0;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}

.logo-section {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsed-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

nz-content {
  position: relative;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#googleButton {
  float: right;
  padding: 5px 0;
}

#git-commit-id {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 0.4em;
  color: gray;
  z-index: 5;
  pointer-events: none;
}

.hidden {
  display: none;
}

#nav {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
