<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzCollapsedWidth]="45"
    (nzCollapsedChange)="handleCollapseChange($event)"
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li class="logo-section">
        <img
          *ngIf="isCollpased"
          alt="mini-logo"
          src="../../../../assets/logos/favicon-32x32.png" />
        <img
          *ngIf="!isCollpased"
          alt="logo"
          height="50"
          src="../../../../assets/logos/logo.png" />
      </li>
      <li
        nz-menu-item
        nz-tooltip="Look up the user projects"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-project">
        <span
          nz-icon
          nzType="container"></span>
        <span>Projects</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Open the saved workflows"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/workflow">
        <span
          nz-icon
          nzType="project"></span>
        <span>Workflows</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Look up for workflow result files"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-file">
        <span
          nz-icon
          nzType="folder-open"></span>
        <span>Results</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Look up for datasets"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/dataset">
        <span
          nz-icon
          nzType="database"></span>
        <span>Datasets</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Search across the entire site"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/search">
        <span
          nz-icon
          nzType="file-search"></span>
        <span>Search</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip="Quota information"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-quota">
        <span
          nz-icon
          nzType="dashboard"></span>
        <span>Quota</span>
      </li>
      <li
        *ngIf="displayForum"
        nz-menu-item
        nz-tooltip="Open the discussion forum"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/discussion">
        <span
          nz-icon
          nzType="comment"></span>
        <span>Forum</span>
      </li>
      <li
        *ngIf="isAdmin"
        nz-submenu
        nzTitle="Admin"
        nzIcon="tool">
        <ul>
          <li
            nz-menu-item
            nz-tooltip="Look up the users"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/admin/user">
            <span
              nz-icon
              nzType="user"></span>
            <span>Users</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip="View statistics"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/admin/execution">
            <span
              nz-icon
              nzType="setting"></span>
            <span>Executions</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip="Setup gmail"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/admin/gmail">
            <span
              nz-icon
              nzType="mail"></span>
            <span>Gmail</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <div
      *ngIf="displayNavbar"
      id="nav">
      <texera-user-icon></texera-user-icon>
    </div>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
