<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzCollapsedWidth]="45"
    (nzCollapsedChange)="handleCollapseChange($event)"
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li class="logo-section">
        <img
          *ngIf="isCollpased"
          alt="mini-logo"
          src="../../../../assets/logos/favicon-32x32.png" />
        <img
          *ngIf="!isCollpased"
          alt="logo"
          height="50"
          src="../../../../assets/logos/logo.png" />
      </li>

      <li
        nz-submenu
        nzTitle="Community"
        nzIcon="usergroup-add"
        nzOpen="true">
        <texera-hub [isLogin]="isLogin"></texera-hub>
      </li>

      <li
        *ngIf="isLogin"
        nz-submenu
        nzTitle="Your Work"
        nzIcon="user"
        nzOpen="true">
        <ul>
          <li
            nz-menu-item
            nz-tooltip="Look up the user projects"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/user/project">
            <span
              nz-icon
              nzType="container"></span>
            <span>Projects</span>
          </li>

          <li
            nz-menu-item
            nz-tooltip="Open the saved workflows"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/user/workflow">
            <span
              nz-icon
              nzType="project"></span>
            <span>Workflows</span>
          </li>

          <li
            nz-menu-item
            nz-tooltip="Look up for datasets"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/user/dataset">
            <span
              nz-icon
              nzType="database"></span>
            <span>Datasets</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip="Quota information"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/user/quota">
            <span
              nz-icon
              nzType="dashboard"></span>
            <span>Quota</span>
          </li>
          <li
            *ngIf="displayForum"
            nz-menu-item
            nz-tooltip="Open the discussion forum"
            nzMatchRouter="true"
            nzTooltipPlacement="right"
            routerLink="/dashboard/user/discussion">
            <span
              nz-icon
              nzType="comment"></span>
            <span>Forum</span>
          </li>
          <li
            *ngIf="isAdmin"
            nz-submenu
            nzTitle="Admin"
            nzIcon="tool">
            <ul>
              <li
                nz-menu-item
                nz-tooltip="Look up the users"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                routerLink="/dashboard/admin/user">
                <span
                  nz-icon
                  nzType="user"></span>
                <span>Users</span>
              </li>
              <li
                nz-menu-item
                nz-tooltip="View statistics"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                routerLink="/dashboard/admin/execution">
                <span
                  nz-icon
                  nzType="setting"></span>
                <span>Executions</span>
              </li>
              <li
                nz-menu-item
                nz-tooltip="Setup gmail"
                nzMatchRouter="true"
                nzTooltipPlacement="right"
                routerLink="/dashboard/admin/gmail">
                <span
                  nz-icon
                  nzType="mail"></span>
                <span>Gmail</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <div class="page-container">
    <ul
      class="nav-links"
      [ngClass]="{ 'hidden': isLogin }">
      <li
        class="nav-item"
        [hidden]="!showLinks">
        <a
          class="nav-link"
          href="https://github.com/Texera/texera/wiki/Getting-Started"
          >Getting Started</a
        >
      </li>
      <li
        class="nav-item"
        [hidden]="!showLinks">
        <a
          class="nav-link"
          href="https://texera.github.io/blog/"
          >Blogs</a
        >
      </li>
      <li
        class="nav-item"
        [hidden]="!showLinks">
        <iframe
          style="margin-top: 2px"
          src="https://ghbtns.com/github-btn.html?user=Texera&repo=texera&type=star&count=true"
          frameborder="0"
          scrolling="0"
          width="90"
          height="20"
          title="GitHub"></iframe>
      </li>
      <li
        class="nav-item"
        id="googleButton"></li>
    </ul>

    <nz-layout>
      <div
        *ngIf="displayNavbar"
        id="nav">
        <texera-search-bar></texera-search-bar>
        <texera-user-icon *ngIf="isLogin"></texera-user-icon>
      </div>

      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>
