nz-table th {
  text-align: center;
}

.bookmark-icon {
  font-size: 1.5rem;
}

.bookmark-icon:hover {
  cursor: pointer;
}

.modal-xl .modal-lg {
  max-width: 90%;
}

.status-icon {
  font-size: 1.2rem;
}

.rename-icon:hover {
  color: #007bff;
}

.trash-icon {
  font-size: 1.3rem;
}

.trash-icon:hover {
  cursor: pointer;
  color: #007bff;
}

::ng-deep .cdk-overlay-container {
  z-index: 1100;
}

.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-btn {
  border: 0px;
  background-color: transparent;
}

.h4 {
  font-size: 24px;
}

.ant-btn-icon-only > * {
  font-size: 16px;
}

.ant-btn-icon-only {
  margin-right: 0px;

  &.ant-btn-sm {
    transform: translateY(-5px);
  }
}

.version-sample {
  flex-grow: 2;
  text-align: center;
}

.workflow-snapshot {
  float: left;
  display: inline;
  border: 1px solid #343a40;
  width: 170px;
  height: 95px;
}
