@import "../../dashboard.component.scss";
@import "../../section-style";
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .ant-badge-dot {
  right: 8px;
  top: 5px;
}
