p {
  color: red;
  font-family: Roboto, Arial, sans-serif;
  padding-top: 15px;
}

.warning-note {
  color: red;
  font-family: Roboto, Arial, sans-serif;
  padding-top: 15px;
}

.add-button {
  background-color: rgba(35, 241, 35, 0.411);
}
