.modal-body{
  word-wrap: break-word;
}


.file-upload-btn{
  background-color: #1dc739
}

.or-separator{
  font-family:Roboto, Arial, sans-serif;
}

/**
* this css is used for creating a 3*2 grid area for the Add
* dictionary window. The percentages define the size of each
* column and row, and the first column is empty
*              ******************
*              *                *
*              ******************
*              *                *
*              *                *
*              *                *
*              ******************
*              *                *
*              ******************
**/
.add-dictionary-container{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows : 10% 60% 10% 5% 15%;
  grid-row-gap: 10px;
}

.name-area{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.content-area{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.separator-area{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.transmit-area{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.file-upload-area{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: auto;
}

.drag-file-area {
  height: 220px;
  min-width: 96%;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 50px;
  border: dotted 5px lightblue;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size:200%;
}
.have-file-over {
  background:  lightgray;
}
.invalid-file {
  background: linear-gradient(to right,red 10%, white 60%);
}
.drag-file-gap{
  border-bottom:2px solid lightgray;
  margin-right: 3%;
  margin-left: 3%;
}
.drag-file-container{
  display: grid;
  grid-template-columns: 85% 15%;
  margin-bottom:3px;
  margin-top:3px;
  margin-right: 3%;
  margin-left: 3%;
  border-bottom:1px solid lightgray;
}
.drag-file-container:last-child{
  border-bottom:none;
}
/**
* this css is used for creating a n*2 grid area for the queue
*              *******************
*              *        *        *
*              *******************
**/
.queue-file-name{
  grid-column-start: 1;
  grid-column-end: 2;
}
.queue-delete-bottom{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:red;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.queue-delete-bottom:hover{
  color: white;
}
.warning-space{
  margin-right: 3%;
  margin-left: 3%;
}
.invalid-file-warning{
 color:orange;
}

#hide input[type=file] {
  display:none;
  margin:10px;
  }
#hide input[type=file] + label {
  display:inline-block;
  margin:20px;
  padding: 4px 32px;
  background-color: #FFFFFF;
  border:solid 1px #666F77;
  border-radius: 6px;
  color:#666F77;
  }
#hide input[type=file]:active + label {
  background-image: none;
  background-color:#2D6C7A;
  color:#FFFFFF;
  }
