<div class="modal-header">
  <h4 class="modal-title">Add Dictionary</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChangeEvent($event)">
    <!-- upload files tab -->
    <mat-tab label="Upload">
      <div ng2FileDrop [ngClass]="{'have-file-over': haveDropZoneOver}" (fileOver)="haveFileOver($event)"
        (onFileDrop)="getFileDropped($event)" [uploader]="uploader" class="drag-file-area"
        (click)="clickUpload.click()">

        Drop Files Here
        <div id="hide">
          <input #clickUpload type="file" accept=".txt" (change)="handleClickUploadFile($event)" multiple />
        </div>

      </div>
      <div *ngIf="getDictionaryArrayLength()">
        <li *ngFor="let item of getDictionaryArray()" class="file-queue-item">
          <span>
            <label>{{ item.name }}</label>
            <label *ngIf="!isItemValid(item)" class="invalid-file">*Invalid</label>
          </span>
          <button class="queue-delete-button" (click)="deleteDictionary(item)" [disabled]="item.isUploadingFlag">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </li>
        <div *ngIf="!validateAllDictionaryUploadItems()">
          <label class="invalid-file-warning">
            *You can not upload non text files or files with duplicate name
          </label>
        </div>
      </div>
    </mat-tab>

    <!-- tab for manual dictionary creation by the user -->
    <mat-tab label="Add Manually">
      <div class="add-dictionary-container">
        <mat-dialog-content>
          <mat-form-field>
            <input matInput [(ngModel)]="getManualDictionary().name" placeholder="Name of Dictionary"
              [formControl]="nameValidator" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="nameValidator.invalid">*Name is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput style="resize: none;" [(ngModel)]="getManualDictionary().content"
              placeholder="Content of Dictionary" [formControl]="contentValidator" [errorStateMatcher]="matcher"
              required matTextareaAutosize matAutosizeMaxRows="8">
            </textarea>
            <mat-error *ngIf="contentValidator.invalid">*Content is <strong>required</strong></mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="getManualDictionary().separator"
              placeholder="Content Separator (' , '    ' \\t '    ' \\n ')">
          </mat-form-field>
          <mat-form-field class="description-area">
            <input matInput [(ngModel)]="getManualDictionary().description" placeholder="Dictionary Description">
          </mat-form-field>
        </mat-dialog-content>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
<div class="modal-footer">
  <div *ngIf="isInUploadFileTab && getDictionaryArrayLength()">
    <button class="btn btn-primary btn-xs bottom-upload bottom-size" (click)="clickUploadDictionaryButton()"
      [disabled]="isAllItemsUploading() || !validateAllDictionaryUploadItems()">
      <span *ngIf="true">Upload</span>
      <span *ngIf="false" class='fa fa-spinner fa-spin'></span>
    </button>
  </div>
  <div *ngIf="!isInUploadFileTab">
    <button class="btn btn-primary btn-xs bottom-upload bottom-size" (click)="clickUploadManualDictionaryButton()"
      [disabled]="!isManualDictionaryValid() || getManualDictionary().isUploadingFlag">
      <span *ngIf="true">Add</span>
      <span *ngIf="false" class='fa fa-spinner fa-spin'></span>
    </button>
  </div>
  <button class="btn btn-outline-dark bottom-size" (click)="activeModal.dismiss('close')">Close</button>
</div>
