@import '../workspace.component.scss';

.texera-mini-map-square-container {
  position: relative; // component-body's position: absolute requires this to be the first positioned ancestor element
  left: 75%;
  width: 25%;
  padding-top: 25%; // padding-top uses % of parent width (causing 1:1 aspect ratio)
  height: 0;
  pointer-events: none;

  backdrop-filter: blur(2px);
}

.texera-mini-map-component-body {
  position: absolute; // requires parent square-container to be positioned in order to position relative to parent
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  opacity: 0.7;

  box-shadow: -2px 2px 2px rgba(0,0,0,0.2);
}

.texera-mini-map-navigator {
  border: 1px solid #797A79;
  position: absolute;
  z-index: 1000;
}
