html {
	height: 100%;
}

body {
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	overflow: hidden;
}

.navbar{
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	padding-right: 0px;
	height: 50px;
}

.navbar-brand{
	font-size: 22px;
	font-weight: bold;
	color: #67AAF9;
}

.navigation-btn{
	width: 120px;
	font-weight: bold;
	font-size: 22px;
	padding : 0px;
	background-color: #67AAF9;
	color: #F5F5F5;
}

.navigation-btn:hover{
	background-color: #3b93f7
}

#css-operator-bar{
	/*border: 1px solid black;*/
	border-radius: 0px;
	color: white;
	background:  #001011;
}

.previous-operators{
	margin-left: 240px;
}

.fill {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#wrapper {
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 100px);
}

#sidebar-wrapper {
    margin-left: 0px;
		padding-left: 10px;
    left: 0px;
    width: 255px;
    background: #D2D7DF; /* #9999A1, D2D7DF*/
    position: absolute;
    color:  #353535;
    height: calc(100% - 100px);
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-brand{
	font-weight: bold;
}

.attribute-type {
	font-size: 19px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-control {
	width : 220px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


#the-flowchart {
	width: calc(100%);
	height: calc(100%);
	background: #FCFCFC;
}

#flow-chart-container{
	width: calc(100% - 255px);;
	left: 255px;
	height: calc(100% - 40px);
	position: relative;

}

.zoomInButton{
	width: 80px;
	height: 80px;
	right: 160px;
	bottom: 60px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 50px;
	border-color: #000;
	background: #F5F5F5;
}

.zoomInButton:hover{
	background: #d9d9d9;
}



.zoomOutButton{
	width: 80px;
	height: 80px;
	right: 60px;
	bottom: 60px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 50px;
	border-color: #000;
	background: #F5F5F5;
}

.zoomOutButton:hover{
	background: #d9d9d9;
}

.excelDownloadButton {
	position: absolute;
	z-index: 1;
	background-color: #39ac39;
	opacity: 0.5;
	right: 10px;
	bottom: 0px;
	width: 280px;
	font-size: 24px;
	color: white;
	font-weight: bold;
	margin-bottom: 6px;
	display: none;
}

.excelDownloadButton:hover{
	background-color: #339933;
}

.excelIcon{
	padding-right: 9px;
}

.dropdown {
	position: relative;
	float: left;
	padding-left: 0px;
}


.group-icon{
	padding-left: 12px;
}

.dropdown-content {
	margin-top: 7px;
	position: absolute;
  min-width: 160px;
	text-align: left;
	z-index: 1;
	background-color: white;
	border-radius: 5px;
	display: none;
}

.dropdown-content div {
	display: block;
	float: none;
	color: black;
	padding: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
}

.dropdown-content div:hover {
	background-color: #a6a6a6;
}


#file-upload {
    display: none;
}

.dictionary-upload {
    border: 1px solid #ccc;
    /*display: inline-block;*/
    padding: 0px 16px;
    cursor: pointer;
		background-color: #39ac39;
		color: white;
		font-weight: bold;
		font-size: 22px;
}

.dictionary-upload:hover{
		background-color: #339933;
}


#result-table {
		width: calc(100%);
		height: calc(100%);
		font-family: arial, sans-serif;
		border-collapse: collapse;
		display: inline-block;
}

#result-table td, #result-table th {
		font-size: 16px;
		border: 1.5px solid #dddddd;
		border-left: 0px;
		text-align: left;
		padding: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}



.resultRow:nth-child(even) {
		background-color: #dddddd;
}

.resultRow:hover{
	background-color: #fff5cc;
}

.result-attribute-title{
	background-color:  #b3b3ff;
}

#result-table-bar{
	width: calc(100%);
	/*margin-left: 240px;*/
	height: 0px;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #ebfaeb;
	display: none;
	position: absolute;
}

#result-bar-title{
	background-color: #4d79ff;
	color: white;
	width: calc(100%);
	height: 40px;
	font-size: 25px;
	padding-left: 10px;
	/*margin-left: 240px;*/
	cursor: pointer;
	vertical-align: middle;
}

#result-bar-title:hover{
	background-color: #1a53ff;
}


#ngrip {
    top: -5px;
    width: 100%;
    height: 10px;
		position: absolute;
		cursor: ns-resize;
}

#result-container {
    position:relative;
		margin-left: 255px;
		width: calc(100% - 255px);
		z-index: 100;
}
