html {
	height: 100%;
}

body {
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar{
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	padding-right: 5px;
	overflow-x: auto;
}

.navbar-brand{
	font-size: 22px;
	font-weight: bold;
	color: #67AAF9;
}


.navigation-btn{
	width: 100px;
	font-weight: bold;
	font-size: 22px;
	padding : 0px;
	background-color: #67AAF9;
	color: #F5F5F5;
}

#css-operator-bar{
	/*border: 1px solid black;*/
	border-radius: 0px;
	color: white;
	background:  #001011;
}

.previous-operators{
	margin-left: 30px;
}

.fill {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#wrapper {
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 104px);
}

#sidebar-wrapper {
    margin-left: 0px;
		padding-left: 10px;
    left: 0px;
    width: 240px;
    background: #D2D7DF; /* #9999A1, D2D7DF*/
    position: absolute;
    color:  #353535;
    height: calc(100% - 100px);
    overflow-y: auto;
    z-index: 1000;
}

.attribute-type {
	font-size: 19px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-control {
	width : 220px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


#the-flowchart {
	width: calc(100%);
	height: calc(100%);
	background: #FCFCFC;
}

#flow-chart-container{
	width: calc(100% - 240px);;
	left: 240px;
	height: calc(100%);
}


#file-upload {
    display: none;
}

.dictionary-upload {
    border: 1px solid #ccc;
    /*display: inline-block;*/
    padding: 0px 16px;
    cursor: pointer;
		background-color: #39ac39;
		color: white;
		font-weight: bold;
		font-size: 22px;
}
