html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	overflow: hidden;
}

.navbar-right{
	margin-right: 0px;
}
.navbar{
	line-height: 50px;
	margin: 0px;
	height: 50px;
}

.navbar-brand{
	font-size: 22px;
	font-weight: bold;
	color: #67AAF9;
}

.navigation-btn{
	width: 120px;
	font-weight: bold;
	font-size: 22px;
	padding : 0px;
	background-color: #67AAF9;
	color: #F5F5F5;
}

.navigation-btn:hover{
	background-color: #3b93f7
}

#css-operator-bar{
	/*border: 1px solid black;*/
	border-radius: 0px;
	color: white;
	background:  #001011;
}

.previous-operators{
	left: 0px;
	margin-left: 255px;
}

.fill {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#wrapper {
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 100px);
}

#sidebar-wrapper {
    margin-left: 0px;
		padding-left: 10px;
    left: 0px;
    width: 255px;
    background: #D2D7DF; /* #9999A1, D2D7DF*/
    position: absolute;
    color:  #353535;
    height: calc(100% - 140px);
    overflow-y: auto;
    z-index: 1000;
}

#version-number {
	top: calc(100% - 40px);
	left: 0px;
	height: 40px;
	position: absolute;
	background: #D2D7DF; /* #9999A1, D2D7DF*/
	z-index: 1000;
	width: 255px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}


.sidebar-brand{
	font-weight: bold;
}

.attribute-type {
	font-size: 19px;
}


.form-control {
	width : 220px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


#the-flowchart {
	width: calc(100%);
	height: calc(100%);
	background: #FCFCFC;
}

#flow-chart-container{
	width: calc(100% - 255px);;
	left: 255px;
	height: calc(100% - 40px);
	position: relative;

}

.zoomInButton{
	right: 150px;
	bottom: 60px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 80px;
	border-color: #000;
	cursor: pointer;
}

.zoomInButton:hover{
	color: #0d0d0d;
}



.zoomOutButton{
	right: 70px;
	bottom: 60px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 80px;
	border-color: #000;
	cursor: pointer;
}

.zoomOutButton:hover{
	color: #0d0d0d;
}

.excelDownloadButton {
	position: absolute;
	z-index: 1;
	background-color: #39ac39;
	opacity: 0.5;
	right: 10px;
	bottom: 0px;
	width: 280px;
	font-size: 24px;
	color: white;
	font-weight: bold;
	margin-bottom: 6px;
	display: none;
}

.excelDownloadButton:hover{
	background-color: #339933;
}

.excelIcon{
	padding-right: 9px;
}

.dropdown {
	position: relative;
	float: left;
	padding-left: 0px;
}


.group-icon{
	padding-left: 12px;
}

.dropdown-content {
	margin-top: 7px;
	position: absolute;
  min-width: 160px;
	text-align: left;
	z-index: 1;
	background-color: white;
	border-radius: 5px;
	display: none;
}

.dropdown-content div {
	display: block;
	float: none;
	color: black;
	padding: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
}

.dropdown-content div:hover {
	background-color: #a6a6a6;
}


#file-upload {
    display: none;
}

.dictionary-upload {
    border: 1px solid #ccc;
    /*display: inline-block;*/
    padding: 0px 16px;
    cursor: pointer;
		background-color: #39ac39;
		color: white;
		font-weight: bold;
		font-size: 19px;
		margin-top: 12px;
		margin-bottom: 0px;
		width: 220px
}

.checkBox{
	display: inline-block;
}


.languageLabel{
	font-size: 20px;
}

.dictionary-upload:hover{
		background-color: #339933;
}


#result-table {
		width: calc(100%);
		height: calc(100%);
		font-family: arial, sans-serif;
		border-collapse: collapse;
		display: inline-block;
}

#result-table td, #result-table th {
		font-size: 16px;
		border: 1.5px solid #dddddd;
		border-left: 0px;
		text-align: left;
		padding: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}



.resultRow:nth-child(even) {
		background-color: #dddddd;
}

.resultRow:hover{
	background-color: #fff5cc;
}

.result-attribute-title{
	background-color:  #b3b3ff;
}

#result-table-bar{
	width: calc(100%);
	/*margin-left: 240px;*/
	height: 0px;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #ebfaeb;
	display: none;
	position: absolute;
}

#result-bar-title{
	background-color: #4d79ff;
	color: white;
	width: calc(100%);
	height: 40px;
	font-size: 25px;
	padding-left: 10px;
	/*margin-left: 240px;*/
	cursor: pointer;
	vertical-align: middle;
}

#result-bar-title:hover{
	background-color: #1a53ff;
}


#ngrip {
    top: -5px;
    width: 100%;
    height: 10px;
		position: absolute;
		cursor: ns-resize;
}

#result-container {
    position:relative;
		margin-left: 255px;
		width: calc(100% - 255px);
		z-index: 100;
}

/* dropdown menu hover detail*/

#operator-detail-div {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 280px;
	border-radius: 5px;
	background-color: white;
	color: black;
	border: 1px solid black;
	line-height: 35px;
	margin-left: 3px;
}

#operator-detail-div::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#operator-detail-name {
	font-size: 16px;
	padding-left: 6px;
	padding-right: 6px;
}


#operator-detail-content{
	border-top: 1px solid black;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 14px;
}



@media screen and (min-width: 1080px) {
	#sidebar-wrapper {
		width: 255px;
	}
	#flow-chart-container{
		width: calc(100% - 255px);;
		left: 255px;
	}
	#result-container {
			margin-left: 255px;
			width: calc(100% - 255px);
	}
	.previous-operators{
		margin-left: 255px;
	}
	.form-control {
		width : 220px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
	#sidebar-wrapper {
		width: 220px;
	}
	#flow-chart-container{
		width: calc(100% - 220px);;
		left: 220px;
	}
	#result-container {
			margin-left: 220px;
			width: calc(100% - 220px);
	}
	.previous-operators{
		margin-left: 220px;
	}
	.form-control {
		width : 185px;
	}
}

@media screen and (min-width: 768px) and (max-width: 900px) {
	#sidebar-wrapper {
		width: 200px;
	}
	#flow-chart-container{
		width: calc(100% - 200px);;
		left: 200px;
	}
	#result-container {
			margin-left: 200px;
			width: calc(100% - 200px);
	}
	.previous-operators{
		margin-left: 200px;
	}
	.form-control {
		width : 165px;
	}
}


@media screen and (max-width: 768px) {
	#sidebar-wrapper {
		width: 180px;
	}
	#flow-chart-container{
		width: calc(100% - 180px);;
		left: 180px;
	}
	#result-container {
			margin-left: 180px;
			width: calc(100% - 180px);
	}
	.previous-operators{
		margin-left: 180px;
	}
	.form-control {
		width : 145px;
	}

/* fix bootstrap issue*/
	.navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
	}
	.navbar-header {
    float: left;
  }
	.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
	.navbar-nav {
		float: left;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
}
