html {
	height: 100%;
}

body {
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	overflow: hidden;
}

.navbar{
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	padding-right: 0px;
}

.navbar-brand{
	font-size: 22px;
	font-weight: bold;
	color: #67AAF9;
}

.navigation-btn{
	width: 100px;
	font-weight: bold;
	font-size: 22px;
	padding : 0px;
	background-color: #67AAF9;
	color: #F5F5F5;
}

#css-operator-bar{
	/*border: 1px solid black;*/
	border-radius: 0px;
	color: white;
	background:  #001011;
}

.previous-operators{
	margin-left: 240px;
}

.fill {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#wrapper {
    padding-left: 0px;
    width: 100%;
    height: calc(100% - 104px);
}

#sidebar-wrapper {
    margin-left: 0px;
		padding-left: 10px;
    left: 0px;
    width: 240px;
    background: #D2D7DF; /* #9999A1, D2D7DF*/
    position: absolute;
    color:  #353535;
    height: calc(100% - 100px);
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-brand{
	font-weight: bold;
}

.attribute-type {
	font-size: 19px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-control {
	width : 220px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


#the-flowchart {
	width: calc(100%);
	height: calc(100%);
	background: #FCFCFC;
}

#flow-chart-container{
	width: calc(100% - 240px);;
	left: 240px;
	height: calc(100%);
	position: relative;

}

.zoomInButton{
	width: 80px;
	height: 80px;
	right: 160px;
	bottom: 80px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 50px;
	border-color: #000;
	background: #FCFCFC;
}

.zoomOutButton{
	width: 80px;
	height: 80px;
	right: 60px;
	bottom: 80px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	font-size: 50px;
	border-color: #000;
	background: #FCFCFC;
}

.dropdown {
	position: relative;
	float: left;
}


.dropdown-content {
	margin-top: 7px;
	position: absolute;
  min-width: 160px;
	text-align: left;
	z-index: 1;
	background-color: white;
	border-radius: 5px;
	display: none;
}

.dropdown-content div {
	display: block;
	float: none;
	color: black;
	padding: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
}

.dropdown-content div:hover {
	background-color: #a6a6a6;
}
