body {
	left: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

/* Menu of Operators (hidden at beginning) */
.menu {
	background: #202024 url("../img/black-thread.png") repeat left top;
	left: -285px;
	top: 0px;
	height: 100%;
	position: fixed;
	width: 285px;
}

.menu ul {
	border-top: 1px solid #636366;
	list-style: none;
	height: 95%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

/* Each Operator Selector */
.menu li {
	border-bottom: 1px solid #636366;
	border-left: 3px solid transparent;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.blank-operator{
	border: 0px;
	height: 50px;
	cursor: default;
}

/* The X that closes the menu */
.icon-close {
	cursor: pointer;
	padding: 10px;
	padding-bottom: 14px;
}

/* The Dropdown Panel after selecting an operator from menu */
.panel{
	color: #fff;
	font-size: 16px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
	border-bottom: 1px solid #636366;
	border-left: 3px solid transparent;
	display: none;
}

.panel.active{
	display: block;
	background-color: black;
	border-left: 3px solid cyan;
}

li.active{
	border-bottom: none;
	background-color: black;
	border-left: 3px solid cyan;
	color: cyan;
}

button{
	border-bottom: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

/* Holds the nav, dashboard, popup attribute box */
.jumbotron {
	height: 100%;
}

/* Navbar at top of screen with menu, delete, and process operators */
.nav {
	background: #202024 url("../img/black-thread.png") repeat left top;
}

.process-query {
	font-weight: bold;
	float: right;
	color: white;
}

#main-delete {
	background-color: Darkred;
	float: right;
	color: white;
	font-weight: bold;
}

/* menu, delete, and process operators (grouped) */
.nav div {
	border: 1px solid #636366;
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 15px;
	display: inline-block;
	margin: 10px;
}

.icon-menu {
	padding-right: 100px;
	color: #fff;
}

/* Holds the flowchart */
.dashboard {
	background-image: url('../img/white-background.jpg'); 
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: 1px solid #BBB;
}

/* Holds the attributes box */
.popup{
	height: 310px;
	width: 450px;
	padding: 0px;
	margin: 0px;
	bottom: 0;
	right: 0;
	position: fixed;
	background-image: url('../img/white-background.jpg');
	background-size: 100% 100%;
	border: 1px solid black;
}

/* Closes the Attributes Box when clicked */
.attributes-band{
	height: 20px;
	border-bottom: 1px solid black;
	padding: 11px;
	background: #202024 url('../img/black-thread.png') repeat left top;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	cursor: pointer;
}

#attributes{
	padding: 11px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	white-space: pre-wrap;
	line-height: 1.5;
}

/* The edit/confirm/cancel buttons */
#attributes button{
	margin: 5px;
	border: 1px solid black;
}

/* Result Frame and Result Box after processing query */
.result-frame{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	position: fixed;
}

.result-box{
	top: 2%;
	left: 1%;
	bottom: 2%;
	right: 30px;
	height: 96%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: white;
	position: fixed;
}

/* .result-box div{
	display: block;
} */

.result-box-band{
	padding: 11px;
	height: 50px;
	font-size: 22px;	
	border-bottom: 1px solid black;
	background: #202024 url('../img/black-thread.png') repeat left top;
	color: #fff;
	cursor: pointer;
}

.result-frame-close {
	padding: 0px;
	cursor: pointer;
	float: right;
/* 	padding: 10px;
	padding-bottom: 14px; */
}

.return-result{
	padding: 11px;
	top: 73px;
	left: 0px;
	bottom: 11px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	position: absolute;
	white-space: preline;
	overflow: auto;
}