/* Initial body */
body {
	left: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

/* Initial menu */
.menu {
	background: #202024 url("../img/black-thread.png") repeat left top;
	left: -285px;  /* start off behind the scenes */
	top: 0px;
	height: 100%;
	position: fixed;
	width: 285px;
}

/* Basic styling */

.jumbotron {
	height: 100%;
}

.menu ul {
	border-top: 1px solid #636366;
	list-style: none;
	height: 95%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.menu li {
	border-bottom: 1px solid #636366;
	border-left: 3px solid transparent;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.blank-operator{
	border: 0px;
	height: 50px;
	cursor: default;
}

.icon-close {
	cursor: pointer;
	padding: 10px;
	padding-bottom: 14px;
}

.nav {
	background: #202024 url("../img/black-thread.png") repeat left top;
}

#main-delete {
	/*  background-image: url('../img/patterns-lines-red.jpg'); */
	/* 	padding-left: 100px; */
	/* 	border: 1px solid #636366; */
	background-color: Darkred;
	float: right;
	color: white;
	font-weight: bold;
}

.nav div {
	border: 1px solid #636366;
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 15px;
	display: inline-block;
	margin: 10px;
}

.icon-menu {
	padding-right: 100px;
	color: #fff;
}

.dashboard {
	background-image: url('../img/white-background.jpg'); 
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border: 1px solid #BBB;
	/* 	margin-bottom: 10px; */
}

.panel{
	color: #fff;
	font-size: 16px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
	border-bottom: 1px solid #636366;
	border-left: 3px solid transparent;
	display: none;
}

.panel.active{
	display: block;
	background-color: black;
	border-left: 3px solid cyan;
}

li.active{
	border-bottom: none;
	background-color: black;
	border-left: 3px solid cyan;
	color: cyan;
}

button{
	border-bottom: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
