@import "../../search.scss";
@import "../../dashboard.component.scss";
/**
  * css specifically for each file item in the list (not shared by workflow items)
  **/
.file-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .file-item-meta {
    margin: 0 20px;
  }

  .file-item-meta-title {
    display: flex;
    align-items: center;

    .file-name {
      //color: rgb(62, 202, 253);
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
    }

    i {
      position: relative;
      font-size: 17px;
      margin-bottom: 6px;
    }

    i.file-is-owner-icon {
      margin-left: 7px;
    }
  }

  .file-item-meta-description {
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 10px;
    margin-bottom: 8px;

    .file-description-label {
      // color: #000000;
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(202, 202, 202);
      }
    }

    .file-editable-description-input {
      margin-bottom: 5px;
      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }
}
