<div class="user-dictionary-container subsection-grid-container">

  <mat-card class = "user-dictionary-list subsection-grid-container">
    <mat-card-content>
      <mat-list >
        <h2 style="font-family:Roboto, Arial, sans-serif;">Dictionaries</h2>
        <br/>
        <div class = "scroll">
           <mat-list-item *ngFor="let dictionary of UserDictionary" class="user-dictionary-list-item">
             <ng-template #tipContent>Description: {{dictionary.description}}</ng-template>
             <div class="section for tip" placement="bottom" [ngbTooltip]="tipContent">
              <p font-size= 10px><span style="color:rgb(62, 202, 253); font-size:20px; font-family:Roboto, Arial, sans-serif;">{{dictionary.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Item Preview: {{dictionary.items.slice(0,3)}}......</p>
             </div>
             <span class="gap-filler"></span>
             <button mat-raised-button color="primary" class="view-button" (click)= "openNgbdModalResourceViewComponent(dictionary)">View</button>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
