<nz-card
  [nzBodyStyle]="{padding: '5px'}"
  class="list-item-card">
  <div
    [routerLink]="entryLink"
    nz-row
    nzAlign="middle">
    <!-- Icon Column -->
    <div
      nz-col
      nzSpan="1">
      <div class="type-icon-div">
        <i
          nz-icon
          [nzType]="iconType"></i>
      </div>
    </div>

    <!-- ID Column -->
    <div
      nz-col
      nzSpan="1">
      <div class="resource-id">
        <em>#{{ entry.id }}</em>
      </div>
    </div>

    <div
      nz-col
      nzSpan="10">
      <div class="name-container">
        <!-- Edit Name Buttons -->
        <div
          class="edit-button-group"
          *ngIf="isPrivateSearch">
          <button
            nz-button
            nzType="text"
            class="edit-name-button"
            title="Rename"
            (click)="onEditName()"
            (click)="$event.stopPropagation()">
            <i
              nz-icon
              nzTheme="outline"
              nzType="edit"></i>
          </button>
        </div>

        <!-- Name -->
        <div
          class="resource-name truncate-single-line"
          *ngIf="!editingName">
          {{ entry.name }}
        </div>
        <input
          *ngIf="editingName"
          #nameInput
          class="resource-name-edit-input"
          [(ngModel)]="entry.name"
          (blur)="confirmUpdateWorkflowCustomName(entry.name)"
          (keydown.enter)="confirmUpdateWorkflowCustomName(entry.name)"
          (click)="$event.stopPropagation()"
          autofocus />
      </div>

      <!-- Description -->
      <div cladd="description-container">
        <!-- Edit Description Buttons -->
        <div
          class="edit-button-group"
          *ngIf="isPrivateSearch">
          <button
            nz-button
            nzType="text"
            class="edit-description-button"
            title="Edit Description"
            (click)="onEditDescription()"
            (click)="$event.stopPropagation()">
            <i
              nz-icon
              nzTheme="outline"
              nzType="form"></i>
          </button>
        </div>
        <div
          class="resource-description truncate-single-line"
          *ngIf="!editingDescription">
          {{ entry.description ? entry.description : '' }}
        </div>
        <textarea
          *ngIf="editingDescription"
          #descriptionInput
          class="resource-description-edit-textarea"
          [(ngModel)]="entry.description"
          (blur)="confirmUpdateWorkflowCustomDescription(entry.description)"
          (keydown.enter)="confirmUpdateWorkflowCustomDescription(entry.description)"
          (click)="$event.stopPropagation()"
          autofocus></textarea>
      </div>
    </div>

    <div
      nz-col
      [nzSpan]="12">
      <div class="edit-info">
        <div class="resource-owner">
          <texera-user-avatar
            class="user-avatar"
            [googleAvatar]="'https://lh3.googleusercontent.com/a/' + (entry.ownerGoogleAvatar || '')"
            userColor="#1E90FF"
            [userName]="entry.ownerName || 'User'"
            [isOwner]="entry.ownerId === this.currentUid">
          </texera-user-avatar>
        </div>
        <div class="resource-info-grid">
          <div class="resource-info">{{ entry.type === 'dataset' ? 'Size: ' + formatSize(entry.size) : '' }}</div>
          <div class="resource-info">Created: {{ formatTime(entry.creationTime) }}</div>
          <div class="resource-info">Edited: {{ formatTime(entry.lastModifiedTime) }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isPrivateSearch"
    class="button-group">
    <button
      *ngIf="entry.type==='workflow'"
      nz-button
      nzType="text"
      class="dropdown-item"
      title="Detail"
      (click)="openDetailModal(this.entry.id)">
      <i
        nz-icon
        nzTheme="outline"
        nzType="eye"></i>
    </button>
    <button
      nz-button
      nzType="text"
      class="dropdown-item"
      title="Share"
      (click)="onClickOpenShareAccess()">
      <i
        nz-icon
        nzTheme="outline"
        nzType="share-alt"></i>
    </button>
    <button
      nz-button
      nzType="text"
      *ngIf="entry.type==='workflow'"
      class="dropdown-item"
      title="Copy"
      (click)="duplicated.emit()">
      <i
        nz-icon
        nzTheme="outline"
        nzType="copy"></i>
    </button>
    <button
      nz-button
      nzType="text"
      *ngIf="entry.type === 'workflow' || entry.type === 'dataset'"
      class="dropdown-item"
      title="Download"
      (click)="onClickDownload()">
      <i
        nz-icon
        nzType="cloud-download"
        nzTheme="outline"></i>
    </button>
    <button
      nz-button
      nzType="text"
      class="dropdown-item"
      title="Delete"
      (nzOnConfirm)="deleted.emit()"
      nz-popconfirm
      nzPopconfirmTitle="Confirm to delete this item.">
      <i
        nz-icon
        nzTheme="outline"
        nzType="delete"></i>
    </button>
  </div>
</nz-card>
