.list-item-card {
  padding: 3px;
  width: 100%;
  background-color: white;
  position: relative;
  height: 65px;

  &:hover {
    background-color: #f0f0f0;

    .edit-button {
      display: flex;
    }

    &.has-button-group:hover .resource-info {
      opacity: 0.3;
    }
  }

  &.selected {
    border-color: #1e90ff;
    background-color: #e6f7ff;

    .button-group,
    .button-group button {
      background-color: #e6f7ff;
    }

    .button-group button:hover,
    .edit-button button:hover {
      background-color: #cceeff;
    }
  }
}

.resource-name-group {
  min-width: 0;
}

.truncate-single-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resource-name {
  font-size: 17px;
  font-weight: 600;
}

.resource-description {
  font-size: 12px;
  font-weight: 300;
  color: grey;
}

.resource-info {
  font-size: 13px;
  color: grey;
}

.large-checkbox {
  display: none;
  width: 16px;
  height: 16px;
}

.list-item-card:hover .large-checkbox,
.showc {
  display: block;
  z-index: 10;
}

.button-group {
  display: none;
  position: absolute;
  height: 70px;
  min-width: 150px;
  right: 0;
  bottom: 0;
  justify-content: right;
  align-items: center;
  transition: none;

  button {
    margin-right: 32px;
    transition: none;
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
  }

  button:hover {
    background-color: #c7c7c7;
  }
}

.list-item-card:hover .button-group {
  display: flex;
  background-color: transparent;
}

.resource-name-edit-input {
  font-size: 17px;
  font-weight: 600;
  padding: 0;
  margin: 4px 0;
  outline: none;
  height: 23px;
  border: 1px solid #d9d9d9;
}

.resource-description-edit-textarea {
  font-size: 12px;
  font-weight: 300;
  padding: 0;
  border: 1px solid #d9d9d9;
  outline: none;
  resize: none;
  height: 18px;
  line-height: 1.5;
  max-height: 18px;
  overflow: hidden;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.edit-button {
  display: none;

  &:hover {
    display: block;
    background-color: #d9d9d9;
  }

  button {
    height: 25px;
  }
}

.type-icon {
  font-size: 30px;
}

.workflow-id {
  padding: 6px;
}

.like-button {
  width: 50px;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.liked {
  color: red;
}
