<nz-card
  [nzBodyStyle]="{padding: '3px'}"
  class="list-item-card"
  [class.selected]="entry.checked"
  [class.has-button-group]="isPrivateSearch">
  <div
    [routerLink]="entryLink"
    nz-row
    nzAlign="middle">
    <div
      nz-col
      nzFlex="20px">
      <input
        type="checkbox"
        class="large-checkbox"
        [ngClass]="{showc: entry.checked}"
        [checked]="entry.checked"
        (change)="onCheckboxChange(entry)"
        (click)="$event.stopPropagation()"
        *ngIf="isPrivateSearch && entry.type==='workflow'" />
    </div>

    <div
      nz-col
      nzFlex="0"
      class="type-icon">
      <i
        nz-icon
        [nzType]="iconType"></i>
    </div>

    <div
      nz-col
      nzFlex="0"
      class="workflow-id">
      <i>#{{ entry.id }}</i>
    </div>

    <div
      nz-col
      nzFlex="30px"
      *ngIf="isPrivateSearch">
      <div class="edit-button">
        <button
          nz-button
          nzType="text"
          title="Rename"
          (click)="onEditName();$event.stopPropagation()">
          <i
            nz-icon
            nzType="edit"></i>
        </button>
      </div>

      <div class="edit-button">
        <button
          nz-button
          nzType="text"
          title="Edit Description"
          (click)="onEditDescription();$event.stopPropagation()">
          <i
            nz-icon
            nzType="form"></i>
        </button>
      </div>
    </div>

    <div
      nz-col
      nzFlex="1"
      class="resource-name-group">
      <div
        class="resource-name truncate-single-line"
        *ngIf="!editingName">
        {{ entry.name }}
      </div>
      <input
        *ngIf="editingName"
        #nameInput
        class="resource-name-edit-input"
        [(ngModel)]="entry.name"
        (blur)="confirmUpdateWorkflowCustomName(entry.name)"
        (keydown.enter)="confirmUpdateWorkflowCustomName(entry.name)"
        (click)="$event.stopPropagation()"
        autofocus />

      <div
        class="resource-description truncate-single-line"
        *ngIf="!editingDescription">
        {{ entry.description ? entry.description : '' }}
      </div>
      <textarea
        *ngIf="editingDescription"
        #descriptionInput
        class="resource-description-edit-textarea"
        [(ngModel)]="entry.description"
        (blur)="confirmUpdateWorkflowCustomDescription(entry.description)"
        (keydown.enter)="confirmUpdateWorkflowCustomDescription(entry.description)"
        (click)="$event.stopPropagation()"
        autofocus></textarea>
    </div>

    <div
      nz-col
      nzFlex="50px"
      class="resource-info">
      <texera-user-avatar
        [googleAvatar]="'https://lh3.googleusercontent.com/a/' + (entry.ownerGoogleAvatar || '')"
        userColor="#1E90FF"
        [userName]="entry.ownerName || 'User'"
        [isOwner]="entry.ownerId === this.currentUid">
      </texera-user-avatar>
    </div>

    <div
      nz-col
      nzFlex="40px"
      class="resource-info">
      <ng-container *ngIf="entry.type === 'workflow'; else sizeInfo">
        {{ formatCount(viewCount) }}<br />
        views
      </ng-container>
      <ng-template #sizeInfo> Size: {{ formatSize(entry.size) }} </ng-template>
    </div>

    <div
      nz-col
      nzFlex="95px"
      class="resource-info">
      Created:<br />
      {{ formatTime(entry.creationTime) }}
    </div>

    <div
      nz-col
      nzFlex="90px"
      class="resource-info">
      Edited:<br />
      {{ formatTime(entry.lastModifiedTime) }}
    </div>

    <div
      nz-col
      nzFlex="0"
      class="resource-info">
      <button
        *ngIf="!isPrivateSearch && entry.type==='workflow'"
        nz-button
        nzType="default"
        class="like-button"
        title="Like"
        [disabled]="!currentUid"
        (click)="toggleLike(this.entry.id, this.currentUid); $event.stopPropagation()"
        [attr.disabled]="!currentUid ? true : null">
        <i
          nz-icon
          [nzType]="'like'"
          [ngClass]="{liked: isLiked}">
        </i>
        <span>{{ formatCount(likeCount) }}</span>
      </button>
    </div>
  </div>

  <div
    *ngIf="isPrivateSearch"
    class="button-group">
    <button
      *ngIf="entry.type==='workflow'"
      nz-button
      nzType="text"
      title="Detail"
      (click)="openDetailModal(this.entry.id)">
      <i
        nz-icon
        nzType="eye"></i>
    </button>
    <button
      nz-button
      nzType="text"
      title="Share"
      (click)="onClickOpenShareAccess()">
      <i
        nz-icon
        nzType="share-alt"></i>
    </button>
    <button
      nz-button
      nzType="text"
      *ngIf="entry.type==='workflow'"
      title="Copy"
      (click)="duplicated.emit()">
      <i
        nz-icon
        nzType="copy"></i>
    </button>
    <button
      nz-button
      nzType="text"
      *ngIf="entry.type === 'workflow' || entry.type === 'dataset'"
      title="Download"
      (click)="onClickDownload()">
      <i
        nz-icon
        nzType="cloud-download"></i>
    </button>
    <button
      nz-button
      nzType="text"
      title="Delete"
      (nzOnConfirm)="deleted.emit()"
      nz-popconfirm
      nzPopconfirmTitle="Confirm to delete this item.">
      <i
        nz-icon
        nzType="delete"></i>
    </button>
  </div>
</nz-card>
