<div
  *ngIf="!editingTitle"
  id="formly-title">
  <h3
    *ngIf="!editingTitle && formTitle"
    class="texera-workspace-property-editor-title">
    {{ formTitle }}
  </h3>
  <button
    (click)="editingTitle=true; connectQuillToText()"
    nz-button
    nz-tooltip="Customize Operator Name"
    nzSize="small"
    nzTooltipPlacement="bottom"
    nzType="text"
    [disabled]="!interactive">
    <i
      nz-icon
      nzTheme="outline"
      nzType="edit"></i>
  </button>
  <i
    *ngIf="currentOperatorId?.includes('PythonLambdaFunction')"
    nz-icon
    nz-popover
    nzPopoverTitle="Python Lambda Function Instructions"
    nzType="question-circle"
    nzTheme="outline"
    [nzPopoverContent]="PythonLambdaPopContent"></i>

  <ng-template #PythonLambdaPopContent>
    You can add a new column by:
    <ul>
      <li>Clicking on the blue <strong>"+"</strong> button</li>
      <li>Selecting <strong>"Add New Column"</strong> in the drop-down list of the first field</li>
      <li>Typing in the name of the new column</li>
      <li>Selecting the attribute type</li>
      <li>Typing in an expression using the Python syntax</li>
    </ul>
    You can modify an existing column by:
    <ul>
      <li>Clicking on the blue <strong>"+"</strong> button</li>
      <li>Selecting one existing column in the drop-down list of the first field</li>
      <li>Selecting the attribute type</li>
      <li>Typing in an expression using the Python syntax</li>
    </ul>
    You can get the value of any existing attribute in the expression by:
    <ul>
      <li>Typing in <strong>tuple_["$attributeName"]</strong> in the expression field</li>
      <li>Replacing <strong>$attributeName</strong> with the attributeName you want to access</li>
    </ul>
    <br />
    Example: Add a new column called IsExpensive where the value is True if the unit price is greater than 500<br />
    Operations:
    <ul>
      <li>Clicking on the blue "+" button</li>
      <li>Selecting "Add New Column" in the drop-down list of the first field</li>
      <li>Typing in the name of the new column as <strong>IsExpensive</strong></li>
      <li>Selecting the attribute type as <strong>boolean</strong></li>
      <li>Typing in the expression as <strong>True if tuple_["Unit Price"] > 500 else False</strong></li>
    </ul>
  </ng-template>
</div>

<div
  id="customName"
  [hidden]="!editingTitle"
  (focusout)="disconnectQuillFromText()"
  (keyup.enter)="disconnectQuillFromText()"></div>

<form
  nz-form
  [nzLayout]="'vertical'"
  *ngIf="formlyFields && formlyFormGroup"
  [formGroup]="formlyFormGroup"
  class="property-editor-form">
  <formly-form
    (modelChange)="onFormChanges($event)"
    [fields]="formlyFields"
    [form]="formlyFormGroup"
    [model]="formData"
    [options]="formlyOptions">
  </formly-form>
  <ndc-dynamic
    [ndcDynamicComponent]="extraDisplayComponentConfig?.component"
    [ndcDynamicInputs]="extraDisplayComponentConfig?.componentInputs ?? {}"></ndc-dynamic>
</form>

<button
  (click)="allowModifyOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused) &&
		!this.interactive"
  nz-button
  nz-tooltip="Unlock the operator to change logic"
  nzTooltipPlacement="bottom"
  [disabled]="
  currentOperatorSchema?.additionalMetadata?.supportReconfiguration !== true
  || currentOperatorStatus?.operatorState === OperatorState.Completed
  ">
  Unlock for Logic Change
  <i
    nz-icon
    nzTheme="outline"
    nzType="unlock"></i>
</button>

<button
  (click)="confirmModifyOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused) &&
		this.interactive"
  nz-button
  nz-tooltip="Confirm change and modify the operator runtime"
  nzTooltipPlacement="bottom">
  Confirm Change
</button>

<div class="operator-version">
  <span>Operator Version: {{ operatorVersion }}</span>
</div>
