<h3
  *ngIf="formTitle"
  class="texera-workspace-property-editor-title"
  mat-subheader
>
  {{ formTitle }}
</h3>

<form
  *ngIf="formlyFields"
  [formGroup]="formlyFormGroup"
  class="texera-workspace-property-editor-form"
>
  <formly-form
    (modelChange)="onFormChanges($event)"
    [fields]="formlyFields"
    [form]="formlyFormGroup"
    [model]="formData"
    [options]="formlyOptions"
  >
  </formly-form>
  <ndc-dynamic
    [ndcDynamicComponent]="extraDisplayComponentConfig?.component"
    [ndcDynamicInputs]="extraDisplayComponentConfig?.componentInputs"
  ></ndc-dynamic>
</form>

<button
  (click)="allowChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === false
	"
  class="breakpointRemoveButton"
  type="button"
>
  Change Logic
</button>

<button
  (click)="confirmChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === true
	"
  class="breakpointRemoveButton"
  type="button"
>
  Confirm Change
</button>
