<div *ngIf="!editingTitle" id="formly-title">
  <h3 *ngIf="!editingTitle && formTitle" class="texera-workspace-property-editor-title" mat-subheader>
    {{ formTitle }}
  </h3>
  <button
    (click)="editingTitle=true"
    nz-button
    nz-tooltip="Customize Operator Name"
    nzSize="small"
    nzTooltipPlacement="bottom"
    nzType="text"
  >
    <i nz-icon nzTheme="outline" nzType="edit"></i>
  </button>
</div>

<input
  #customName
  (focusout)="confirmChangeOperatorCustomName(customName.value)"
  (keyup.enter)="confirmChangeOperatorCustomName(customName.value)"
  *ngIf="editingTitle"
  placeholder="{{formTitle}}"
  value="{{formTitle}}"
/>

<form *ngIf="formlyFields" [formGroup]="formlyFormGroup" class="texera-workspace-property-editor-form">
  <formly-form
    (modelChange)="onFormChanges($event)"
    [fields]="formlyFields"
    [form]="formlyFormGroup"
    [model]="formData"
    [options]="formlyOptions"
  >
  </formly-form>
  <ndc-dynamic
    [ndcDynamicComponent]="extraDisplayComponentConfig?.component"
    [ndcDynamicInputs]="extraDisplayComponentConfig?.componentInputs"
  ></ndc-dynamic>
</form>

<button
  (click)="allowChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === false
	"
  class="breakpointRemoveButton"
  type="button"
>
  Change Logic
</button>

<button
  (click)="confirmChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === true
	"
  class="breakpointRemoveButton"
  type="button"
>
  Confirm Change
</button>
