<mat-list class="feature-bar-outline">
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/savedproject']" placement="right" ngbTooltip="Open the saved user projects"><i class="fa">&#xf1c4;</i> Saved Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/userdictionary']" placement="right" ngbTooltip="Look up the user dictionaries"><i class="fa">&#xf02d;</i> User Dictionary</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right" ngbTooltip="Check the running processes"><i class="fa">&#xf036;</i> Running Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right" ngbTooltip="Check the data sources"><i class="fa">&#xf1c0;</i> Data Source</button>
    <mat-divider></mat-divider>
</mat-list>



