<!--TODO: change to nz-menu-->
<nz-list nzBordered>
  <nz-list-item>
    <button
      [routerLink]="['/dashboard/user-project']"
      class="feature-bar-btn"
      nz-button
      nz-tooltip="Look up the user projects"
      nzTooltipPlacement="right"
      nzType="text">
      <i
        class="feature-bar-btn-icon"
        nz-icon
        nzTheme="outline"
        nzType="container"></i>
      Projects
    </button>
  </nz-list-item>
  <nz-list-item>
    <button
      [routerLink]="['/dashboard/workflow']"
      class="feature-bar-btn"
      nz-button
      nz-tooltip="Open the saved workflows"
      nzTooltipPlacement="right"
      nzType="text">
      <i
        class="feature-bar-btn-icon"
        nz-icon
        nzTheme="outline"
        nzType="project"></i>
      Workflows
    </button>
  </nz-list-item>
  <nz-list-item>
    <button
      [routerLink]="['/dashboard/user-file']"
      class="feature-bar-btn"
      nz-button
      nz-tooltip="Look up the user files"
      nzTooltipPlacement="right"
      nzType="text">
      <i
        class="feature-bar-btn-icon"
        nz-icon
        nzTheme="outline"
        nzType="folder-open"></i>
      Files
    </button>
  </nz-list-item>
</nz-list>
