<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-list class="feature-bar-outline">
    <button mat-button class="feature-bar-btn" [routerLink]="['/Dashboard/SavedProject']" placement="right" ngbTooltip="Open the saved user projects"><i class="fa">&#xf1c4;</i> Saved Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/Dashboard/UserDictionary']" placement="right" ngbTooltip="Look up the user dictionaries"><i class="fa">&#xf02d;</i> User Dictionary</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/Dashboard']" placement="right" ngbTooltip="Check the running processes"><i class="fa">&#xf036;</i> Running Project</button>
    <mat-divider></mat-divider>
    <button mat-button class="feature-bar-btn" [routerLink]="['/Dashboard']" placement="right" ngbTooltip="Check the data sources"><i class="fa">&#xf1c0;</i> Data Source</button>
    <mat-divider></mat-divider>
</mat-list>



