/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.landing-page-container {
  display: flex;
  flex-direction: column;
  padding: 0 133px;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.search-bar {
  max-width: 1400px;
  width: 100%;
}

.section-intro {
  max-width: 1400px;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-intro-text {
  max-width: 500px;
}

.section-intro-text > h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.section-intro-text > p {
  color: grey;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
}

.section-intro-img {
  max-height: 176px;
}

.browse-section {
  max-width: 1200px;
  width: 100%;
  padding-bottom: 40px;
}
