.texera-operator-label-body {
    padding: 10px 8px;
    margin-bottom: 6px;

    &:hover {
        background-color: #f4f5f6;
        cursor: pointer;
    }
}

.popover {
    position: absolute;
    width: 200px;
    left: 80px;
    z-index: 9;
}
