:host ::ng-deep .ant-table-pagination.ant-pagination {
  margin: 16px 0;
}

// make the pagination button to the left
:host ::ng-deep .ant-table-pagination-right {
  justify-content: left;
}

td.data-size {
  font-size: 12px;
}

th.header-size {
  font-size: 14px;
  padding: 2px;
}

.custom-stats-row th {
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 88px;
}

.custom-stats-row th:first-child {
  border-left: none; /* To remove the left border from the first column */
}

.statsHeader {
  max-height: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.statsLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftAlign {
  text-align: left;
  margin-right: 10px;
}

.rightAlign {
  text-align: right;
}

.borderless-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.table-cell {
  position: relative;
  padding-right: 28px;
}

.cell-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.download-button {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 4px;
  background: transparent;
  border: none;
  cursor: pointer;

  i {
    font-size: 16px; // Slightly larger to match the cloud icon
    color: #1890ff; // Ant Design's primary blue color
  }
}

.table-row-hover:hover {
  .download-button {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.table-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.table-container {
  position: relative;
}

.download-all-button {
  position: absolute;
  bottom: 16px;
  right: 0;
}
