@import "../search/search.component";

.load-more {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

nz-sider {
  background: rgb(255, 255, 255);
}

nz-content {
  background: rgb(255, 255, 255);
}

.resource-type-icon {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.dataset-search-bar {
  margin-left: 10px;
}

.dataset-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .dataset-item-checkbox {
    margin: 8px;
  }

  .dataset-item-meta-title {
    display: flex;
    align-items: center;

    .dataset-name {
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
      margin-bottom: 0;
      color: inherit;
      text-decoration: none;
    }

    .dataset-name:hover {
      cursor: pointer;
    }

    i {
      position: relative;
      font-size: 17px;
    }

    i.dataset-is-owner-icon {
      margin-left: 7px;
    }
  }

  .dataset-item-meta-description {
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 10px;
    margin-bottom: 5px;

    .dataset-description {
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(202, 202, 202);
      }
    }

    .dataset-editable-description {
      margin-bottom: 5px;
      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }
}

.subsection-grid-container {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-btn-icon-only {
  margin-left: 5px;
  margin-right: 5px;
}

.metadata-container {
  span {
    margin: 0 1rem 0 0; // add space to the right
  }
}
