wheel==0.41.2
numpy==1.24.4
pandas==1.5.3
flake8==4.0.1
black==24.3.0
iniconfig==1.1.1
loguru==0.7.0
pyarrow==14.0.1
pytest==7.4.0
python-dateutil==2.8.1
pytest-timeout==2.2.0
protobuf==3.20.3
betterproto==2.0.0b3
typing==3.7.4.3
pampy==0.3.0
overrides==7.4.0
typing_extensions==4.9.0
pytest-reraise==2.1.2
dataclasses==0.6
Deprecated==1.2.14
fs==2.4.16
praw==7.6.1
python-lsp-server[all]==1.5.0
python-lsp-server[websockets]==1.5.0
bidict==0.22.0
cached_property==1.5.2
psutil==5.9.0
transformers==4.44.2
tzlocal==2.1