wheel
numpy
pandas
flake8
black==24.3.0
iniconfig==1.1.1
loguru==0.7.0
pyarrow==14.0.1
pytest==7.4.0
python-dateutil==2.8.1
pytest-timeout
protobuf==3.19.5
betterproto~=2.0.0b3
typing~=3.7.4.3
pampy==0.3.0
overrides
typing_extensions
pytest-reraise
dataclasses
Deprecated
fs==2.4.16
praw~=7.6.1
python-lsp-server[all]==1.5.0
python-lsp-server[websockets]
bidict==0.22.0
cached_property
psutil
transformers
rpy2==3.5.11
rpy2-arrow==0.0.8