To use AlchemyAPI you need to install two following things:

1. Python (3.0 or later)

2. Request module for Python
   pip3.4 install requests / python3.4 -m pip install (Simply change 3.4 to version you are using if you are using version other than 3.4)
   
   If you don't have pip installed, you can read this installation guide and install pip: http://docs.python-guide.org/en/latest/starting/installation/
   
