@import "../../search/search.component";
@import "../../../dashboard.component.scss";

/**
  * css for project label, shared by workflow section and file section
**/
.dataset-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .dataset-item-meta {
    margin: 0 20px;
  }

  .dataset-item-meta-title {
    display: flex;
    align-items: center;

    .dataset-name {
      color: black;
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      text-align: center;
    }

    i {
      position: relative;
      font-size: 17px;
      margin-bottom: 6px;
    }

    i.dataset-is-owner-icon {
      margin-left: 7px;
    }
  }

  .dataset-item-meta-description {
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 10px;
    margin-bottom: 8px;

    .dataset-description-label {
      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;

      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(202, 202, 202);
      }
    }

    .dataset-editable-description-input {
      margin-bottom: 5px;
      display: inline-block;
      min-width: 17ch;
      border: 0 none;
      outline: none;
      box-shadow: 0 0 0 2px #007bff;
    }
  }
}
