.extra-width {
  width: 110px;
}

.role {
  border-radius: 50px;
  color: white;
  display: block;
  width: 86px;
  text-align: center;
}

.c0 {
  background-color: lightskyblue;
}

.c1 {
  background-color: lightseagreen;
}

.c2 {
  background-color: lightcoral;
}

.c3 {
  background-color: lightslategray;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
