<div class="texera-workspace-operator-panel-body">
  <div class="texera-workspace-operator-panel-search-box">
    <input
      [formControl]="operatorSearchFormControl"
      [nzDropdownMenu]="autocomplete_menu"
      appearance="outline"
      aria-label="Operator-Search"
      autocomplete="off"
      class="texera-workspace-operator-panel-search-box-input"
      nz-dropdown
      nz-input
      nzBackdrop="false"
      nzTrigger="click"
      placeholder="Search Operators..."
      type="text"
    />
    <nz-dropdown-menu
      #autocomplete_menu="nzDropdownMenu"
      (optionSelected)="onSearchOperatorSelected($event)"
      class="texera-workspace-operator-panel-search-box-dropdown"
    >
      <ul class="texera-workspace-operator-panel-search-box-dropdown-menu" nz-menu nzBordered nzSelectable="false">
        <li *ngFor="let operatorSchema of operatorSearchResults | async" class="dropdown-menu-items" nz-menu-item>
          <texera-operator-label
            [fromSearchBox]="true"
            [operator]="operatorSchema"
            class="texera-workspace-operator-panel-search-box-dropdown-menu-name-wrapper"
          ></texera-operator-label>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <nz-collapse [nzBordered]="false" class="texera-workspace-operator-panel-menu" nzAccordion>
    <nz-collapse-panel
      *ngFor="let groupName of groupNamesOrdered"
      [nzHeader]="groupName"
      [tourAnchor]="groupName"
      class="texera-workspace-operator-panel-subgroup"
    >
      <ul class="texera-workspace-operator-panel-subgroup-menu" nz-menu nzSelectable="false">
        <li *ngFor="let operatorSchema of operatorGroupMap.get(groupName)" class="texera-operator-label" nz-menu-item>
          <texera-operator-label [fromSearchBox]="false" [operator]="operatorSchema"></texera-operator-label>
        </li>
      </ul>
    </nz-collapse-panel>
  </nz-collapse>
</div>
