<div class="texera-workspace-operator-panel-body texera-workflow-component-body">
  <mat-accordion multi="false">
    <mat-expansion-panel class="mat-elevation-z0" *ngFor="let groupName of groupNamesOrdered">
      <mat-expansion-panel-header>
        {{groupName}}
      </mat-expansion-panel-header>
      <div *ngFor="let operatorSchema of operatorGroupMap.get(groupName)">
        <texera-operator-label [operator]="operatorSchema"></texera-operator-label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
