<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Files</h2>
    <div class="d-inline-block">
      <a
        [nzDropdownMenu]="menu"
        nz-dropdown>
        <button nz-button>
          <i
            nz-icon
            nzTheme="outline"
            nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul
          nz-menu
          nzSelectable>
          <li
            (click)="ascSort()"
            nz-menu-item>
            A -> Z
          </li>
          <li
            (click)="dscSort()"
            nz-menu-item>
            Z -> A
          </li>
          <li
            (click)="timeSortDesc()"
            nz-menu-item>
            Newest
          </li>
          <li
            (click)="timeSortAsc()"
            nz-menu-item>
            Oldest
          </li>
          <li
            (click)="sizeSort()"
            nz-menu-item>
            By Size (Descending)
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        (click)="openFileAddComponent()"
        nz-button
        nz-tooltip="Upload file"
        nzTooltipPlacement="bottom">
        <i
          nz-icon
          nzTheme="outline"
          nzType="upload"></i>
      </button>
    </div>
  </nz-card>

  <div class="section-search-bar">
    <nz-input-group
      [nzSuffix]="suffixIconSearch"
      class="texera-dashboard-user-file-search-box-input">
      <input
        (keyup.enter)="isTyping = false"
        (ngModelChange)="searchInputOnChange($event)"
        [(ngModel)]="userFileSearchValue"
        [nzAutocomplete]="auto"
        nz-input
        nzBackdrop="false"
        placeholder="Search User Files..."
        type="text" />
      <ng-template #suffixIconSearch>
        <i
          nz-icon
          nzType="search"></i>
      </ng-template>
      <nz-autocomplete
        #auto
        [nzDataSource]="filteredFilenames"
        [nzDefaultActiveFirstOption]="false"
        nzBackfill></nz-autocomplete>
    </nz-input-group>
  </div>

  <nz-card class="section-list-container">
    <!-- itemSize: the height (px) of each list item,
      this MUST be approximately the same as list item size set in CSS,
      .file-list-item sets the item size to be 70px, with additional paddings/margins it's approximately 80px
    -->
    <cdk-virtual-scroll-viewport
      class="virtual-scroll-container"
      itemSize="80">
      <nz-list>
        <nz-list-item
          *cdkVirtualFor="let dashboardUserFileEntry of getFileArray();let indexOfElement=index"
          class="file-list-item">
          <nz-list-item-meta class="file-item-meta">
            <nz-list-item-meta-title>
              <div class="file-item-meta-title">
                <h4
                  *ngIf="isEditingName.indexOf(indexOfElement) === -1; else customeFileName"
                  class="file-name">
                  {{ dashboardUserFileEntry.ownerEmail + "/" + dashboardUserFileEntry.file.name }}
                </h4>
                <ng-template #customeFileName>
                  <input
                    #customeFileName
                    (focusout)="confirmUpdateFileCustomName(dashboardUserFileEntry, customeFileName.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateFileCustomName(dashboardUserFileEntry, customeFileName.value, indexOfElement)"
                    placeholder="{{ dashboardUserFileEntry.file.name }}"
                    value="{{ dashboardUserFileEntry.file.name }}" />
                </ng-template>
                <button
                  (click)="isEditingName.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Customize File Name"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="edit"></i>
                </button>
                <button
                  (click)="isEditingDescription.push(indexOfElement)"
                  class="add-description-btn"
                  nz-button
                  nz-tooltip="Add Description"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="plus-square"></i>
                </button>
                <i
                  *ngIf="dashboardUserFileEntry.file.ownerUid === uid"
                  class="file-is-owner-icon"
                  ngbTooltip="You are the OWNER"
                  nz-icon
                  nzTheme="outline"
                  nzType="user"></i>
                <i
                  *ngIf="dashboardUserFileEntry.file.ownerUid !== uid"
                  ngbTooltip="Access shared by {{ dashboardUserFileEntry.ownerEmail }}"
                  nz-icon
                  nzTheme="outline"
                  nzType="team"></i>
              </div>
            </nz-list-item-meta-title>

            <!-- editable description of files -->
            <nz-list-item-meta-description>
              <div class="file-item-meta-description">
                <label
                  (click)="isEditingDescription.push(indexOfElement)"
                  *ngIf="(isEditingDescription.indexOf(indexOfElement) === -1); else customFileDescription "
                  class="file-description-label">
                  {{ dashboardUserFileEntry.file.description }}
                </label>
                <ng-template #customFileDescription>
                  <input
                    #customFileDescription
                    (focusout)="confirmUpdateFileCustomDescription(dashboardUserFileEntry, customFileDescription.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateFileCustomDescription(dashboardUserFileEntry, customFileDescription.value, indexOfElement)"
                    class="file-editable-description-input"
                    maxlength="500"
                    value="{{ dashboardUserFileEntry.file.description }}" />
                </ng-template>
              </div>
            </nz-list-item-meta-description>

            <nz-list-item-meta-description class="metadata-container">
              <span>Size: {{ addFileSizeUnit(dashboardUserFileEntry.file.size) }}</span>
              <span>Upload Time: {{ dashboardUserFileEntry.file.uploadTime | date: "yyyy-MM-dd HH:mm" }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button
                (click)="onClickOpenShareAccess(dashboardUserFileEntry)"
                [disabled]="!dashboardUserFileEntry.writeAccess"
                nz-button
                nz-tooltip="Share the file {{
								dashboardUserFileEntry.file.name
							}} to others"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="share-alt"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (nzOnConfirm)="deleteFile(dashboardUserFileEntry.file.fid)"
                [disabled]="!dashboardUserFileEntry.writeAccess"
                nz-button
                nz-popconfirm
                nz-tooltip="Delete the file {{
								dashboardUserFileEntry.file.name
							}}"
                nzPopconfirmTitle="Confirm to delete this file."
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="delete"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="downloadFile(dashboardUserFileEntry)"
                nz-button
                nz-tooltip="Download the {{ dashboardUserFileEntry.file.name }}"
                nzTooltipPlacement="bottom">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="download"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
