<div id="sidebar-wrapper">

    <div>
        <h3 *ngIf="attributes.length === 0" class="sidebar-brand">Edit Operator</h3>
        <h3 *ngIf="attributes.length !== 0" class="sidebar-brand">{{operator}}</h3>
        <form [hidden]="attributes.length === 0" #editOperatorForm="ngForm">

            <div class="form-group" *ngFor="let attribute of attributes">
                <label *ngIf="checkInHidden(attribute) === -1" for="{{attribute}}" class="attribute-type">
                  {{humanize(attribute)}} <span *ngIf="checkInOptionalTwitter(attribute) !== -1">(Optional)</span>
                </label>
                
                <select *ngIf="attribute === 'nlpEntityType'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let nlp of nlpEntityList" [value] = "nlp">{{nlp}}</option>
                </select>
                <select *ngIf="attribute === 'splitType'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let split of regexSplitList" [value] = "split">{{split}}</option>
                </select>
                <select *ngIf="attribute === 'splitOption'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let split of nlpSplitList" [value] = "split">{{split}}</option>
                </select>
                <select *ngIf="attribute === 'sampleType'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let sample of samplerList" [value] = "sample">{{sample}}</option>
                </select>
                <select *ngIf="attribute === 'comparisonType'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let compare of compareList" [value] = "compare">{{compare}}</option>
                </select>
                <select *ngIf="attribute === 'aggregationType'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let agg of aggregationList" [value] = "agg">{{agg}}</option>
                </select>


                <div *ngIf="attribute === 'attributes'">
                    <select class="form-control" name="{{attribute}}+Selector" [(ngModel)]="selectedAttributeMulti" (ngModelChange)="attributeAdded('multi')">
                        <option selected hidden value="">Select attributes</option>
                        <option *ngFor="let attribute of inputSchema.get(operatorId.toString())" [value] = "attribute">{{attribute}}</option>
                    </select>
                    <input class="form-control" id="{{attribute}}" placeholder="Enter attributes" [ngModel]="selectedAttributesList.toString()" (ngModelChange)="manuallyAdded($event)" name="{{attribute}}" #{{attribute}}="ngModel">

                    <!-- only display the dictionary upload button when it is related to dictionary -->
                    <div *ngIf="checkIsDictionary()">
                      <!-- [for] push the focus to the corresponding element with id that is identical to its for -->
                      <label for="file-upload" class="btn btn-default navbar-btn dictionary-upload">
                        <i class="fa fa-upload" aria-hidden="true"></i>  Dictionary Upload
                      </label>
                      <input id="file-upload" type="file" placeholder="File Name" name="filename" (change)="fileChange($event)" accept=".txt">
                    </div>
                </div>

                <div *ngIf="attribute === 'dictionaryEntries'">
                    <select class="form-control" name="{{attribute}}+Selector" [(ngModel)]="selectedDictionary" (ngModelChange)="dictionarySelected()">
                        <option selected hidden value="">Select Dictionary</option>
                        <option *ngFor="let dictionary of dictionaryNames" [value] = "dictionary">{{dictionary}}</option>
                    </select>
                    <input class="form-control" id="{{attribute}}" placeholder="Enter dictionary entries" [ngModel]="dictionaryContent.toString()" (ngModelChange)="dictionaryManuallyAdded($event)" name="{{attribute}}" #{{attribute}}="ngModel">
                </div>


                <input *ngIf="attribute === 'keywordList'" class="form-control" id="{{attribute}}" [ngModel]="data.properties.attributes[attribute]" (ngModelChange)="twitterQueryManuallyAdded($event)" name="{{attribute}}" #{{attribute}}="ngModel">

                <input *ngIf="attribute === 'locationList'" class="form-control" id="{{attribute}}" placeholder = "SW-lat, SW-long, NE-lat, NE-long" [ngModel]="locationString" (ngModelChange)="locationAdded($event)" name="{{attribute}}" #{{attribute}}="ngModel">


                <div *ngIf="attribute === 'languageList'">
                  <div *ngFor="let eachLanguage of twitterLanguageList">
                    <br>
                    <input *ngIf="twitterLanguage.indexOf(twitterLanguageMapping[eachLanguage]) > -1" type="checkbox" class="checkBox" id="{{twitterLanguageMapping[eachLanguage]}}"  (click)="twitterLanguageManuallyAdded(twitterLanguageMapping[eachLanguage])" checked>
                    <input *ngIf="twitterLanguage.indexOf(twitterLanguageMapping[eachLanguage]) < 0" type="checkbox" class="checkBox" id="{{twitterLanguageMapping[eachLanguage]}}"  (click)="twitterLanguageManuallyAdded(twitterLanguageMapping[eachLanguage])">
                    <label class="languageLabel" (click)="languageTextClicked(eachLanguage)">{{eachLanguage}}</label>
                  </div>
                </div>

                <input *ngIf="checkInOptionalTwitter(attribute) !== -1" [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" type="text" class="form-control" id="{{attribute}}" defaultValue="{{data.properties.attributes[attribute]}}" #{{attribute}}="ngModel">


                <div *ngIf="attribute === 'attribute'">
                    <select class="form-control" name="{{attribute}}+Selector" [(ngModel)]="selectedAttributeSingle" (ngModelChange)="attributeAdded('single')">
                        <option selected hidden value="">Select attributes</option>
                        <option *ngFor="let attribute of inputSchema.get(operatorId.toString())" [value] = "attribute">{{attribute}}</option>
                    </select>
                    <input class="form-control" id="{{attribute}}" placeholder="Enter attributes" [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onFormChange(attribute)" name="{{attribute}}" #{{attribute}}="ngModel">
                </div>


                <select *ngIf="attribute === 'tableName'" class="form-control" id="{{attribute}}" [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="getAttributesForTable($event)" name="{{attribute}}" #{{attribute}}="ngModel">
                    <option selected hidden value="">Select table</option>
                    <option *ngFor="let tableName of tableNameItems" [value] = "tableName">{{tableName}}</option>
                </select>


                <input *ngIf="attribute === 'password'" [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onInputChange(attribute)" name="{{attribute}}" type="password" class="form-control" id="{{attribute}}" defaultValue="{{data.properties.attributes[attribute]}}" #{{attribute}}="ngModel" required>
                <input *ngIf="checkInSelector(attribute) === -1" [(ngModel)]="data.properties.attributes[attribute]" (ngModelChange)="onInputChange(attribute)" name="{{attribute}}" type="text" class="form-control" id="{{attribute}}" defaultValue="{{data.properties.attributes[attribute]}}" #{{attribute}}="ngModel" required>
            </div>
            <button type="button" class="btn btn-default" (click) = "onDelete()">Delete</button>
            <button *ngIf="!advancedPressed" type="button" class="btn btn-default" (click) = "onAdvanced()">Advanced</button>
            <button *ngIf="advancedPressed" type="button" class="btn btn-default" (click) = "hideAdvance()">Hide Advanced</button>

        </form>
    </div>
</div>
<div id="version-number">Version: 0.1.0</div>



<modal #MyModal>
	<modal-header>
		<h3>Result</h3>
	</modal-header>
	<modal-body class="search-result">
    <div id="elem"></div>
	</modal-body>
	<modal-footer>
		<button type="button" (click)="ModalClose()" class="btn btn-default navbar-btn">Close</button>
	</modal-footer>
<modal>
