.disable-drag-drop {
  color: rgb(151, 151, 151);
  &:hover {
    border-color: rgb(217, 217, 217);
  }
}

.operator-label {
  width: 100%;
  height: calc(100% - 1px);
  display: flex;
  align-content: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border-color 0.3s, color 0.3s;
  overflow: hidden;
  &:hover {
    border-color: rgba(64, 169, 255, 1);
    > .text {
      transform: translateX(10px);
    }
  }
  > .text {
    transition: transform 0.5s 0.1s;
  }
}
