.modal-body {
  min-height: 20vh;
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;

  p {
    word-break: break-all;
    white-space: normal;
  }
}

.modal-dialog {
  overflow-y: initial !important;
}

.commentContent {
  display: flex;
  flex-wrap: wrap;
}
