name: build

on:
  push:
    branches: 
      - 'ci-enable/**'
  pull_request:
    paths-ignore:
      - 'core/scripts/**'
      - '**/.gitignore'
      - '**.md'
      - '**.csv'
      - '**.txt'
jobs:
  gui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]
    steps:
      - name: Checkout Texera
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache npm and node_modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            core/new-gui/node_modules
          key: ${{ runner.os }}-node-with-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-with-modules-
      - name: Install dependency with npm install
        run: npm --prefix core/new-gui install --progress=false
      - name: Backup - Install dependency with npm ci
        if: ${{ failure() }}
        run: npm --prefix core/new-gui ci --progress=false
      - name: Build with npm
        run: npm run --prefix core/new-gui build --prod --progress=false
      - name: Run frontend unit tests
        run: npm run --prefix core/new-gui test:ci

  amber:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs  # add cancel here since this stage is the fastest one.
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}
      - name: Checkout Texera
        uses: actions/checkout@v2
      - name: Lint with scalafmt
        run: cd core/amber && sbt scalafmtCheckAll
      - name: Compile with sbt
        run: cd core/amber && sbt clean compile
      - name: Run backend tests
        run: cd core/amber && sbt test
