<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div
  #container
  id="code-editor-container"
  class="box"
  cdkDrag
  cdkDragBoundary="texera-workspace"
  (focusin)="onFocus()">
  <h5
    id="title"
    (focus)="onFocus()"
    cdkDragHandle>
    {{ languageTitle }} : {{ title }}
    <button
      nz-button
      nzType="text"
      nzSize="large"
      nzShape="circle"
      id="close-button"
      (click)="componentRef?.destroy()">
      <span
        nz-icon
        nzType="close"></span>
    </button>
  </h5>
  <div
    #editor
    id="code-editor"></div>
  <ng-container *ngFor="let user of coeditorPresenceService.coeditors">
    <div [innerHTML]="this.getCoeditorCursorStyles(user)"></div>
  </ng-container>
</div>

<ng-container
  *ngComponentOutlet="codeDebuggerComponent; inputs: {monacoEditor:this.editorToPass, currentOperatorId: this.currentOperatorId}">
</ng-container>

<texera-annotation-suggestion
  *ngIf="showAnnotationSuggestion"
  [code]="currentCode"
  [suggestion]="currentSuggestion"
  [top]="suggestionTop"
  [left]="suggestionLeft"
  (accept)="acceptCurrentAnnotation()"
  (decline)="rejectCurrentAnnotation()">
</texera-annotation-suggestion>
